.dashboard .marketing { padding: 0; margin-bottom: 1em; position: relative; }
.marketing .slides li { display: none; background-position: center; background-size: cover; background-repeat: no-repeat; }
.marketing-text { margin-top: 200px; background-color: #000; background-color: rgba(30,30,30,.9); padding: 1.25em; }
.marketing-text h2 { margin-top: 0; margin-bottom: .15em; color: #fff; }
.marketing-text p { font-size: 18px; font-size: 1.125rem; margin-bottom: 1.5em; color: #bfbfbf; }

.flex-control-nav { list-style: none; margin: 0; padding: 0; position: absolute; bottom: -40px; left: 0; width: 100%; text-align: center; }
.flex-control-nav li { display: inline-block; margin-left: .35em; margin-right: .35em; }
.flex-control-nav a { display: block; text-indent: -9999em; border-radius: 50%; width: 10px; height: 10px; background-color: #a9a9a9; }
.flex-control-nav .flex-active { background-color: #96c93d; }


@media screen and (min-width: 769px) {
	.marketing-text { margin-top: 400px; padding: 2em; padding-right: 200px; }
	.marketing-text p { margin-bottom: 0; }
	.marketing-text .button { position: absolute; right: 2em; top: 50%; margin-top: -19px; }
}