@import url("/VPanel/modules/forms/form-builder/form-builder-widgets.css");

/* Hide Sidebar open button */
div.sidebar-hidden { display: none; }

/* To help with floats inside of block elements */
.clearfix:after, .clearfix:before { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.edit-helper { position:absolute; height: 30px !important; top:0px; left:0px; z-index:999999999999; display:block; width:80%; min-width:180px; }

html body div.template-container div.form-builder ul .is-editing{
    background:white;color:black;
}
body.sidebar-hidden div.template-container{
    padding:0;
    width:100%;
    margin:0;
    background:transparent;
}
.form-builder.helper{ height:auto; min-height:50px;}
.form-builder.helper .required-switch{ display:none;}
.form-builder.helper .close-button{ display:none; }

.form-builder.helper .widget-list{ display:none;}
.form-builder{ height: 100%; min-height: 100%; background: #EEE; position: relative; top:0px; border:none; }
.form-builder *{ margin:0;padding: 0; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.form-builder ul{  }
.form-builder li{ list-style:none; }

.form-builder .form-builder-canvas{  }

.widget-list { width:17%; position:relative; top:0; bottom:0; }
.widget-list.is_stuck { bottom: auto; }
.widget-list .list{ float: left; padding: 7% 0; width:86%; margin-left:7%;margin-right:auto;}
/*.form-builder .form-builder-canvas .widget-list .list li { overflow:hidden;font-size:11px;color:white; text-align:center; padding:3px 3px 4px 5px; text-transform:uppercase; margin-bottom: 5px; cursor:move; border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px;}*/
.widget-list .list li { display: block; margin: 0 0 3px; padding: 4px 5px 4px 35px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border: 1px solid #CDCDCD; font: bold 12px/20px Arial, Helvetica, sans-serif; color: #747474; background: #FFF; cursor: move; }
/* Icons for Buttons */

.widget-list .list li[data-widget] {  background: #FFF url("images/icon-custom.jpg") 5px center no-repeat;  }
.widget-list .list li[data-widget="Zip"] { background: #FFF url("images/icon-zip.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Number"] { background: #FFF url("images/icon-number.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Phone"] { background: #FFF url("images/icon-phone.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="SSN"] { background: #FFF url("images/icon-ssn.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Address"] { background: #FFF url("images/icon-address.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Single Line Text Field"] { background: #FFF url("images/icon-textfield.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Checkbox(s)"] { background: #FFF url("images/icon-checkbox.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Multi Line Text Field"] { background: #FFF url("images/icon-comment.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Email"] { background: #FFF url("images/icon-email.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Heading Text"] { background: #FFF url("images/icon-heading.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Drop Down Menu"] { background: #FFF url("images/icon-dropdown.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Paragraph Text"] { background: #FFF url("images/icon-paragraph.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Multiple Choice"] { background: #FFF url("images/icon-radio.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="URL"] { background: #FFF url("images/icon-website.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Date"] { background: #FFF url("images/icon-date.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Datetime"] { background: #FFF url("images/icon-datetime.jpg") 5px center no-repeat; }
.widget-list .list li[data-widget="Time"] { background: #FFF url("images/icon-time.jpg") 5px center no-repeat; }
.widget-list .list li:hover { box-shadow: inset 0 -1px 0 rgba(0,0,0,.1); border: 1px solid #9d9d9d; }


/*font-style:italic;text-shadow: 0px 1px 1px rgba(255,255,255,0.9);margin-bottom:11px;text-align: center; border-radius:10px; cursor:move;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.40), inset 0 0 30px -2px #fff;; -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.40), inset 0 0 30px -2px #fff;; -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.40), inset 0 0 30px -2px #fff; }*/


.form-builder .form-builder-canvas .widget-list.is_stuck { top: 0; }
.form-builder .form-builder-canvas .settings-list{ float:left;}
.form-builder .form-builder-canvas .settings-list .list{}

.form-builder .form-builder-canvas .canvas{ float:left; width: 83%; background:#ddd;height:400px;}
.form-builder .form-builder-canvas .canvas .form{ position:relative; width:100%;height:100%; }
.form-builder .form-builder-canvas .cell{ background: #FFF url("images/paper-tears.jpg") left top repeat-y; float:right; width:83%; }

/* helper used for drag drop clone */

.helper.form-builder *{ }
.helper.form-builder { display:none;cursor:move;position:absolute; top:0px;left:0px;z-index:9999999;}
.helper.form-builder .form-builder-canvas .widget-list .list{ padding:0; }
.helper.form-builder .form-builder-canvas .widget-list { background:transparent}
.helper.form-builder .form-builder-canvas .cell{  background:transparent; float:left;width:auto;height:auto;}
/* colors */

.form-builder .button-bg{ background: rgba(38,114,236,0.93); }

.commented-out-markup-templates{ display:none; }

.pbform { margin-left: 25px; }



