

/* WIDGET STYLES */
.loading{
    width:100px;
    height:32px;
    padding-top:33px;
    text-align:center;
    font-size:9px;
    color:#eee;
    position:absolute;
    right:90px;
    top:7px;
    z-index:99999999999999999;
    background:transparent url("/VPanel/images/sine.png") repeat-x;
    background-position: 0px 0px;
    -webkit-animation:loadingAnimation;
    -webkit-animation-duration: 400ms;
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite;
    animation:loadingAnimation;
    animation-duration: 400ms;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    -moz-animation:loadingAnimation;
    -moz-animation-duration: 400ms;
    -moz-animation-timing-function: linear; 
    -moz-animation-iteration-count: infinite;
    opacity:0;
    filter: alpha(opacity = 0);
}

label.required span:after { content: " *"; color: #AA0000; }




@keyframes loadingAnimation
{
    0%   {background-position: 0px 0px;} 
100% {background-position: 25px 0px;}
}

@-moz-keyframes loadingAnimation /* Firefox */
{
    0%   {background-position: 0px 0px;} 
100% {background-position: 25px 0px;}
}

@-webkit-keyframes loadingAnimation /* Safari and Chrome */
{
    0%   {background-position: 0px 0px;} 
100% {background-position: 25px 0px;}
}





.form-builder .error-list{ font-size:10px; padding:0; background: white; color:#D8000C; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.form-builder .error-list li { margin:0; list-style:none; text-indent:20px; background-color:#FFBABA; border:1px solid #D8000C; margin-bottom:6px; padding:8px 10px 10px 50px;}
.form-builder .error-list li.heading{ font-size:16px; color:#D8000C;background:transparent; border:none; padding-left:0; text-indent:0;}
.form-builder .cell .fb-duplicate-helper{ color:white; margin: 0 0 15px; }
.form-builder .cell .fb-duplicate-helper span{
    display:none;
}
.form-builder .cell .fb-duplicate-helper a { 
    display:inline-block;
    background:#AAA url("images/add-field.png") center no-repeat;
    text-indent: -9999em;
    border-radius: 2px;
    color:white;
    text-decoration:none;  
    vertical-align:middle;
    text-align:center;
    width:20px;
    height: 20px;
    letter-spacing:4px;
    cursor:pointer;
    font-weight:bolder;
    font-size:14px;
    margin: 0 5px 0 0;
}
.form-builder.helper .cell{
    min-height:30px;
    height:auto;
}
.form-builder .cell{
    min-height:600px;
    height:auto;
}
.form-builder .cell .fb-duplicate-helper a.fb-duplicate-delete{
    background: #AAA url("images/remove-field.png") center no-repeat;
}
.form-builder .cell .fb-duplicate-helper a:hover{ opacity:1.0; background-color: #7eb357;}
.form-builder .cell .fb-duplicate-helper a.fb-duplicate-delete:hover{ background-color: #d04b4b;}
body .form-builder .cell .widget *{
    -webkit-user-select:auto;
}
.form-builder ul.form-builder-canvas .widget { padding: 10px 10px 10px 30px; }
.form-builder .widget{ padding: 6px 0; /*border:1px dashed rgba(68,143,255,0.93);*/ border-bottom: 1px dashed #CCC; width:auto;height:auto; /*background:  rgba(238,238,238,0.87);*/ color:rgba(130,130,136,1); }
.form-builder .widget.basic-form-styles input, .form-builder .widget.basic-form-styles select, .form-builder .widget.basic-form-styles label{
    display:block;
}
.form-builder .widget.basic-form-styles div.radio-super-label{
    font-size:15px;

}

.helper.form-builder  .cell {
    min-width:300px;
    overflow:visible;
}
.helper.form-builder  .cell .widget.basic-form-styles{
    position:absolute;
    left:0px;
    top:0px;
    min-width:190px;

}
.form-builder  .cell .widget.basic-form-styles{
    position:relative;
    min-height:75px;
    clear:both;
}

.helper.form-builder .form-builder-canvas .canvas { height:0px;}
.form-builder .widget.basic-form-styles input, .form-builder .widget.basic-form-styles select{ background: #fefefe; border-color:#CCC;
    font-size:14px;

}
.main .form-builder .widget.basic-form-styles .widgit-heading > span { font-style: normal; }
.form-builder input[type="text"], .form-builder input[type="email"], .form-builder input[type="date"], .form-builder input[type="time"], .form-builder input[type="num"], .form-builder input[type="tel"], .form-builder select, .form-builder textarea {
    border-radius:2px;	-moz-border-radius: 2px; -webkit-border-radius: 2px;
    width:100%;
    min-width:90px;
    max-width:270px;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,.1);
    border: 1px solid #CCC;
    padding: 5px;
    font-size: 13px;
    color: #303030;
    margin: 0 0 2px;
    box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
    /* IE7 doesn't like box-sizing, will ignore */
}
.form-builder .widget.basic-form-styles textarea{
    max-width:590px;
    width:90%;
}
textarea.edit-helper{
    max-width:none;
    width:auto; 
}
.form-builder input[type="text"]:focus, .form-builder input[type="email"]:focus, .form-builder input[type="date"]:focus, .form-builder input[type="num"]:focus, .form-builder input[type="tel"]:focus, .form-builder select:focus, .form-builder textarea:focus { 
    border: 1px solid rgba(52,163,255,.75);
    background: #f9fdff;
}
.form-builder textarea { height: 50px; width: }
.form-builder .widget.basic-form-styles label{
    margin-bottom:9px;
}
.form-builder .widget.basic-form-styles label {
    text-transform: none;
    font: bold 12px/18px "Robot", Arial, Helvetica, sans-serif;
    color: #303030;
    margin: 0 0 3px;
}
.cell .widget.basic-form-styles a.required-switch.on{
    color:white; 
    -moz-box-shadow: inset 0px 0px 4px #c29024; -webkit-box-shadow: inset 0px 0px 4px #c29024;box-shadow: inset 0px 0px 4px #c29024;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdc52', endColorstr = '#ffaa57');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdc52', endColorstr = '#ffaa57')"; 
    background-image: -moz-linear-gradient(top, #ffdc52, #ffaa57); background-image: -ms-linear-gradient(top, #ffdc52, #ffaa57); background-image: -o-linear-gradient(top, #ffdc52, #ffaa57); background-image: -webkit-gradient(linear, center top, center bottom, from(#ffdc52), to(#ffaa57)); background-image: -webkit-linear-gradient(top, #ffdc52, #ffaa57); background-image: linear-gradient(top, #ffdc52, #ffaa57); -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; zoom: 1;

}

a.is-reviewed-switch[data-isreviewed="true"]{     
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color:white; 
    background-color:#ea3;
    /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
    -moz-box-shadow: inset 0px 0px 4px #c29024;
    -webkit-box-shadow: inset 0px 0px 4px #c29024;
    box-shadow: inset 0px 0px 4px #c29024;
    /*Inner elements should not cover inner shadows*/
    /*Chrome renders inset shadows incorrectly with border-radius*/
    /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdc52', endColorstr = '#ffaa57');
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffdc52', endColorstr = '#ffaa57')";
    /*Element must have a height (not auto)*/
    /*All filters must be placed together*/
    background-image: -moz-linear-gradient(top, #ffdc52, #ffaa57);
    background-image: -ms-linear-gradient(top, #ffdc52, #ffaa57);
    background-image: -o-linear-gradient(top, #ffdc52, #ffaa57);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ffdc52), to(#ffaa57));
    background-image: -webkit-linear-gradient(top, #ffdc52, #ffaa57);
    background-image: linear-gradient(top, #ffdc52, #ffaa57);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    zoom: 1;

    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
}


a.is-reviewed-switch{  
    font-size:12px; 
    color:white;
    padding:5px 11px;
    cursor:pointer;
    background-color:#ccc;
    border-color:#ccc;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px; 
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 100);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/

    color:#f6f6f6;
    box-shadow:none;


}


.cell .widget.basic-form-styles a.required-switch{
    position:absolute;
    bottom:4px;
    right:4px;
    font-size:12px; 
    color:white;
    padding:5px 11px;
    cursor:pointer;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffffff; 
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 100);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity = 100);
    /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
    /*All filters must be placed together*/
    background: #f8f8f8;
    color:#c0c0c0;
    box-shadow:none;
}


.cell .widget.basic-form-styles a.close-button{
    position:absolute;
    top:0;
    right:0;
    width:2%;
    padding:2px;
    font-size:14px;
    color:white;
    text-transform:uppercase;
    text-decoration: none;
    cursor:pointer;
    text-align:center;
    background: #ddd;
    font-weight:bolder;
    -webkit-transform: all 200ms ease-in-out;
}

.cell .widget.basic-form-styles a.copy-button{
    position:absolute;
    top:0;
    right:25px;
    width:2%;
    padding:2px;
    font-size:14px;
    color:white;
    text-transform:uppercase;
    text-decoration: none;
    cursor:pointer;
    text-align:center;
    background: #ddd;
    font-weight:bolder;
    -webkit-transform: all 200ms ease-in-out;
}

.cell .widget.basic-form-styles a.copy-button:hover{
    background-color:#7eb357;
}

.cell .widget.basic-form-styles a.close-button:hover{
    background-color:#f99;
}



body.sidebar-hidden .content.framework .template-container{ max-width:none;}




.form-builder >.header { position: relative; z-index: 10000; width:100%; height:60px; /*background: rgba(54,54,69,0.8);*/ background: #747575; background: -moz-linear-gradient(top,  #747575 0%, #515151 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747575), color-stop(100%,#515151)); background: -webkit-linear-gradient(top,  #747575 0%,#515151 100%); background: -o-linear-gradient(top,  #747575 0%,#515151 100%); background: -ms-linear-gradient(top,  #747575 0%,#515151 100%); background: linear-gradient(to bottom,  #747575 0%,#515151 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#747575', endColorstr='#515151',GradientType=0 ); zoom: 1; color:white; box-shadow: inset 0 -1px 1px rgba(0,0,0,.75), inset 0 1px 3px rgba(0,0,0,.35), 0 1px 3px rgba(0,0,0,.5); }
.form-builder > .header li{float:left;  height:auto;display:block;}
.form-builder >.header > li:first-child{
    background:  url("/VPanel/images/icon-form-builder-tiny.png") no-repeat;
    background-size:42px 42px;
    background-position: 40% 40%;
    width:90px; 
    height:60px;
}
.form-builder >.header > li.titlebar{
    margin-top:18px;
    font-size:18px;
    font-style:italic;
}


.form-builder >.header > li:nth-child(3){ 
    font-style:italic;
    float:right;
    width:30px;
    height:60px;
}

.form-builder >.header > li.fb-settings-button{
    cursor:pointer;
    font-style:italic;
    margin: 10px 10px 0 0;

    float:right;
    width: 40px;
    height: 40px;
    /*background: transparent url("/VPanel/modules/assets/forms/form-builder/gear.png") no-repeat center center;*/
    background: rgba(255,255,255,.1) url("/VPanel/modules/forms/form-builder/images/button-settings.png") center no-repeat;
    overflow:visible;
    background:url("/VPanel/modules/forms/form-builder/images/button-settings.png") center no-repeat;
    border-radius: 3px; 
    border: 1px solid rgba(0,0,0,.5); 
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), inset 0 -1px 1px rgba(0,0,0,.5), 1px 1px 0 rgba(255,255,255,.05);
}
.form-builder > .header > li.fb-settings-button:hover { background-color: rgba(255,255,255,.15); }


.form-builder >.header > li.fb-settings-button > a.slap{  position:absolute; top:10px; width:40px; height:40px;  }
.form-builder > .header > li.fb-settings-button > ul > li *{

    -webkit-user-select:auto;
}

.form-builder > .header > li.fb-settings-button > ul > li label > span{
    display:block;
    float:none;
    color:#aaa;
}
.form-builder > div.settings *{
    -webkit-touch-callout: auto; -webkit-user-select: auto; -khtml-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto;
}
.form-builder > div.settings > li input[type="text"],.form-builder > div.settings > li select{
    width:80%  ;
    margin-bottom:11px;
}


.form-builder > div.settings > li > label > span{
    width: 28%;display:inline-block;
    text-align:right;
    padding-right:11px;

}

.form-builder > div.settings > li{
    display:block;
    float:none;
    width:100%;
    min-height:30px;
}
.form-builder > div.settings{
    padding-top:20px;
    padding-bottom:40px;
    background:white;
    width:100%;
    height:auto;
    position:absolute;
    top:60px;
    left:0px;
    z-index:900123123;
    border:1px solid #888;
    color:black;
    -moz-box-shadow: 0 0 35px 3px rgba(44,44,44,0.53);
    -webkit-box-shadow: 0 0 35px 3px rgba(44,44,44,0.53);
    box-shadow: 0 0 35px 3px rgba(44,44,44,0.53);

    display:none;
}

/* submit button */
.submit-me-not{
    padding:11px;
    display:block;
    color: white;
    font: bold 13px/18px "Robot", Arial, Helvetica, sans-serif;
    background: #005941 url("/images/bg-submit.jpg") left top repeat-x;
    border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
    text-decoration:none;
    cursor:pointer;
    text-align: center;
    max-width: 150px;
}

.submit-me-not:hover{
    color: #FFF;
    opacity: .9;
    filter: alpha(opacity=90);
}

.ui-sortable-helper { background: #FFF; box-shadow: 0 0 5px rgba(61,168,229,.5); border: 1px solid rgba(61,168,229,.75) !important; z-index: 2000 !important; }


/* FRONT END CHANGES */
.pagebase .cell .widget.basic-form-styles a.required-switch{ display:none; }
.pagebase .cell .widget.basic-form-styles a.close-button{display:none;}
.pagebase .cell .widget.basic-form-styles div.fb-duplicate-helper{display:none;}
.pagebase .form-builder .widget{ border:none; }




html  body .form-builder .widget.basic-form-styles .widgit-paragraph{

}
html body .form-builder .widget.basic-form-styles .widgit-paragraph > span{

    display:block;
    min-height:18px;
    font-size:14px;
    font-weight:normal;
    text-decoration:none;
}

html body .form-builder .widget.basic-form-styles .widget-separator{}
html body .form-builder .widget.basic-form-styles .widget-separator div{
    width:100%;
    height:0px;
    min-height:0px;
    border-bottom:1px solid #ccc; 
    margin-top:15px;
    margin-bottom:11px;

}


html body .form-builder .widget.basic-form-styles .widget-account{ height:60px;}
html body .form-builder .widget.basic-form-styles .widget-account_number{ float:left; clear:left; margin-right:8px;}
html body .form-builder .widget.basic-form-styles .widget-account_type{ float:left; clear:right; }
