/* Reset browser styles */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,main,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Global Classes */
.absolute{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.line-through{text-decoration:line-through}
.highlight{background:#ffc}
.nobullets{list-style:none;margin:0;padding:0}
.floatRight{float:right}
.floatLeft{float:left}
.floatNone{float:none}
.photoLeft{float:left;margin:0 10px 10px 0}
.photoRight{float:right;margin:0 0 10px 10px}
.upperCase{text-transform:uppercase}
.lowerCase{text-transform:lowercase}
.smaller{font-size:smaller}
.larger{font-size:larger}
.alignLeft{text-align:left}
.alignRight{text-align:right}
.alignJustify{text-align:justify}
.alignCenter{text-align:center}
.block{display:block}
.none{display:none}
.inline{display:inline}
.clear{clear:both}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.overFlow{overflow:auto}
.nowrap {white-space: nowrap;}
.underline {text-decoration:underline;}
.reader-only,
.reader-focusable { position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden; }
.reader-focusable:focus { left: 0; width: auto; height: auto; padding: 1em; background-color: #fff; color: #000; }

/* Structure Globals */
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-text-size-adjust:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
.text-medium{font-size:18px}
.text-large{font-size:20px}
.container{width:90%;margin: 0 auto}
.skip-nav { position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}  
.skip-nav:focus { position:static; width:auto; height:auto; } 

/* Responsive Elements */
img{max-width:100%;height:auto}

/* Back to Top */
.back-to-top { position: fixed; bottom: 15px; right: 15px; }
.back-to-top img { display: block; }

/* Mobile Menu */
.mobilemenu { position: absolute; width: 0%; right: 0; top: 0; height: auto; min-height: 100%; background: #3e3e3e; z-index: 999; transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; -ms-transition: 1s; -o-transition: 1s; overflow: hidden; box-shadow: -2px 0px 10px rgba(0,0,0,.35)}
.mobilemenu.active { display: block !important; width:80%}
.mobilemenu ul { list-style: none; margin: 0; padding: 0; }
.mobilemenu ul li a { display: block; padding: 15px; border-bottom: 1px solid rgba(0,0,0,.05); color: #FFF; text-decoration: none; font-size: 14px; font-size: .875rem; font-weight:bold; white-space: nowrap}
.mobilemenu ul li a:hover, .mobilemenu ul li a:active { background: #333; }
.mobilemenu ul li .ui-state-active, .mobilemenu ul li .active { background: #404040; border-color: transparent; }
.mobilemenu ul ul { display:none; background: #2e2e2e; }
.mobilemenu ul ul li .active { background: #303030; }
.mobilemenu ul ul ul { background: #202020; }
.mobilemenu ul ul li a { padding: 10px; color: #ccc; font-size: 13px; }
.mobilemenu .login { background: #2e2e2e; padding: 15px; }
.mobilemenu .login a { padding: .75em 0; }
.pagewrap { position: relative; right: 0; width: 100%; z-index: 10; transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; -ms-transition: 1s; -o-transition: 1s; }
.pagewrap.shift { right: 80%; position: fixed; }
.openmobile { display: block; position: relative; overflow: hidden; width: 30px; height: 30px; font-size: 0; text-indent: -9999em; cursor: pointer; float: right; margin: 13px 0 10px; }
.openmobile span { display: block; position: absolute; top: 12px; left: 0; right: 0; height: 2px; background: #a0a0a0; -webkit-transition: background .5s; transition: background .5s; }
.openmobile span:before, .openmobile span:after { content: ""; position: absolute; left: 0; display: block; width: 100%; height: 2px; background: #a0a0a0; -webkit-transition-duration: .3s, .3s; transition-duration: .3s, .3s; -webkit-transition-delay: .3s, 0; transition-delay: .3s, 0; }
.openmobile span:before { top: -7px; -webkit-transition-property: top, -webkit-transform; transition-property: top, transform; }
.openmobile span:after { bottom: -7px; -webkit-transition-property: bottom, -webkit-transform; transition-property: bottom, transform; }
.openmobile.active span { background: none; }
.openmobile.active span:before { top: 0; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);  }
.openmobile.active span:after { bottom: 0; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
.openmobile.active span:before, .openmobile.active span:after { -webkit-transition-delay: 0, .3s; transition-delay: 0, .3s; }


/* Buttons */
.button{border-radius:.35em;padding:.65em 1.5em;text-align:center;text-decoration:none!important;font-weight:normal;line-height:1;display:inline-block;text-transform:uppercase;border:0;cursor:pointer; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; -ms-transition: all .35s ease-in-out; -o-transition: all .35s ease-in-out; transition: all .35s ease-in-out;}
.button.mini{font-size:13px;font-size:.813rem}
.button.large{font-size:16px;font-size:1rem}
.button.block{display:block;padding-left:0;padding-right:0}
.button.green{background:#96c93d;color:#283611}
.button.green:hover{background:#669f3c}
.button.green.outline{background:#fff; border:2px solid #96c93d; color:#283611}
.button.green.outline:hover{background:#96c93d; color:#283611}
.button.blue{background:#1e4288;color:#FFF}
.button.blue:hover{background:#275296}
.button.silver{background:#6e6e6e;color:#FFF}
.button.silver:hover{background:#7e7e7e;}
.button.red{background:#d64444;color:#FFF}
.button.red:hover{background:#d14242}
.button.yellow{background:#f3ba1a;color:#152D53}
.button.yellow:hover{background:#DD971A}

/* Notifications */
#wizard li .message { font-size: 14px; font-size: .875rem; border-radius: 0; padding: 1em; margin-bottom: 0; }
.message,.notification{border-radius:3px;padding:10px;font-size:14px;font-size:.875rem;margin:0 0 1rem;color:#FFF}
.message p{color:#FFF;margin:0;font-size:14px;font-size:.875rem}
.success,.valid{background:#D5FFCE;border-color:#9ADF8F;color:#556652!important;font-size:14px;font-size:.875rem}
.success h1,.valid h1{margin-top:1px;font-size:16px;font-size:1rem;color:#556652!important}
.message.error,.notification.error,.invalid{background:#c54747}
.warning{background:#e99a29}
.info{ background-color: #c9e7f1; color: #2a7097; }

/* error message */
input[type=date],input[type=email],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],input[type=file],select,textarea{border-radius:3px;border:1px solid #CCC;padding:5px;width:100%;margin:0;font-size:14px;font-size:.875rem}
input[type=date]:focus,input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,input[type=file]:focus,select:focus,textarea:focus{border:1px solid #09F;box-shadow:0 0 5px rgba(0,153,255,.5)}
textarea{width:100%;height:100px}.none{display:none}
input[type="submit"],button{-webkit-appearance:none}

/* Form Errors */
.required:after { content: ' *'; color: #900; font-weight: bold; }
.form input.error,.form select.error,form textarea.error{background:url(/Images/form_error.gif) right no-repeat #fff1ec}
.form input.corrected{background:url(/Images/form_check.gif) right no-repeat}
.errors, p#errorMessage{width:100%;margin-top:10px;font-weight:700;text-transform:uppercase;color:rgba(230, 30, 38, 1);text-align:center;line-height:34px;background:url(/Images/fm_error.gif) 15px 10px no-repeat #fff6f7;border:1px solid #fff1ec}
span.required{color:red}
.requiredItems{font-size:.75rem;line-height:18px}

/* Unknown Errors */
.vasc-form-error-list{ background:#f7f4c9; padding:21px;margin:0; margin-bottom:18px;font-family:Segoe UI, Helvetica, Arial, sansserif; border-radius:7px; border:1px solid #c22170; color:#c22170;}
.vasc-form-error-list li { list-style:none; margin-left:7px; margin-bottom:9px;}
.vasc-form-error-list .head { list-style:none; margin-left:0; font-style:italic;}

/* Site Search */
#results .description { border-bottom: 1px solid #DDDDDD; color: #656565; font-size: 14px; font-size: .875rem; margin: 0 0 15px; padding: 0 0 15px;}
#results .url { color: #826739; font-size: 12px; font-size: .75rem; }
#results .title { color: #005941; font-size: 16px; font-size: 1rem; text-decoration: none; }
#results a:hover { color: #767676; text-decoration: underline; }
/* Search Results */
.searchBox .options td{ padding:0;  margin:0;  text-align:left; }
.searchBox .options input{ vertical-align:middle; }

/* Site Map
-------------------------------- */
/*ul#utilityNav { display: none; }*/
.primaryNav { list-style: none; margin: 0 0 20px; padding: 0; }
/*ul#primaryNav li { display: block; margin: 0 0 5px; }
ul#primaryNav li a { display: block;  padding: 7px 10px; font: bold 13px Arial, sans-serif; color: #005941; background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); background: linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); box-shadow: inset 0 -1px 1px rgba(255,255,255,1), inset 0 1px 0 #FFF, 0 1px 2px rgba(0,0,0,.35); border-radius: 3px; text-decoration: none; transition: .4s; -moz-transition: .4s; -webkit-transition: .4s; -ms-transition: .4s; -o-transition: .4s; text-decoration: none; border-top: 2px solid #005941; }
ul#primaryNav li a:hover { color: #707070; background: #FFF; }
*/
/* Second Level */
#primaryNav li ul { list-style: none; margin: 5px 20px 25px; padding: 0; }
#primaryNav li ul li { display: block; float: none; width: 100%; margin: 0; }
#primaryNav li ul li a { display: block; padding: 7px 0; font: normal 12px Arial, Helvetica, sans-serif; text-transform: none; color: #343434; border-bottom: 1px solid #DDD; background: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; border-top: 0; }
#primaryNav li ul li a:hover { text-decoration: underline; color: #656565; padding: 7px 10px; background: none; }

/* Third Level */
#primaryNav li ul li ul { margin: 5px 0 0 25px; }

/* Tyopgraphy */
abbr, acronym { border-bottom: 1px dotted #000; cursor:help; }
del { color: #000; }
hr { background:#cae3ae; margin:2em auto; clear:both; height: 10px; border:none;}
sup { vertical-align: super; }
sub { vertical-align: sub; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl dd { margin-left: 1.5rem; }
dl dt, dfn, strong, b { font-weight: bold; }
em, dfn, i { font-style: italic; }
b em, em b, strong em, em strong { font-weight: bold; font-style: italic; }


@media screen and (min-width: 769px) {
/* Mobile Menu */
.mobilemenu { display: none !important; }
.pagewrap.shift { left: 0; }

.container{width:96%;max-width:1200px}
.eightcol,.elevencol,.fivecol,.fourcol,.ninecol,.onecol,.sevencol,.sixcol,.tencol,.threecol,.twocol{float:left;margin-right:2%}.last{margin-right:0}.onecol{width:6.5%}.twocol{width:15%}.threecol{width:23.5%}.fourcol{width:32%}.fivecol{width:40.5%}.sixcol{width:49%}.sevencol{width:57.5%}.eightcol{width:66%}.ninecol{width:74.5%}.tencol{width:83%}.elevencol{width:91.5%}.twelvecol{float:left;width:100%}
}