@import '/css/modules/tabbed-content.css';
/* Structure
----------------------------------------*/
body { background: #FFF; color: #232323; font-size: 16px; font-size: 1rem; }
.pagewrap { background: #FFF; }
.transport-hm > div { padding: 15% 0; }
/*body.services.transportation-translation .content.subcontent > .container { width: 100% !important; max-width: 100% !important; }*/

body.yourhomelinkorders .menu {

    display: none;

}

/* Header
---------------------------------------- */
.masthead { background: #152C52; position: relative; z-index: 5; padding: 10px 0 7px; color: #FFF; }
.logo { }
.secondary-nav { display: none; }


/* Member Login */
fieldset.loginForm { background: #e4e4e4; padding: 2em; }
.loginForm ul { list-style: none;  margin: 0 !important; }
.loginForm h2 { font-weight: normal; color: #414141; margin-top:0; }
.loginForm .submitBtn { background: #1e4287; padding: 10px 10px; display: block; margin: 10px auto; text-align: center; color: #fff; width: 100%; font-weight: normal; text-transform: uppercase; border: none; cursor:pointer; }
.loginForm .submitBtn:hover {background:#11306E;}
.loginForm .modalInput,
.loginForm .modalInput:active,
.loginForm .modalInput:focus,
.loginForm .modalInput:visited { color: #00468b; }
#success.info,
#error.errors { line-height: normal; padding: 1em; font-weight: bold; text-align: center; font-size: 14px; font-size: .875rem; }

/* Form Builder */

.pbform ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pbform li div, .contactform li {
    margin-bottom: 1em;
}
.pbform li::before, .pbform li::after {
    content: "";
    display: table;
}
.pbform li::after {
    clear: both;
}
.pbform li:last-child {
    margin-bottom: 0;
}
.pbform li h3 {
    margin: 25px 0 5px;
}
.pbform li label {
    display: block;
    font-weight: bold;
    margin: 0 0 3px;
}
.pbform li .inline {
    display: inline;
    margin-left: 10px;
}
.pbform li .nomargin {
    margin: 25px 0 0;
}
.pbform .copy-button, .required-switch, .pbform .close-button, .pbform .fb-duplicate-add, .pbform .fb-duplicate-delete {
    display: none;
}
.pbform .fbList li {
    margin-bottom: 0.25em;
}
.pbform #btnSubmit {
    margin-top: 2em;
}

/* Content
------------------------------------------ */
.maincontent { padding: 0; }
/*.maincontent img { margin: 15px; }*/
/*.main {padding-right:3em;}
/* Triangle SVG */
.triangle { padding: 3em 0; text-align: center; }
.triangle svg { max-height: 500px; display: block; margin: 0 auto 1.5em; }
.triangle-tooltip { position: static; width: 90%; text-align: left; padding: 1.5em; border-radius: .5em; margin: .5em 5% 0; }
.triangle-tooltip h3,
.triangle-tooltip p { color: #fff; margin: 0; }
.triangle-tooltip h3 { font-weight: bold; text-transform: uppercase; }
.service-tooltip { background-color: #6e6e6e; display: block}
.network-tooltip { background-color: #58B6E7; }
.process-tooltip { background-color: #00468B; }
.software-tooltip { background-color: #82C341; }

@media screen and (min-width: 1200px) {
	.triangle svg { max-height: 500px; }
	.triangle-tooltip { display: none; position: absolute; margin: 0; width: 400px; }
	.triangle-tooltip:before { content: ''; position: absolute; top: 50%; margin-top: -100px; border: 100px solid transparent; }
	.triangle-tooltip h3 { font-weight: bold; text-transform: uppercase; }
	.service-tooltip { left: 0; top: 5%; padding-right:3%; display: block;}
	.service-tooltip:before { border-left-color: #6e6e6e; right: -200px;}
	.service-tooltip:after {content: url(../images/icon-service-triangle.png); position: absolute; right: -75px; top: 41%;}
	.network-tooltip { right: 0; top: -10%; padding-left:3%; }
	.network-tooltip:before { border-right-color: #58B6E7; left: -200px; }
	.network-tooltip:after {content: url(../images/icon-network-triangle.png); position: absolute; left: -80px; top: 38.5%;}
	.process-tooltip { left: 0; bottom: 25%; padding-right:3%; }
	.process-tooltip:before { border-left-color: #00468B; right: -200px; }
	.process-tooltip:after {content: url(../images/icon-process-triangle.png); position: absolute; right: -75px; top: 30%;}
	.software-tooltip { right: 0; bottom: 5%; padding-left:3%; }
	.software-tooltip:before { border-right-color: #82C341; left: -200px; }
	.software-tooltip:after {content: url(../images/icon-software-triangle.png); position: absolute; left: -75px; top: 39.5%;}
}

@media screen and (min-width: 1500px) {
	.triangle-tooltip { width: 500px; }
	.service-tooltip { left: 5%; }
	.process-tooltip { left: 2%; }
	.network-tooltip { right: 5%; }
}

@media screen and (min-width: 2200px) {
	.triangle svg { max-height: 700px; }
	.triangle-tooltip { width: 600px; }
	.service-tooltip { left: 15%; top: 5%; }
	.network-tooltip { right: 15%; top: 5%; }
	.process-tooltip { left: 10%; bottom: 20%; }
	.software-tooltip { right: 10%; bottom: 20%; }
}

/* Animations
------------------------------------------ */

	/* Checkmarks - Homepage */
	.checkmark__circle { stroke-dasharray: 166; stroke-dashoffset: 166; stroke-width: 2; stroke-miterlimit: 1; stroke: #DC981B; fill: none; animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }
	.checkmark { width: 100px; height: 100px; border-radius: 50%; display: block; stroke-width: 2; stroke: #DC981B; stroke-miterlimit: 10; margin: 10% auto; animation: scale .3s ease-in-out .9s both; }
	.checkmark__check { transform-origin: 50% 50%; stroke-dasharray: 48; stroke-dashoffset: 48; animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; }
	@keyframes stroke { 100% { stroke-dashoffset: 0; } }
	@keyframes scale { 0%, 100% { transform: none; } 50% { transform: scale3d(1.1, 1.1, 1); } }

	/* List Checkmarks */
	.list-check { text-align: center; }
	.list-check ul { display: inline-block; text-align: left; }
	.list-check ul li { padding-left: 8px; margin-bottom: 6px; }
	.list-check ul li svg { vertical-align: middle; }
	.list-check ul li span { font-size: 30px; font-size: 1.875rem; vertical-align: middle; color: #FFF; }
	.list-check ul li .checkmark { width: 45px; height: 45px; border-radius: 50%; display: inline-block; stroke-width: 2; stroke: #DC981B; stroke-miterlimit: 10; margin: 5% 20px; vertical-align: middle; animation: scale .3s ease-in-out .9s both; }
	.subpage-title .list-check ul li span { color: #333; }
/* Homepage
------------------------------------------ */
ul.double-arrow {margin:2em }
ul.double-arrow li {padding: 10px 0 10px 40px; background: url(../images/Icon-double-golden-arrow.png) no-repeat left center; font-size: 1.125rem;}

	/* Phases Section */
	.phases-content { padding: 0 0 2em; }
	.phases-content h2 {color: #DD9819; text-transform: uppercase; font-weight: 800; max-width: 270px; margin: 0 auto 2rem; font-size: 10rem; display: block; width: 100%; line-height: 6rem; }
	.phases-content h2 span {font-size: 36px; font-size: 2.25rem; letter-spacing: 2px; display: block; margin:-1.5rem auto 0}
	.phases-content h3 { color: #1e4288; font-weight: 800; text-transform: uppercase}
	.phases--header { padding:2em auto 0; }
	.phases--header p { font-weight: lighter; font-size: 28px; font-size: 1.75rem; padding: 0 10%; line-height: 1.25; }
	.phase-container { margin: 2em 0 5%; }
	.phase-box { padding: 0 5%; position: relative; }
	.phase-box p { margin: 0; }
	.phase-box:after { content: ''; width: 85%; height: 2px; background: #DDD; position: relative; display:block; margin: 30px auto 35px; }

.partner {background:#231F20; padding:1em 2em 3em; margin:0em auto 5em; }
.partner h3 {padding: 0; text-transform: uppercase; color: #96c93d; margin:.35em; font-size:38px; font-size:2.375rem; line-height: 1.2em}
.partner p {color:#ebebeb; font-size: 18px; font-size: 1.125rem}
.charcol-background ul {margin:1.5em auto; padding:2em 1em 1em; text-align: center}
.charcol-background ul li {display: inline-block; max-width:315px; margin:1em 1em 3em; vertical-align: top; text-align: center; position: relative}
.charcol-background h2 {background:#231f20; text-transform: uppercase;text-align: center; font-size: 30px; font-size: 1.875rem; line-height: 2rem; font-weight: 800;color: #96C93D; padding:2em .5em 2em}
.charcol-background h3 span {color: #96C93D; text-transform: uppercase; margin: 0 auto .15em; font-size: 6rem; display: block; width: 100%; line-height: 4.225rem; text-align: center; font-weight: normal;}
.charcol-background h3 {font-size: 30px; font-size: 1.875rem; line-height: 2rem; font-weight: 800;color: #231f20; display: block; margin:-.5rem auto .25em; text-transform: uppercase}
.charcol-background ul li:last-child {background:#C48517; padding:1em; max-width:90%; margin:0 auto; text-align: center; border:6px double #fff; min-height: 120px; color: #fff;}
.charcol-background ul li:last-child h3 {margin:0 auto; color: #fff;}
.charcol-background ul li:last-child p { font-weight: bold; font-size: 19px; font-size: 1.185rem; }
.charcol-background p {font-size: 16px; font-size: 1rem;}
.charcol-background img {display: block; margin:1em auto 2em; padding:1em;}
.charcol-background ul.green-dot-list {background:#231f20; margin:0 auto;}
.charcol-background ul.green-dot-list li {display:block; border-bottom: 4px dotted #96c93d; float: none; max-width: 900px; margin: .25em auto .125em; width: 95%; color: #fff; font-weight: 800; font-size: 50px; font-size: 3.125rem; text-align: center; line-height: 44px; line-height: 2.75rem; padding: .5em 0 .75em; font-family: "museo-sans-rounded", sans-serif; letter-spacing: 1px}
.charcol-background ul.green-dot-list li:last-child {border:none; background: none;}
.blue-background {margin:2em auto}
.blue-background h2 {background:#1e4288; color:#fff; text-transform: uppercase; padding:1em; text-align: center; border-top:10px double; border-bottom: 10px double}
.blue-background p {font-size: 20px; font-size: 1.25rem; margin:1.5em auto 1em; max-width: 90%}
.blue-background img {margin:1em auto; display: block}
.blue-background ul li {font-size: 18px; font-size: 1.125rem;}
.green-background {background:#96c93d;}
.green-background img {margin:0 auto; display: block}
.green-background h2 {font-weight: 800; font-size: 48px; font-size: 3em;}
.green-background h2 span {text-transform: uppercase; font-size:92px; font-size: 5.75rem; display: block;}
.green-background h2 sup {font-size:1.25rem;}
p.disclaimer {font-size:12px; font-size: .75rem; padding: 2em}
.green-background p.disclaimer {font-size:12px; font-size: .75rem; padding-bottom: 2em}
.big-span-text {text-transform: uppercase; font-size: 40px; font-size: 2.5rem; display: block; text-align: left; font-family:'Libre Franklin', sans-serif; font-weight: 800}
.blue-text {color:#1e4288; font-weight: 800; }
.gold-text {color:#C48517!important; font-weight: 800;}
.dotted-underline {padding-bottom: .1em; border-bottom: 2px dotted #C48517; margin-bottom: .25em}
.big-green-text {font-size: 30px; font-size: 1.875rem; line-height: 2rem; font-weight: 800;color: #759F2D; padding:2em 0 0 0; font-family: 'Libre Franklin', sans-serif}
.green-bracket-left {display:block; background:url(/images/green-bracket-left.png) no-repeat left center; padding:1em 0 1em 5em; margin:5.5em auto; background-size:contain; max-width:720px}
.green-bracket-left li {font-size: 24px; font-size:1.5rem; line-height: 28px; line-height: 1.75rem; margin:0 0 .5em}
ul.green-phases {display: block; margin:3em auto; text-align: center;}
ul.green-phases li {background:#96C93D; display: inline-block; vertical-align: bottom; margin: 0 .35em .75em;padding: 3em .75em .35em; text-align: left; position:relative;}
ul.green-phases li span {text-transform: uppercase; color: #fff; font-weight: 800; display: block; font-size: 32px; font-size: 2rem; width:100%; text-align: justify; padding:20px 0 0; position: absolute; top:-8px;}
ul.green-checks {max-width: 720px; margin: 2em auto;}
ul.green-checks li {background:url(/images/Icon-GreenCheckMark.png) no-repeat 0 0; padding:.75em 0 1.5em 4em; font-size: 24px; font-size:1.5rem; line-height: 24px; line-height: 1.5rem}
ul.gold-checks {margin: 2em auto; list-style: none;}
ul.gold-checks li {background:url(/images/Icon-GoldCheck.png) no-repeat 5px 0px; padding:.125em 0 2em 2em; font-size: 24px; font-size:1.5rem; line-height: 28px; line-height: 1.75rem}
ul.gold-checks li ul li {background:none; padding:.25em 0 .5em 0}
ul.gold-checks-top {margin: 2em auto; list-style: none; border-bottom: 2px dotted #DD971A;}
ul.gold-checks-top li {background:url(/images/Icon-GoldCheck.png) no-repeat top center; padding:2.125em 0; font-size: 18px; font-size:1.125rem; line-height: 24px; line-height: 1.5rem; text-align: center;}
ul.blue-checks {margin: 2em auto; list-style: none;}
ul.blue-checks li {background:url(/images/Icon-BlueCheck.png) no-repeat 5px 0px; padding:.125em 0 2em 2.85em; font-size: 22px; font-size:1.375rem; line-height: 28px; line-height: 1.75rem; display: block;}
ul.blue-checks li p {}
ul.green-dot-list {display:block; float: left; margin:0 0 0 1em}
ul.green-dot-list li {color:#96c93d; font-weight: 800; font-size:16px; font-size: 1rem;}
ul.green-dot-list li p {color: #00468b; font-size: 24px; font-size:1.5rem; line-height: 24px; line-height: 1.5rem; margin:0; font-family: 'Libre Franklin', sans-serif}
ul.horizontal-list { text-align: center; margin:1.5em auto;}
ul.horizontal-list li {display: block; padding:0 0 .75em; margin:.75em auto; border-bottom: 1px solid; font-size: 26px; font-size: 1.625rem; font-weight: 400}
ul.horizontal-list li:first-child {margin:0;}
ul.horizontal-list li:last-child {border:none;padding: 0;}

.white-background {}
.white-background ul {margin:1.5em auto; padding:2em 1em 1em; text-align: center}
.white-background ul li {display: inline-block; max-width:315px; margin:1em 1em 3em; vertical-align: top; text-align: center; position: relative}
.white-background h2 {background-color:#231f20; text-transform: uppercase;text-align: center; font-size: 30px; font-size: 1.875rem; line-height: 2rem; font-weight: 800;color: #96C93D; padding:2em .5em 1em}
.white-background h3 span {color: #DD971A; text-transform: uppercase; margin: 0 auto .15em; font-size: 6rem; display: block; width: 100%; line-height: 4.225rem; text-align: center; font-weight: normal;}
.white-background h3 {font-size: 20px; font-size: 1.25rem; line-height: 2rem; color: #231f20; display: block; margin:-.5rem auto .25em;}
.white-background h3 strong {color:#1e4288; font-weight: 800; font-size: 26px; font-size: 1.625rem}
.white-background ul li:last-child {background:#C48517; padding:1em; max-width:90%; margin:0 auto; text-align: center; border:6px double #fff; min-height: 120px; color: #fff;}
.white-background ul li:last-child h3 {margin:0 auto; color: #fff; font-size: 26px; font-size: 1.625rem}
.tan-background {background-color : #f1eee5; display: inline-block; padding:2.5em 0; margin:0 auto 2em; width:100%}
.tan-background.bottom-tan {margin:0 auto -3em}
.tan-background h2 {text-align: center}
.tan-background p {font-size: 24px; font-size:1.5rem; line-height: 32px; line-height: 2rem; margin:2em 0 2em; font-family: "museo-sans-rounded", sans-serif; text-align: center}
.tan-background img {margin:2em auto; display: block;}
.translation-services {background-image: url(../images/bg-translation-section.jpg); background-repeat: no-repeat; background-position: left center; background-size: contain; min-height: 500px;}
.golden-numbers {display:table; margin:0 auto 4em}
.golden-numbers .sixcol {}
.golden-numbers h3 {margin: 2em 0 .1em; display: block; font-weight: 800; text-transform: uppercase; }
.golden-numbers h3 span {display: block; width:50px; height: 50px; border-radius: 50%;  background : #DD971A; color:#32281A; font-weight: 800;font-size: 30px; font-size: 1.875rem; line-height: 2rem; padding:.25em; font-family: 'Libre Franklin', sans-serif; text-align: center; }
.golden-numbers p {font-weight: bold; margin:0;}

.blue-numbers {display:table; margin:0 auto 4em}
.blue-numbers .fourcol {}
.blue-numbers h3 {margin: 2em 0 .1em; display: block; font-weight: 800; text-transform: uppercase; color:#759F2D}
.blue-numbers h3 span {display: block; width:50px; height: 50px; border-radius: 50%;  background : #00468B; color:#fff; font-weight: 800;font-size: 30px; font-size: 1.875rem; line-height: 2rem; padding:.25em; font-family: 'Libre Franklin', sans-serif; text-align: center; margin-right: 3px}
.blue-numbers p { margin:0;}

.sleep-table-headline {background : #00468B; color: #fff; padding:10px; margin:1em auto 0; text-align: center; text-transform: uppercase; font-weight: bold}
.sleep-table {border-bottom: 1px solid #ebebeb}
.sleep-table > tbody:first-of-type > tr > td:first-child {font-weight: bold}
.sleep-table th, .sleep-table td {padding:10px}
.sleep-table th {font-size: 1.185rem; text-align: left; font-weight:bold; background: #1D9CD3; color: #fff}
.sleep-table tr:nth-of-type(odd) {
	background: #eee;}

	/* Homelink - Industry - Competitor Services */
	.services-c { background: #FFF; }
	.services-c h3 { margin: 0; background: #F5F5F5; color: #6F6F6F; padding: 2em 0; font-style: italic}
	.services-c ul { margin: 0; display: inline-block; width: 100%; }
	.services-c .services--box div { width: 100%; margin-right: 2%; text-align: center; background: #FFF; vertical-align: bottom; border: 1px solid #DDD; border-radius: 5px; }
	.services-c .services--box div.industry-services {border:none;}
.services-c .services--box div.industry-services h3 {background: none;}

	.services-c .services--box > div:last-child { margin-right: 0%; }
	.services-c .services--box .logo-top { background: #4F4F4F; display: block; padding: 2.625em 0; border-radius: 4px 4px 0 0;}
	.services-c .services--box li { font-size: 20px; font-size: 1.25rem; color: #515151; text-align: center; }
	.services-c .services--box .industry-services{}
	.services-c .services--box li:nth-child(odd){ background: #EBEBEB;}
	.services-c .services--box li span { display: inline-block; padding: 6% 0; line-height: 2; }
	.services-c .services--box div li:before { content: ''; vertical-align: middle; display: inline-block; height: 52px; }

	.services-c .services--box .industry-services li span { line-height: 1.5em; width: 75%; padding: 6% 6% 6% 6%; vertical-align: middle; min-height: 84px; }
	.services-c .services--box .industry-services li span:nth-child(2n){ line-height: 2; }

	.services-c .services--box .industry-services li:first-child:before { content: ''; background: url('/images/icon-customer-service.png') center no-repeat; width: 44px; }
	.services-c .services--box .industry-services li:nth-child(2n):before { content: ''; background: url('/images/icon-money-circle.png') center no-repeat; width: 46px; }
	.services-c .services--box .industry-services li:nth-child(3n):before { content: ''; background: url('/images/icon-delivery.png') center no-repeat; width: 56px; }

	.services-c .services--box .homelink-services h3 { background: #696969; color: #FFF; padding: 1.5em; }
	.services-c .services--box .homelink-services li span {font-weight: 800; text-transform: uppercase;}
	.services-c .services--box .homelink-services li:before { content: ''; background: url('/images/icon-checkmark.png') left center no-repeat; display: inline-block; vertical-align: middle; height: 52px; width: 44px; }

	.services-c .services--box .competitor-services li:before {content: ''; background: url('/images/icon-x.png') left center no-repeat; display: inline-block; height: 52px; width: 44px;}



	/* Client Services */
	.client-service { background: #EBEBEB; padding: 1em 0; }
	.client-service h2 { font-size: 34px; font-size: 2.125rem; color: #00468b; text-align: center; max-width: 750px; margin: 2em auto 0; }
	.client-service .icon-check { padding: 0 2%; }

	/* Sign Up Link */
	.action-links { text-align: center; padding: 0; margin: 2em 0; }
	.action-links a, .action-links a:visited { color: #00468b; font-size: 28px; font-size: 1.75rem; text-decoration: none; padding-right: 0; line-height: 2; }
	.action-links a:hover { color: #004D99; }
	.action-links a:after { content: ''; display: inline-block; background: url(/images/icon-rightarrow.png) top 2px center no-repeat; height: 40px; width: 40px; vertical-align: middle; margin-left: 25px; }


	/* Dashboard Example */
	.content-placement { width: 100%; padding: 0; margin: 2em 0 3em; }


/* Amazing Statistics Bar
--------------------------------------- */
.amazing-stats { text-align: center; background: #231f20; padding: 3em 1.5em; }
.amazing-stats .container { }
.amazing-stats span { color: #FFF; margin: 0; font-size: 32px; font-size: 2rem; font-weight: normal; }


/* Subpages
------------------------------------------ */

	/* Transportation & Translation Page */
	.transport-delivery { background: #EBEBEB; padding: 4em 0; }
	.transport-avg-savings .sixcol{ padding: 4% 0%; text-align: center; }
	.avg-savings-box { background-color: #96C93E; border: 2px solid #96C93E; padding: 1em 1.5em; position: relative; margin: 0 auto; }
	.avg-savings-box:before { background: none; border: 6px solid #EBEBEB; content: ""; display: block; position: absolute; top: 4px; left: 4px; right: 4px; bottom: 4px; pointer-events: none; }
	.avg-savings-box span, .avg-savings-box p { display: inline-block; vertical-align: middle; padding: 0 10px; margin: 0; color: #FFF; }
	.avg-savings-box span { font-size: 50px; font-size: 3.125rem; }
	.avg-savings-box p { font-size: 32px; font-size: 2rem; line-height: 1.25em; }
	.transport-uber	{ background: #152D53; color: #FFF; text-align: center; padding:5em}
	.transport-uber h2 { color: #FFF; margin: 0em 0 1em 0; font-size: 34px; font-size: 2.125rem; }
	.transport-uber h3 { color: #FFF; margin: 0em 0 1em 0; font-size: 34px; font-size: 2.125rem; }
	.transport-logo .sixcol{ display: inline-block; vertical-align: middle; float: none; margin: 3em 2% 0 0; }
	.transport-logo .sixcol:last-child{ margin: 3em 0 0 0; }

	/* About Us Page */
	.large-heading h2 { text-transform: uppercase; color: #00468B; font-size: 56px; font-size: 3.5rem; line-height: 1; margin-bottom: .15em; }
	.large-heading h2 span { text-transform: none; font-weight: 300; color: #2261AE; }
	.large-heading img { max-height: 100px; }
	.about-us .maincontent > .container > .subpage-title { margin-bottom: 0; }
	.content-section { padding: 3em 0; }
	.content-section .uppercase { text-transform: uppercase; margin-bottom: 0; }
	.subpage-title.no-margin-top { margin-top: 0; }
	.content-section .subpage-title .blue-text { font-size: 32px; font-size: 2rem; }
	.yellow-box { background-color: #fefbd6; padding: 5em 0; margin: 2em 0 3em; }
	.yellow-box h2 { color: #b33b5e; text-transform: uppercase; margin: 0; font-size: 40px; font-size: 2.5rem; }
	.yellow-box .subpage-title { margin-top: 0; margin-bottom: 0; }
	.yellow-box .blue-text.block { font-size: 40px; font-size: 2.5rem; line-height: 1.15; margin-top: .25em; }


/* Page-title Background */
.page-title .featured-image-header { background:#231f20; background-size: cover;   background-position: 30%;
  padding: 110px 0 40px;}

/* Breadcrumbs
------------------------------------------ */
.index .brundle_rundll_crumbles { display: none; }
.brundle_rundll_crumbles { display:block; color: #333; font-weight: 800; font-size:12px; font-size: .75rem; padding: 1.5em 0 1em;}
.page-title .brundle_rundll_crumbles a { text-decoration:underline; color: #333; font-weight: 300}
.page-title .brundle_rundll_crumbles a:hover { color:#333; text-decoration: none; }
.arrow { background: url("/images/icon-arrow-seperator.png") center no-repeat; height: 14px; width: 7px; display: inline-block; vertical-align: sub; margin: 0 7px 0 5px; }


/* Site Assistance Section
---------------------------------------- */
.site-assistance { padding: 5em 1em; background: #00468b; }
.site-assistance ul { text-align: center}
.site-assistance h3,
.site-assistance li{ color: #FFF; text-align:center; margin:1em auto}
.site-assistance h3 { font-weight: normal; font-size: 24px; font-size: 1.75rem; margin: .75em 0 .25em; text-transform:uppercase; letter-spacing: 1.5px}
.site-assistance ul li {display: block}
.site-assistance li span {}
.site-assistance li a { text-decoration: none; color:#f9ed32; font-weight: 700}

/* Quick Contact Bar
--------------------------------------- */
.quick-contact { text-align: center; background: url(../images/bg-make-the-call.jpg) no-repeat left center #152D53; background-size: cover; padding: 3.282em 0; margin-top: 3em; }
.quick-contact ul li { margin: 3em auto; }
.quick-contact .button { padding: 1em 3.5em; }
.quick-contact h2 { color: #FFF; margin: 0; font-weight: 300}
.quick-contact li span {color:#f9ed32;}

/* Footer
---------------------------------------- */

.footer .container [class*="col"] { padding: 0 0 0 2.5em; }
.footer .footer-lg { padding: 0em 0 1em 1em; border-bottom: 2px solid #656565; margin: 0em 0 2em; width: 100%; float: left; }
.footer ul li.footerNavItem {display: inline-block; margin:.5em 1em 0; text-transform: uppercase}
.footer .footer-notice p { font-weight: 300; font-size: 12px; font-size: 0.75rem; margin: 0 3em; color: #fff; letter-spacing: .5px}
.footer p a,
.footer .copyright { color: #FFF; }
.footer .copyright li {margin: .5em 0 1em}
.footer .copyright li a {line-height: 1em;}
.footer .vgm-links p { font-size: 15px; font-size: .938rem; color: #FFF; }
.footer-links a,
.footer-links p { text-decoration: none; line-height: 2em; font-weight: 400; font-size: 16px; font-size: 1rem; color: #FFF; }
.footer-links a:hover {color: #f9ed32;}
.footer-social { text-align: left; }
.footer-social .social-icons { display: inline-block; text-align: left; }
.footer-social .social-icons li { padding-left: 8px; margin-bottom: 6px; }
.social-icons a.facebook:before { content: ''; background: url("/images/icon-facebook.png") no-repeat; }
.social-icons a.twitter:before { content: ''; background: url("/images/icon-twitter.png") no-repeat; }
.social-icons a.linkedin:before { content: ''; background: url("/images/icon-linkedin.png") no-repeat; }
.social-icons a.facebook:before, .social-icons a.twitter:before, .social-icons a.linkedin:before { content: ''; width: 25px; height: 25px; display: inline-block; vertical-align: middle; margin: 0 .5em; }
.footer-links { background: #000; padding: 5em 0; }
.footer-notice { background: #3b3b3b;  padding: 2em; }

/* Contact page
-------------------------------------- */
.contactform li { margin-bottom: 1em; }
.contactform li h3 { margin: 25px 0 5px; }
.contactform li label { display: block; margin: 0 0 3px; }
.contactform li .large-label { font-size: 24px; font-size: 1.5rem; color: #00468b; margin-top: 25px; margin-bottom: 5px; }
.contactform li .inline { display: inline; margin-left: 10px; }
.contactform li .nomargin { margin: 25px 0 0; }

aside li h2 { font-size: 1.3rem; }


/* Quick Forms
-------------------------------------- */
.quickform { list-style: none; margin: 0; padding: 0; }
.quickform li { margin-bottom: 1em; }
.quickform .full h3 { margin: 25px 0 5px; }
.quickform li label { display: block; margin: 0 0 3px; }
.quickform .full.cbox { margin: 0 0 5px; }
.quickform .full.cbox label { display: inline; }
.quickform .full.cbox input { margin: 0 10px 0 0; }
.quickform .full .hint { color: #707070; font-size: 11px; display: block; }
.quickform .full .nomargin { margin: 25px 0 0; }

/* Contact List */
.contact-location-list { list-style: none; margin: 0; padding: 0; }
.contact-location-list li { margin: 0 0 30px;  border-bottom: 2px solid #ebebeb}

.fbAdmin { display: none }


/* Location List
-------------------------------------- */
ul.locations { list-style: none; margin: 0; padding: 0; }
ul.locations li { border-bottom: 1px solid #EEE; padding: 0 0 15px; margin: 0 0 15px; }
ul.locations li:last-child { border: 0; padding: 0; margin: 0; }
ul.locations li .img { float: left; width: 17%; margin: 0 2% 0 0; }
ul.locations li .right { float: right; width: 81%; }
ul.locations li h2 { margin: 5px 0 10px; }

/* Overlay */
.modal { position: fixed; background: #fff; display:none; width: 90%; left: 5%; top: 5%; overflow-y: auto; padding: 25px; text-align: left; border-radius: 5px; z-index: 999; max-height: 90%; }
.modal h2 { margin-top: 0; }
.modal .close { position: absolute; width: 24px; height: 24px; cursor: pointer; right: 15px; top: 15px; display: block; background: url("/images/close.gif") no-repeat center center; text-indent: -9999em; border:none;}
.overlay-mask { display: none; position: fixed; background: #545454; background: rgba(75,75,75,.75); left: 0; top: 0; width: 100%; height: 100%; z-index: 16; }

/* Sub-Page Title styling */
.subpage-titlebox { text-align: center; clear: both; position: relative; margin: 0 auto; padding:1em; width:100%; }
.subpage-title p, p.subpage-title { text-align: center; max-width: 90%; font-size: 24px; font-size: 1.5rem; line-height: 1.5em; /*font-family:"museo-sans-rounded", sans-serif;*/ color:#554b4f; margin:1em auto 2em}

/* Custom font class colors */
.bold-blue { font-weight: 800; color: #00468b; text-transform: uppercase; }
.bold-gold { font-weight: 800; color: #ffa342; text-transform: uppercase; }

/* Custom Buttons */
.blue-rim { border: 2px solid #00468b; color: #00468b; text-transform: none; border-radius: 3px; padding: .25em; }
.blue-rim:hover { border: 2px solid #00468b; background: #00468b; color: #FFF; }


/* Typography
----------------------------------------*/
body, p, ul, ol, dl, input, textarea, select, button, h1, h2, h3, h4, h5, h6 { font-family: 'Libre Franklin', sans-serif; line-height: 1.6; }

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 { margin:1em 0 .5em 0; line-height: 1.3; font-family:'Libre Franklin', sans-serif; }
h1 { color: #333; font-size: 40px; font-size: 2.5rem; text-transform: none; font-weight:800; margin-top:0; }
.subpage-titlebox h1 {color: #4f4f4f; text-transform: uppercase; font-size: 28px; font-size: 1.75rem; font-weight: 100;}
h2 { color: #2261AE; font-size: 34px; font-size: 2.125rem; font-family:"museo-sans-rounded", sans-serif;}
.site-assistance h2 {color: #fff; font-size: 44px; font-size: 2.75rem; margin:0 auto 1em}
h2.subpage-title { font-size: 44px; font-size: 2.75rem; color: #215FAA; margin-bottom: .5em; text-align: center}
h3 { color: #00468b; font-size: 24px; font-size: 1.5rem; font-family:"museo-sans-rounded", sans-serif;}
h4 { color: #6ab2e2; font-size: 18px; font-size: 1.125rem; margin:1.25em auto; line-height: 1.75em}
h5 { color: #FFF; font-size: 17px; font-size: 1.0625rem; }
h6 { color: #676767; font-size: 16px; font-size: 1rem; }

/* --- Text Elements --- */
p,li,table { font-size: 18px; font-size: 1.125rem; }
p { margin: 0 0 1em; line-height: 1.8em; }
blockquote { margin: 1.5rem; }
ul, ol, dl { margin: 1.5em; list-style-position:outside; }

/* a Tags */
a.noLink { text-decoration:none; color:#707070; cursor:text; font-weight:bold; }
a.noLink:hover { color:#707070; }
a.phone[href^=tel]:link, .phone a {color:#00468b;}
a[href^=tel]{ color:inherit; text-decoration:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
/* *:focus { outline: 2px solid #1C90E4; }*/

/* Callouts */
.text-callout {font-family: "museo-sans-rounded", sans-serif; font-size:16px; font-size:1rem;}
.sidebar .callout {display:block;}
.callout {background:#ebf3f7; padding:2em; display:table; width:auto; margin:1em auto 2em; -webkit-border-radius:6px; border-radius: 6px}
.callout ul {margin:0 1.5em; display:inline-block;}
.callout ul li {list-style-image:url(/images/bg-bullet.png); font-size: 1.25rem; text-align: left; line-height: 1.25em; margin: 0 auto 1em;}
.callout ol li {margin:.5em 0;}
.callout ul.col2 li {float:left; width:50%;}
.dotted-callout {border: 4px dotted #00468B; padding: .5em .5em 0; text-align: center; color: #00468B; font-size: 20px; font-size: 1.25rem;}
.index h1 { border-bottom: none; text-align: center; margin-top: 1.5em; }
.pillars {/*background:#d8d2c5;*/ width:100%; float:left; display: block; color:#2261ae; padding:1em 1em 1em 0; margin:.5em auto 0; text-align: center}
.pillars img.icon {margin:-1em auto 0;}
h2.pillars {color: #C48517; text-transform: uppercase; margin:0; padding:0; font-size:24px; font-size: 1.5rem; font-weight: bold}
.pillars h3 {color : #2261AE; font-size: 20px; font-size:  1.35rem; text-transform: uppercase; font-weight: 800}
.pillars ul {margin:0; list-style-type: none}
.pillars li {line-height: 1.1em; margin:0 0 .5em;}
.costContainment {}
.costContainment img {margin:2em auto; display: block}
.costContainment h3 {color : #96C93D; margin:2em 0 0; padding: 10px 0 15px 60px; background: url(/images/Icon-Gear.png) no-repeat top left; font-weight: bold}
.costContainment .subtitle {font-style:italic; color : #759F2D; font-weight: 800; margin:0 0 1em; text-align: right; background:none; font-size: 200%; padding:0}
.costContainment h3+p {margin:0 0 1em 4em; border-top : dashed #DD971A 2px; padding-top: 1em; font-size: 1rem}
.gold-dash { border-bottom : dashed #DD971A 3px;}
.costContainment p.gold-dash {border-top : dashed #DD971A 3px;}

body.hearing-healthcare .maincontent, body.services.therapy .white-background {background: url(/images/bg-hearing-healthcare.jpg) center bottom no-repeat;}
body.site-map .subpage-titlebox, body.search .subpage-titlebox, body.contact-us .subpage-titlebox {top:auto}
body.site-map .page-title .featured-image-header, body.search .page-title .featured-image-header, body.contact-us .page-title .featured-image-header {height: auto; padding:6.5em 0 0}

.large-only { display: none; }

@media screen and (max-width: 767px) {
	.menu { position: absolute; top: 0; right: 5%; z-index: 5;}

	.amazing-stats .sixcol { font-size: 24px; font-size: 1.5rem; }
	.amazing-stats .hl-400 { color: #fff; }
	.amazing-stats .five-thousand-plus { color: #96C93D; font-weight: 800; font-size: 32px; font-size: 2rem; }
}

@media screen and (min-width: 768px) {
	/* Structure */
	.mobileonly { display: none; }
	.large-only { display: none; }
	.navigation.large-only {display: block}

	/* Header */
		.masthead { background: #000; }
		.logo { padding: 6px 0 0 0; text-align: inherit; width: auto; }
		.masthead .container, .menu .container { max-width: 1200px; }
		.secondary-nav { text-align: right; color: #FFF; padding: .45em 0; display: block; }
	/*	.secondary-nav:after { content: ''; position: absolute; top: 0; bottom: 0; right: 0; width: 40%; background: #FFF; }*/
		.secondary-nav .container { position: relative; z-index: 2; }
		.secondary-nav ul { float: right; position: relative; background: #FFF; padding: .5em 0 .5em 75px; height: 42.5px; }
		.secondary-nav li { display: inline-block; font-size: 14px; font-size: .875rem; margin-left: 20px; letter-spacing: 1px; }
		.secondary-nav li p { margin: 0; }
		.special-phone { display: none !important; }
		.yourhomelinkorders .normal-phone { display: none !important; }
		.yourhomelinkorders .special-phone { display: inline-block !important; }
		.secondary-nav li a { color: #FFF; text-decoration: none; }
		.secondary-nav li a:hover { text-decoration: underline; }
	/*	.secondary-nav .search-wrapper { position: relative; right: 100%; top: 0; bottom: 0; margin: 0; background-color: #FFF; }*/
	/*	.search-wrapper:before { content: ''; position: absolute; display: block; height: calc(100% + .5px); top: 0; bottom: 0; left: -30px; right: -25px; background: #E65525; -ms-transform: skew(-40deg,0deg); -webkit-transform: skew(-40deg,0deg); transform: skew(-40deg,0deg); }*/
	.search-wrapper .searchField { background: #FFF url("/images/icon-search.png") right 7px center no-repeat; padding: 6.5px 30px 6.5px 8px; color: #000;}
		/* Search */
		.search-wrapper .searchSubmit { display: none; }
		.search-wrapper .searchField,
		.search-wrapper .searchField:focus { border: 0; box-shadow: none; border-radius: 0; }
		input::-webkit-input-placeholder {color: #000 !important; letter-spacing: 1px;}
		input:-moz-placeholder { /* Firefox 18- */color: #000 !important; letter-spacing: 1px;}
		input::-moz-placeholder { /* Firefox 19+ */color: #000 !important; letter-spacing: 1px; }
		input:-ms-input-placeholder { color: #000 !important; letter-spacing: 1px;}
		input.searchField, select.searchField, textarea.searchField{color: #000; letter-spacing:1px;}

	/* Navigation  */
	.menu { background: rgba(21,44,82,.9); position: relative; z-index: 4; padding: 10px 0; }
	.menu ul { float: left; margin: 0; }
	.menu li { display: inline-block; position: relative; font-size: 13px; font-size: 0.813rem; text-transform: uppercase; }
	.menu ul li > a { display: block; padding: 14px 9px; color: #FFF; text-decoration: none; border-top: 2px solid transparent; -webkit-transition: all .35s ease-in-out; transition: all .35s ease-in-out;}
	.menu ul li:hover > a { background: #2261AE; color:#fff; border-top: 2px solid #80c342; }
		.menu ul li:hover > a.headerNav9 {cursor:default}
	.menu ul li.sub-arrow:hover > a:after { content: ""; border: 7px solid transparent; border-top-color: #2261AE; position: absolute; bottom: -14px; left: 0; right: 0; margin: 0 auto; width: 0; }
	.menu ul:after { content: ''; position: absolute; left: 0; top: -20px; width: 100%; height: 20px; }

	/* Second Tier */
	.menu ul li > ul { display: none; position: absolute; top: 118%; left: 0; background: #4F4F4F; width: 250px; padding: 0; }
	.menu ul li:last-child > ul,
	.menu ul li:nth-last-child(2) > ul { left: auto; right: 0; }
	.menu ul li:hover { z-index: 2; }
	.menu ul li:hover > ul { display: block; }
	.menu ul li > ul li { float: none; display: block; font-size: .813rem; padding: 0; }
	.menu ul li > ul li a { display: block; padding:1em; border: 0; border-bottom: 1px solid #DDD; color: #FFF; text-shadow: none; transition: .3s; -moz-transition: .3s; -webkit-transition: .3s; -o-transition: .3s; text-align: left; }
	.menu ul li > ul li a:hover { color: #00468b; background: #efefef; filter: none; box-shadow: none; border: 0; border-bottom: 1px solid #DDD;}
	.menu ul li > ul li > ul { margin: 0; left: 100%; top: 0; background: #EEE; box-shadow: inset 1px 0 3px rgba(0,0,0,.1); }
	.menu ul li > ul li:last-child a, .menu ul li > ul li:last-child a:hover  { border-bottom: 0; }

	.main.last { float: right; }
	.pillars img.icon {margin: 0 auto; display: block;}
	.over800{margin: 3em auto;}

		.hl-400	{color:#fff; font-weight: 100; font-size: 48px; font-size: 3rem; line-height: 1.2;}
		.five-thousand-plus {color:#96C93D; font-weight: 800; font-size: 96px; font-size: 6rem; line-height: .5; margin-top: .375em}
		.five-thousand-plus span {color:#96C93D; font-weight: 800; font-size: 56px; font-size: 3.5rem}

	.page-title {margin-top: -100px;}
	.page-title .featured-image-header { padding: 0; height: 55vh; }
		.tan-background p {text-align: left}
	.phase-container { margin: 2em auto; background:#ebebeb; padding:3em 10%;}
	.phase-box:after { content: ''; width: 2px; height: 250px; background: #6ab2e2; position: absolute; right: -10px; top: 50px; margin: 0; }
	.phase-box:last-child:after { display: none; }
	ul.double-arrow {margin:2em 0 3em 5em}
	.content-placement { padding: 2em; }
	.client-service .icon-check { padding: 1em 2%; }
	.transport-hm > div { padding: 5% 0; }
	.transport-hm > .subpage-title:first-child { padding: 2% 0 4%; }
	.site-assistance ul li { display: inline-block; float: none; font-size: 1.125rem}
	.site-assistance li span {display: inline-block; min-width:165px; }
	.quick-contact { padding: 10em 0; background-position: center center;}
	.quick-contact ul li { display: inline-block; vertical-align: middle; margin:1em; }
	.quick-contact .button { padding: 1em 3.5em; font-weight: 800; font-size: 1.5rem}
	.quick-contact h2 { color: #FFF; margin: 0; }
	.footer { text-align: left; }
	.footer-social { text-align: center; }
	.footer .vgm-links { text-align: right; margin-top: .75em; }
	.social-icons a { margin: 0 .75em 0 0; color: #FFF; }

	.modal { left: 50%; margin-left: -300px; width: 600px; }
}

@media screen and (min-width:769px) {
	.pillars ul {list-style: disc; margin:0 0 0 1.25em}
	.amazing-stats {  padding: 5em 0; }
	.service-tooltip {display: block;}
	.large-only { display: block; }
	.services-c .services--box li { width: 31%; display: inline-block; }
	.services-c .services--box { margin: 4em 0 ; }
	.action-links { padding: 3em 2em; }
	.action-links a, .action-links a:visited { padding-right: 2em; }

	/* About Us */
	.large-heading h2 { font-size: 80px; font-size: 5rem; }
}

@media screen and (max-width: 1024px) {
	.transport-delivery .sixcol:first-child { text-align: center; }
	.transport-delivery .sixcol { width: 100%; margin: 0 auto; }
}

@media screen and (min-width: 1024px) {
 	/*.subpage-titlebox { text-align: center; max-width: 90%; top: 180px; position: relative; margin: 0 auto; background : rgba(35, 31, 32, .8); padding:2em 2em 1em; -webkit-border-radius: 6px; border-radius: 6px; border-left: 10px solid #231F20; border-right: 10px solid #231F20;}*/
	.menu ul li { font-size: 14px; font-size: 0.875rem; }
	.menu ul li > a { padding-left: 20px; padding-right: 20px; }
	.subpage-titlebox h1 {letter-spacing: 5px; font-size: 40px; font-size: 2.5rem;}
	.transport-avg-savings .sixcol { padding: 60px 20px 40px; }
	.partner {padding:1em 5em 3em}
  	.over800{margin-top: 5em;}
	.pillars {text-align: left}
	.pillars h3 {padding: 0 0 .5em; margin:.25em 0 0; }
	.pillars li {}
	.charcol-background h2 {padding:2em 5em 1.5em; }
	.charcol-background h3 span {text-align: left}
	.charcol-background ul li {display: inline-block; max-width:290px; margin:2em 0.25em; text-align: left}
	.charcol-background ul li:last-child {min-width: 400px; max-width: 1200px}
	.blue-background ul {margin: 2em 0 0 6em}
	.green-background img {float: left; max-width: 200px; margin:1em 5em 4em 3em}
	.white-background h2 {padding:2em 5em 1.5em; }
	.white-background h3 span {text-align: left}
	.white-background ul li {display: inline-block; max-width:290px; margin:2em; text-align: left}
	.white-background ul li:last-child {min-width: 400px; max-width: 1200px}
	.tan-background img {margin:3em 4em 3em; float: left;}
	.tan-background img.centered {margin:3em auto 3em; float: none;}
	ul.horizontal-list li {display: inline-block; padding:0 .75em 0 0; margin:0 0 0 .75em; border-right: 1px solid; border-bottom: none;}
	ul.gold-checks-top {text-align: center;}
	ul.gold-checks-top li {display: inline-block; max-width:210px; vertical-align: top}
	ul.blue-checks li {width:47%; margin:1em 1.5% .5em; float: left;}
	.big-span-text {font-size: 60px; font-size: 3.75rem; }
	ul.double-arrow li {display: inline-block; width:50%}
	ul.green-phases li {background:#96C93D; display: inline-block; vertical-align: bottom; width: 32%; margin: 0 .35em .75em;}
	ul.green-phases li span {position: relative; top:auto;}
	ul.green-phases li:first-child {margin-left:0; padding-top:1.75em;}
	ul.green-phases li:last-child {margin-right:0; padding-top: 5em;}
	ul.green-phases:after {border-bottom: 10px solid #96C93D; content: ''; display: block;}
	.blue-background h2 {padding:1em 3em 1em;}
	.golden-numbers .sixcol {padding-left: 2.75em}
	.golden-numbers h3 {margin: 2em 0 0 -2.35em; text-align: left;}
	.golden-numbers h3 span {display: inline-block; width:50px; height: 50px;}
	.blue-numbers .fourcol {padding-left: 2.85em}
	.blue-numbers h3 {margin: 2em 0 0 -2.5em; }
	.blue-numbers h3 span {display: inline-block; margin-right: 3px}
	div.curly-brackets {padding:5em 2em 1em;}

	/* About Us */
	.large-heading h2 { display: inline-block; text-align: left; vertical-align: middle; margin: 0; }
	.large-heading img { display: inline-block; vertical-align: middle; max-height: 130px; margin-left: 1em; }
}

@media screen and (min-width: 1200px){
	.menu ul li > a { padding-left: 30px; padding-right: 30px; }

	.curly-brackets {position:relative;}
	.curly-brackets h3:before {content: url(../images/Left-Curly.png); position: absolute; top: 50px; left: 10px}
	.curly-brackets h3:after {content: url(../images/Right-Curly.png); position: absolute; top: 50px; right: 10px}

	.amazing-stats { padding-left: 3.5em; padding-right: 3.5em; }
	.hl-400	{ font-size: 64px; font-size:4rem; }
	.five-thousand-plus { font-size: 146px; font-size: 9.125rem; }
	.five-thousand-plus span { font-size: 70px; font-size: 4.375rem}
}