/* Structure 
----------------------------------------*/
body { background: #FFF; color: #232323; font-size: 15px; font-size: .938rem; }
.pagewrap { background: #FFF; }


/* Header
---------------------------------------- */
.masthead { background: #00468b; position: relative; z-index: 5; padding: 15px 0; }
.logo { left: 0; top: -15px; padding: 15px; background: #FFF; box-shadow: 1px 1px 5px rgba(0,0,0,.5); max-width: 50%; }
.logo img { display: block; }
.phone-login { float: right; }
.phone-number { display:inline-block; font-size: 17px; line-height: 35px; color: #FFF; margin: 0; }
.phone-number,
.masthead .button { vertical-align: middle; }


/* Member Login */
fieldset.loginForm { background: #e4e4e4; padding: 2em; }
.loginForm ul { list-style: none;  margin: 0 !important; }
.loginForm h2 { font-weight: normal; color: #414141; }
.loginForm .submitBtn { background: #1e4287; padding: 10px 10px; display: block; margin: 10px auto; text-align: center; color: #fff; width: 100%; font-weight: normal; text-transform: uppercase; border: none;
 }

/* Content
------------------------------------------ */
.maincontent { padding:.2em 0 .3em; }


/* Homepage
------------------------------------------ */
.four-boxes { background: #00468b; padding: 3em 0; }
.four-boxes .container { max-width: 900px; }
.four-boxes .sixcol { overflow: hidden; max-width: 400px; margin-bottom: 2em; }
.four-boxes a { position: absolute; left: 2px; top: 2px; bottom: 2px; right: 2px; display: block; text-indent: -9999em; z-index: 2; }
.four-boxes img { display:block; width: 100%; }
.four-boxes .text-slide { background: #1e4288; background: rgba(30,66,166,.85); padding: .5em; top: 100%; margin-top: -35px; -webkit-transition: 300ms; transition: 300ms; height: 100%; }
.text-slide h3 { text-transform: uppercase; color: #FFF; margin: 0 0 5px; }
.text-slide p { opacity: 0; -webkit-transform: translateY(100%); transform: translateY(100%); -webkit-transition: 1s; transition: 1s; color: #FFF; font-size: 12px; font-size: .75rem; }
.four-boxes .sixcol:hover .text-slide { top: 0; padding: 2em 2em 0; margin: 0; }
.four-boxes .sixcol:hover p { opacity: 1; -webkit-transform: none; transform: none; }
.maincontent img { margin: 15px; }


/* Subpages
------------------------------------------ */
/*.featured-image-header { background: #e5e5e5; min-height: 250px; }*/
.featured-image-header { min-height: 33px; }



/* Breadcrumbs
------------------------------------------ */
.index .brundle_rundll_crumbles { display: none; }
.brundle_rundll_crumbles { display:block; color: #333; font-weight: bold; font-size:12px; font-size: .75rem; padding: 1.5em 0 1em;}
.page-title .brundle_rundll_crumbles a { text-decoration:underline; color: #333; }
.page-title .brundle_rundll_crumbles a:hover { color:#333; text-decoration: none; }
.arrow { background: url("/images/icon-arrow-seperator.png") center no-repeat; height: 14px; width: 7px; display: inline-block; vertical-align: sub; margin: 0 7px 0 5px; } 


/* Site Assistance Section
---------------------------------------- */
.site-assistance { padding: 3.5em 0; background: #00468b; }
.site-assistance .container { max-width: 900px; }
.site-assistance h3,
.site-assistance li,
.site-assistance li a { color: #FFF; }
.site-assistance h3 { font-weight: normal; font-size: 20px; font-size: 1.25rem; margin: 0 0 2em; }
.site-assistance li a { text-decoration: none; }


/* Footer
---------------------------------------- */
.footer { background: #96c93d; padding: 30px 0; text-align: center;border-top: 10px solid #FFF; } 
.footer [class*="col"] { margin-bottom: 1em; }
.footer p { font-weight: 400; font-size: 12px; font-size: .75rem; margin: 0; color: #000; }
.footer p a,
.footer .copyright { color: #FFF; }
.footer .notice { margin: 0 0 1em; }
.footer .vgm-links p { font-size: 15px; font-size: .938rem; color: #FFF; }
.footer .social-icons { margin: 0 0 .5em; }
.social-icons a { display: inline-block; vertical-align: middle; margin: 0 .5em; text-indent: -9999em; background: url("/images/icons-social.png") no-repeat; width: 25px; height: 25px; }
.social-icons .facebook { background-position: 0 0; }
.social-icons .twitter { background-position: center 0; }
.social-icons .linkedin { background-position: right 0; }


/* Contact page
-------------------------------------- */
.contactform li { margin-bottom: 1em; }
.contactform li h3 { margin: 25px 0 5px; }
.contactform li label { display: block; margin: 0 0 3px; font-weight: bold; }
.contactform li .inline { display: inline; margin-left: 10px; }
.contactform li .nomargin { margin: 25px 0 0; }
div#location-address1.location-address p, a#locationViewMoreLink1.green,div#location-address2.location-address p, 
a#locationViewMoreLink2.green,div#location-address2.location-address p, a#locationViewMoreLink3green,div#location-address3.location-address p, 
a#locationViewMoreLink3.green,div#location-address3.location-address p, a#locationViewMoreLink4.green,div#location-address4.location-address p, 
a#locationViewMoreLink5.green,div#location-address5.location-address p, a#locationViewMoreLink6.green,div#location-address6.location-address p,
a#locationViewMoreLink7.green, div#location-address7.location-address p, a#locationViewMoreLink8.green,div#location-address8.location-address p
a#locationViewMoreLink9.green,div#location-address9.location-address p, a#locationViewMoreLink10.green,div#location-address10.location-address p { display: none; }
aside.sidebar { text-align: right; }
aside li h2 { font-size: 1.3rem; }




/* Quick Forms
-------------------------------------- */
.quickform { list-style: none; margin: 0; padding: 0; }
.quickform li { margin-bottom: 1em; }
.quickform .full h3 { margin: 25px 0 5px; }
.quickform li label { display: block; margin: 0 0 3px; }
.quickform .full.cbox { margin: 0 0 5px; }
.quickform .full.cbox label { display: inline; }
.quickform .full.cbox input { margin: 0 10px 0 0; }
.quickform .full .hint { color: #707070; font-size: 11px; display: block; }
.quickform .full .nomargin { margin: 25px 0 0; }
/* Contact List */
.contact-location-list { list-style: none; margin: 0; padding: 0; } 
.contact-location-list li { margin: 0 0 30px; }


/* Location List
-------------------------------------- */
ul.locations { list-style: none; margin: 0; padding: 0; }
ul.locations li { border-bottom: 1px solid #EEE; padding: 0 0 15px; margin: 0 0 15px; }
ul.locations li:last-child { border: 0; padding: 0; margin: 0; }
ul.locations li .img { float: left; width: 17%; margin: 0 2% 0 0; }
ul.locations li .right { float: right; width: 81%; }
ul.locations li h2 { margin: 5px 0 10px; }

/* Overlay */
.modal { position: fixed; background: #fff; display:none; width: 90%; left: 5%; top: 5%; overflow-y: auto; padding: 25px; text-align:left; border-radius: 5px; z-index: 999; }
.modal h2 { margin-top: 0; }
.modal .close { position: absolute; width: 24px; height: 24px; cursor: pointer; right: 15px; top: 15px; display: block; background: url("/images/close.png") no-repeat; text-indent: -9999em; }
.overlay-mask { display: none; position: fixed; background: #545454; background: rgba(75,75,75,.75); left: 0; top: 0; width: 100%; height: 100%; z-index: 16; }


/* Typography 
----------------------------------------*/
body, p, ul, ol, dl, input, textarea, select, button, h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: 'Lato', sans-serif; line-height: 1.6; }

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: .2em 0 .3em; line-height: 1; }
h1 { color: #00468b; font-size: 33px; font-size: 2.5rem; text-transform: uppercase; margin-top: .6em; text-align: center; }
h2 { color: #7fb70a; font-size: 22px; font-size: 1.7rem; }
h3 { color: #00468b; font-size: 18px; font-size: 1.3rem; }
h4 { color: #103959; font-size: 18px; font-size: 1.125rem; }
h5 { color: #FFF; font-size: 17px; font-size: 1.063rem; }
h6 { color: #676767; font-size: 16px; font-size: 1rem; }

/* --- Text Elements --- */
p,li,table { font-size: 15px; font-size: .938rem; }
p { margin: 0 0 1em; line-height: 1.8em; }
blockquote { margin: 1.5rem; }
ul, ol, dl { margin: 1.5em; list-style-position:outside; }

/* a Tags */
a, a:visited { color: #00468b; text-decoration: underline; }
a:hover,a:focus,a:active { text-decoration: none; color: #343434; }
a.noLink { text-decoration:none; color:#707070; cursor:text; font-weight:bold; }
a.noLink:hover { color:#707070; }
a.phone[href^=tel]:link, .phone a {color:#00468b;}
a[href^=tel]{ color:inherit; text-decoration:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
*:focus { outline: 2px solid #1C90E4; }




@media screen and (max-width: 768px) {
.large-only { display: none; }
.four-boxes .sixcol { margin-left: auto; margin-right: auto; }
.menu { box-shadow: 0 0 5px rgba(0,0,0,.25); }
}

@media screen and (min-width: 769px) {
 /* Structure */
.mobileonly { display: none !important; }


/* Header */
.masthead { }
.logo { padding: 25px 30px; }
.phone-number { font-size: 23px; margin: 0 30px 0 0; }


/* Search */
.search-field-wrapper .searchField { float: right; width: 300px; margin-top: 1.5em; }


/* Navigation  */
.menu { background: #FFF; box-shadow: 1px 1px 5px rgba(0,0,0,.5); position: relative; z-index: 4; }
.menu ul { float: right; }
.menu li { display: inline-block; position: relative; font-size: 16px; font-size: 1rem; }
.menu ul li a { display: block; padding: 30px 25px; color: #00468b; text-decoration: none; }
.menu ul li a:hover, .menu ul li:hover > a { background: #d3d3d3; }
/* Second Tier */
.menu ul li > ul { display: none; position: absolute; top: 60px; left: -24px; background: #FFF; width: 250px; padding: 0; box-shadow: 0 5px 15px rgba(0,0,0,.3); }
.menu li ul:before { content: ""; border: 7px solid transparent; border-bottom-color: #FFF; position: absolute; top: -14px; left: 13%; margin-left: -7px; }
/*.menu ul li:hover > ul:before { content: ""; border: 7px solid transparent; border-bottom-color: #ccc; position: absolute; top: -14px; left: 13%; margin-left: -7px;  }
*/.menu ul li:hover > ul { display: block; }
.menu ul li > ul li { float: none; display: block; font-size: .813rem; padding: 0; }
.menu ul li > ul li a { display: block; padding: 10px; border: 0; border-bottom: 1px solid #DDD; color: #343434; text-shadow: none; transition: .3s; -moz-transition: .3s; -webkit-transition: .3s; -o-transition: .3s; text-align: left; }
.menu ul li > ul li:last-child a { border: 0; }
.menu ul li > ul li a:hover { padding: 10px 10px 10px 15px; color: #00468b; background: #efefef; filter: none; box-shadow: none; }
.menu ul li > ul li > ul { margin: 0; left: 100%; top: 0; background: #EEE; box-shadow: inset 1px 0 3px rgba(0,0,0,.1); }


/* Content */
.content {  }
.main.last { float: right; }


/* Homepage */
.four-boxes .sixcol { max-width: none; margin-bottom: 2em; }
.four-boxes .sixcol:hover .text-slide { padding: 3em 1em 0 .5em; }


/* Footer */
.footer { text-align: left; padding: 45px 0; }
.footer .vgm-links { text-align: right; margin-top: .75em; }
.social-icons a { margin: 0 .75em 0 0; } 
}