input.parsley-error, 
select.parsley-error,
textarea.parsley-error { border: 1px solid #D35052; box-shadow: 0 0 5px rgba(225,91,93,.3); }
.parsley-errors-list { display:none; }
.parsley-errors-list.filled { display:block;list-style: none; margin: 5px 0 0; padding: 0; clear: both; }
.parsley-errors-list li { background: #CB5456; border-radius: 3px; color: #FFF; line-height: normal; padding: 5px 10px; font-size: 11px; font-weight: bold; max-width: 300px; }