form#SearchBox { max-width: 600px; margin: 0 auto; }
form#SearchBox input#querys { width: 70%; margin-right: 2%; padding: .5em 1em; max-width: none; }
form#SearchBox input[type="submit"] { width: 25%; padding: .6em 0; }

ul.tabs{
    margin: 2em 0 0;
    padding: 0px;
    list-style: none;
    text-align: center;
}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background: #F9F9F9;
    border: 2px solid transparent;
}

ul.tabs li.current{
    background: #FFF;
    border-color: #00529C;
    color: #00529C;
    font-weight: bold;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}

.site-paging, .catalog-paging, .blog-paging { text-align: center; margin: 2em 0; padding: 1em 0; border-top: 1px solid #EEE; border-bottom: 1px solid #EEE; }
#site-results-count h4 { color: #00529C; }

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border: solid 1px #d0d0d0;
    font-size: .875em;
    font-weight: bold;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
    text-decoration: none !important;
}

.page:hover, .page.gradient:hover {
    background: #F9F9F9;
    border-color: #c0c0c0;
}

.page.active {
    border: none;
    color: #00529C;
}

.page.current { color: #00529C; pointer-events:none; border: 2px solid #00529C; background: #fff; }
.page.disabled { color: #6e6e6e; pointer-events:none; opacity: .5; }
#results { width: auto; }
.results-con > .twelvecol > div, .results-con > #results > div { margin-bottom: 2em; }