<div class="twelvecol last">
    <label for="txtName">Basic Text Box</label>
    <input type="text" class="text" id="txtName" name="Name" required="required" title="Full Name" data-parsley-required-message="Please Enter Your Full Name!"> 
</div>