<div class="twelvecol last">
    <div class="radio-super-label">Field Name</div>
    <ul class="fbList cbList">
        <li class="widget-checkbox fb-dupie">
            <input type="checkbox" style="display: inline" />&nbsp;&nbsp;
            <span class="fbEditable">Checkbox</span>
        </li>
    </ul>
</div>