<div class="twelvecol last">
    <ul class="fbList ddList">
    <li class="widget-menu fb-dupie">
        <label for="">Menu</label>
        <select>
            <option class="dup-target" value="">-- Select --</option>
        </select>
    </li>
</div>