<div class="twelvecol last">
    <label for="txtEmail" class="required">Email</label>
    <input type="email" onblur="updateEmail(this.value)" data-parsley-required-message="Please Enter Your Email Address!" title="Email Address" required="required" name="Email" id="txtEmail" class="text">
</div>