<div class="fourcol">
    <label for="txtName">First Name</label>
    <input type="text" class="text" id="txtName" name="Name" required="required" title="Full Name" data-parsley-required-message="Please Enter Your Full Name!"> 
</div>
<div class="fourcol">
    <label for="txtName">Middle Name</label>
    <input type="text" class="text" id="txtName" name="Name" required="required" title="Full Name" data-parsley-required-message="Please Enter Your Full Name!"> 
</div>
<div class="fourcol last">
    <label for="txtName">Last Name</label>
    <input type="text" class="text" id="txtName" name="Name" required="required" title="Full Name" data-parsley-required-message="Please Enter Your Full Name!"> 
</div>