<label for="" style="float: left; width: 50%">
    <span>Field Name</span>
    <input type="text" name="" placeholder="" />
</label>
<label for="" style="float: left; width: 50%">
    <span>Field Name</span>
    <input type="text" name="" placeholder="" />
</label>
<div class="clearfloat"></div>