<div class="twelvecol last">
    <label for="txtPhone" class="required">Phone</label>
    <input type="tel" onblur="updatePhone(this.value)" data-parsley-required-message="Please Enter Your Phone Number!" placeholder="(XXX) XXX-XXXX" title="(XXX) XXX-XXXX" required="required" name="Phone" id="txtPhone" class="text"> 
</div>