<div class="twelvecol last">
    <div class="radio-super-label">Field Name</div>
    <ul class="fbList rbList">
        <li class="widget-checkbox fb-dupie">
            <input type="radio" style="display: inline" />&nbsp;&nbsp;
            <span class="fbEditable">Example Value</span>
        </li>
    </ul>
</div>