<div class="twelvecol last">
    <label for="txtName">Zip</label>
    <input type="text" onblur="checkZip(this.value, 'Contact Form', 1)" placeholder="#####" title="Zip - #####" name="Zip" id="txtZip" class="text zip-mask">
</div>