.marketing { position: relative; }
.flexslider { overflow: hidden; background-color:#152C52; }
.mk-bg-slide { width: 100%; height: 175px; }

.slides li { display: none; }
.slides li .container { width: 100%; }
.slides li a { display: block; }
.slides li a.button {display: block; white-space: nowrap}
.slides li img { display: block; margin: 0 auto; }
.flex-control-nav,
.flex-direction-nav { list-style: none; margin: 0; padding: 0; }
.flex-control-nav { position: absolute; z-index: 10; bottom: 10px; left: 0;}
.flex-control-nav li { display: inline-block; margin: 0 4px; }
.flex-control-nav a { display: block; width: 12px; height: 12px; text-indent: -9999em; cursor: pointer; color: #000; background: #DDD; }
.flex-control-nav .flex-active { background: #80C342; color: #FFF; }
.flex-direction-nav a { display: block; width: 26px; height: 26px; bottom: 25px; z-index: 2; text-indent: -9999em; -webkit-transition: 250ms; transition: 250ms; color:#000; }
.flex-direction-nav .flex-nav-prev { background-position: 0 0; background: url("/images/icon-marketing-leftarrow.png") no-repeat; height: 27px; z-index: 8; display: inline-block; margin-right: 10px; }
.flex-direction-nav .flex-nav-next { background-position: right 0; background: url("/images/icon-marketing-rightarrow.png") no-repeat; height: 27px; z-index: 8; display: inline-block; margin-left: 10px;} 
.flex-direction-nav .flex-nav-prev:hover { left: 1.75%; }
.flex-direction-nav .flex-nav-next:hover { right: 1.75%; }
.mk-text-wrap { padding: 7em 2em 2em; text-align:center; background: #000; background: rgba(0,0,0,.65); position: relative; }
.mk-title { margin: 0 0 .5em; color: #FFF; text-transform: uppercase; }
.mk-subtitle { font-size: 20px; font-size: 1.25rem; margin: 0 0 1.5em; color: #FFF; display: none; }

  
  @media screen and (max-width: 769px) {
  .flex-direction-nav { position: absolute; left: 0; bottom: auto; top: 220px; right: 0; text-align: center; z-index: 6; }
	.flex-control-nav { position: absolute; z-index: 10; left: 0; top: 200px; bottom: auto; right: 0; text-align: center;  }
  }
  
@media screen and (min-width: 769px) {

.flexslider { overflow: hidden; height: 40vh; min-height:40vh; }
.slides li { height: 40vh; min-height:40vh; padding: 100px 0 0; }
.slides li .container { width: 96%; }
.mk-bg-slide { position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 100%; }
.mk-text-wrap { background: transparent; padding: 0; text-align: left; }


.mk-bg-slide:before { content: ''; position: absolute; left: -30%; top: 0; width: 85%; height: 100%; display: block; background: #000; background: -moz-linear-gradient(left, rgba(0,0,0,0.75) 71%,rgba(0,0,0,0.5) 88%,rgba(0,0,0,0.01) 100%,rgba(0,0,0,0) 0%); background: -webkit-linear-gradient(left, rgba(0,0,0,0.75) 71%,rgba(0,0,0,0.5) 88%,rgba(0,0,0,0.01) 100%,rgba(0,0,0,0) 0%); background: linear-gradient(to right, rgba(0,0,0,0.75) 71%,rgba(0,0,0,0.5) 88%,rgba(0,0,0,0.01) 100%,rgba(0,0,0,0) 0%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#00000000',GradientType=1 );}
.flex-direction-nav { position: absolute; left: 50%; transform: translateX(-50%); bottom: 20px; z-index: 6; }
.flex-control-nav { position: absolute; z-index: 10; bottom: 60px; left: 50%; transform: translateX(-50%); }

.loading { display: block; margin: auto; }

}

@media screen and (min-width: 1024px) {
.flexslider {height: 82vh; min-height:82vh; }
.slides li { height: 82vh; min-height:82vh; padding: 100px 0 0; }
.mk-title { max-width: 50%; font-size: 60px; font-size: 3.8125rem; line-height: 1.1}
.mk-subtitle { max-width: 45%; font-size: 30px; font-size: 1.875rem; display: block; line-height: 1.25;}
.mk-title, .mk-subtitle { max-width: 60%; text-shadow: 1px 2px 3px #000;}
.flex-control-nav { bottom: 20px; left: 1.5%; transform: inherit;}
.flex-direction-nav { left: 160px; }
.flex-direction-nav .flex-nav-prev { left: 2%; background-position: 0 0; background: url("/images/icon-marketing-leftarrow.png") no-repeat; display: inline-block; }
.flex-direction-nav .flex-nav-next { right: 2%; background-position: right 0; background: url("/images/icon-marketing-rightarrow.png") no-repeat; display: inline-block; } 

}

@media screen and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	.flexslider {height: auto; min-height: 768px; }
	.slides li { height: auto; min-height: 768px; }
	.flex-control-nav { bottom: 100px; left: 18.5%; transform: inherit;}
}