#site-banner-container {
	position: fixed;
	top: 0px;
	z-index: 6;
	width: 100%;
}
.mod-banner {
    position: relative;
    z-index: 15;
    background-color: #fa6a63;
    background: -webkit-linear-gradient(-45deg, #cb2d3e 0%, #ef473a 100%);
    background: linear-gradient(-45deg, #cb2d3e 0%, #ef473a 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2)
}
.mod-banner .close {
    position: absolute;
    right: 0;
    top: 15%;
    margin-top: -16px;
    display: block;
    width: 32px;
    height: 32px;
    text-indent: -9999em;
    background: url(/images/close-white.png) no-repeat
}
.mod-banner .banner-text {
    padding: 1.75em 1.5em 2em 0
}
.mod-banner .banner-name {
    color: #fff;
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0
}
.mod-banner .banner-content {
    color: #fff;
    color: rgba(255, 255, 255, .85);
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 0;
}
.mod-banner .banner-url {
    display: block
}
.mod-banner .button {
    margin-top: 1em;
    background-color: #fff;
    color: #000!important
}
.mod-banner.promo {
    background-color: #42a8ff;
    background: -webkit-linear-gradient(-45deg, #56CCF2 0%, #2F80ED 100%);
    background: linear-gradient(-45deg, #56CCF2 0%, #2F80ED 100%)
}
.mod-banner.promo .banner-image, .mod-banner.promo .banner-text {
    display: inline-block;
    vertical-align: middle
}
.mod-banner.promo .banner-image {
    width: 13%;
    margin: .75em
}
.mod-banner.promo img {
    display: block
}
.mod-banner.promo .banner-text {
    width: 80%;
    padding: 1.5em
}
.mod-banner.promo .no-image {
    width: 92%;
    padding: 1.75em 1.5em 2em 0
}
@media screen and (max-width:768px) {
    .mod-banner.promo .banner-image.large-only {
        display: none
    }
}
@media screen and (min-width:1024px) {
    .mod-banner.alerts .banner-text {
        padding-right: 300px
    }
    .mod-banner.promo .banner-text {
        padding-right: 225px
    }
    .mod-banner .button {
        position: absolute;
        right: 50px;
        top: 50%;
        margin-top: -19px
    }
    .mod-banner .close {
        top: 50%
    }
}