/* Reset browser styles */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,main,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* Global Classes */
.absolute{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.line-through{text-decoration:line-through}
.highlight{background:#ffc}
.nobullets{list-style:none;margin:0;padding:0}
.floatRight{float:right}
.floatLeft{float:left}
.floatNone{float:none}
.photoLeft{float:left;margin:0 10px 10px 0}
.photoRight{float:right;margin:0 0 10px 10px}
.upperCase{text-transform:uppercase}
.lowerCase{text-transform:lowercase}
.smaller{font-size:smaller}
.larger{font-size:larger}
.alignLeft{text-align:left}
.alignRight{text-align:right}
.alignJustify{text-align:justify}
.alignCenter{text-align:center}
.block{display:block}
.none{display:none}
.inline{display:inline}
.clear{clear:both}
.clearfloat{clear:both;height:0;font-size:1px;line-height:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.overFlow{overflow:auto}

/* Structure Globals */
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-text-size-adjust:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
.container{width:90%;margin: 0 auto}


/* Responsive Elements */
img{max-width:100%;height:auto}


/* error message */
input[type=date],input[type=email],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{border-radius:3px;border:1px solid #CCC;padding:5px;width:100%;margin:0;font-size:14px;font-size:.875rem}
input[type=date]:focus,input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #09F;box-shadow:0 0 5px rgba(0,153,255,.5)}
textarea{width:100%;height:100px}.none{display:none}
input[type="submit"],button{-webkit-appearance:none}


/* Typography 
----------------------------------------*/
body, p, ul, ol, dl, input, textarea, select, button, h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: 'Lato', sans-serif; line-height: 1.6; }

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 { font-weight: bold; margin: .2em 0 .3em; line-height: 1; }
h1 { color: #00468b; font-size: 33px; font-size: 2.2rem; text-transform: uppercase; margin-top: .6em; text-align: center; }
h2 { color: #7fb70a; font-size: 22px; font-size: 1.5rem; text-align: center; }
h3 { color: #00468b; font-size: 18px; font-size: 1.3rem; text-align: center; }
h4 { color: #103959; font-size: 18px; font-size: 1.125rem; }
h5 { color: #FFF; font-size: 17px; font-size: 1.063rem; }
h6 { color: #676767; font-size: 16px; font-size: 1rem; }


/* --- Text Elements --- */
p,li,table { font-size: 15px; font-size: .938rem; }
p { margin: 0 0 1em; line-height: 1.8em; }
blockquote { margin: 1.5rem; }
ul, ol, dl { margin: 1.5em; list-style-position:outside; }

/* a Tags */
a, a:visited { color: #00468b; text-decoration: underline; }
a:hover,a:focus,a:active { text-decoration: none; color: #343434; }
a.noLink { text-decoration:none; color:#707070; cursor:text; font-weight:bold; }
a.noLink:hover { color:#707070; }
a.phone[href^=tel]:link, .phone a {color:#00468b;}
a[href^=tel]{ color:inherit; text-decoration:inherit; font-size:inherit; font-style:inherit; font-weight:inherit;}
*:focus { outline: 2px solid #1C90E4; }

abbr, acronym { border-bottom: 1px dotted #000; cursor:help; }
del { color: #000; }
hr { color:#CCC; margin:20px; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl dd { margin-left: 1.5rem; }
dl dt, dfn, strong, b { font-weight: bold; }
em, dfn, i { font-style: italic; }
b em, em b, strong em, em strong { font-weight: bold; font-style: italic; }


/* Structure
----------------------------------------*/
body { background: #FFF; color: #232323; font-size: 15px; font-size: .938rem; }


/* Header
---------------------------------------- */
.masthead { background: #00468b; position: relative; z-index: 5; padding: 2em 0; }
.logo { left: 0; top: -2em; padding: 15px; background: #FFF; box-shadow: 1px 1px 5px rgba(0,0,0,.5); max-width: 50%; }
.logo img { display: block; }
.menu { background: #FFF; box-shadow: 1px 1px 5px rgba(0,0,0,.5); height: 75px; }


/* Content */
.content { padding: 8em 0 0; }





@media screen and (min-width: 769px) {
.container{width:96%;max-width:1000px}
.logo { padding: 25px 30px; }
}