ul.tabs { display: none; }
.newtab { cursor: pointer; display: block; background: #faf7f4; margin: 0; }
.newtab a { display: block; text-decoration: none; font-size: 20px; font-size: 1.25rem; padding: 1.25em 2.25em; background-color: #2261AE; color: #fff; border-bottom: 1px solid rgb(21,44,82); }
.newtab a:hover { color: #fff; }
.newtab .active { background-color: rgb(21,44,82); color: #fff; font-weight: bold; border-bottom: 1px solid #2261ae; }
.newtab a:after { content: ""; border: 8px solid transparent; border-top-color: #fff; float: right; margin-top: 9px; -webkit-transition: 250ms; transition: 250ms; }
.newtab .active:after { border-top-color: transparent; border-bottom-color: #fff; margin-top: 3px; }


/* Tab Panels */
.content-tabs { margin: 4em 0; }
.panel { background-color: rgb(21,44,82); padding: 3em; position: relative; display: block; opacity: 1; overflow: hidden; }
.panel.active { opacity: 1; }
.panel h2:first-of-type,
.panel h3:first-of-type { margin-top: 0; }
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel p,
.panel li { color: #fff; }


@media screen and (min-width: 769px) {
	ul.tabs { list-style: none; margin: 0; padding: 0; display: block; }
	ul.tabs > li { display: table; width: 100%; table-layout: fixed; border-collapse: collapse; }
	ul.tabs ul { display: table-row; }
	ul.tabs ul li { display: table-cell; width: 1%; font-weight: bold; border-right: 5px solid transparent; }
	ul.tabs ul li:last-child { border: 0; }
	ul.tabs ul li a { display: block; padding: 1em 0; text-align: center; text-decoration: none; font-weight: normal; background-color: #2261AE; color: #fff; cursor: pointer; }
	ul.tabs ul li a.active { background-color: rgb(21,44,82); font-weight: bold; box-shadow: 0 -5px 0 #80c342; }

	.panel { border-radius: 0 0 .5em .5em; }
}