/* Staff Styles */
.staff-personnel { margin-bottom: 2em; }
.staff-personnel:last-of-type { margin-bottom: 0; }
.staff-personnel p { margin-bottom: 0; }
.staff-personnel h3 { margin: 0; }
.staff-personnel p.staff-position { color: #898989; font-size: 12px; text-transform: uppercase; margin-bottom: .5em; }

/* Tabs Remove */
.content-tabs ul.tabs, .content-tabs ul.tabs ul { margin: 0; padding: 0; list-style: none; }
.content-tabs ul.tabs ul li { position: relative; }
.content-tabs ul.tabs ul li span.removeTab { position: absolute; right: -5px; top:-5px; z-index: 10; }
.content-tabs ul.tabs ul li a.addTab { background: none; border-color: transparent; }

/* Tabs Add */
.addTab { cursor: pointer; width: 75px; }

/* Global Styles */
.pointer { cursor: pointer; }
.hide { display: none; }