/* Marketing Site Overwrites */
body,
.pagewrap { background-color: #ececec; }
.pagewrap { box-shadow: none; }
.container { max-width: none; width: 100%; padding: 0 30px; }
.mobilemenu { background: #354455; position: fixed; width: 80%; z-index: 5; }
.hint { display: block; font-size: 12px; font-size: .75rem; color: #6e6e6e; }


/* ==================================
	Header 
================================== */
.db-logo { position: relative; }
.db-logo img { display: block; max-height: 30px; }
.navbar-top-links { text-align: right; }
.db-topmenu { background-color: #fff; position: fixed; z-index: 5; width: 100%; box-shadow: 0 1px 5px rgba(0,0,0,.15); top: 0; padding: 1.75em 0; }
.db-topmenu li { display:inline-block; vertical-align: middle; padding-left: .5em; margin-left: .5em; border-left: 1px solid #ececec; }
.db-topmenu li:first-child,
.db-topmenu .mobileonly { border-left: 0; padding-left: 0; margin-left: 0; }

.dropdown-menu { border: medium none; border-radius: 3px; box-shadow: 0 0 3px rgba(86, 96, 117, 0.7); display: none; float: left; font-size: 12px; right: 0; list-style: none outside none; padding: 2em; position: absolute; text-shadow: none; top: 100%; z-index: 1000; background: #FFF; }
.dropdown-menu li { display: block; }
.dropdown-menu.active { display: inline-block; }
.navbar-top-links .dropdown-alerts a {font-size: 12px;}
.navbar-top-links .dropdown-menu li a {padding: 3px 20px;min-height: 0;}
.navbar-top-links .dropdown-menu li a div {white-space: normal;}
.fa { display: inline-block; font-size: inherit; text-rendering: auto; width: 1.3em; text-align: center; 
-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); }


/* ==================================
	Content 
================================== */
.dashboard { position: relative; z-index: 1; }
.dashboard .module { background-color: #f9f9f9; overflow: hidden; padding: 1.5em; box-shadow: 0 1px 2px rgba(0,0,0,.1); }
.dashboard .container > .grid-row > [class*="col--"],
.dashboard .container > .grid-row > [class*="colM"] { margin-bottom: 1.5em; }
.dashboard .card-header { margin: -1.5em -1.5em 1.5em; color: #4f4f4f; background-color: #fff; padding: 1em 1.5em; border-bottom: 1px solid #ececec; }
.dashboard .card-header h2 { font-size: 20px; font-size: 1.25rem; color: #4f4f4f; margin: 0; }
.dashboard .card-header p { font-size: 14px; font-size: .875rem; color: #686868; margin: 0; }
.button-child { position: relative; padding-right: 100px; }
.button-child .button { position: absolute; right: 15px; top: 50%; margin-top: -18px; }


/* Kendo Grid Loader */
.k-loading-text { display: block; text-indent: 0!important; position: relative!important; }
.tab-content .k-loading-mask,
.card-body .k-loading-mask { z-index: 4; }
.tab-content .k-loading-color { background-color: transparent; }
body .k-popup .k-list .k-item { font-size: 14px; font-size: .875rem; }

/* Kendo Grid Loader */
.k-grid { height: 100% !important; max-height: 700px; }
.k-grid tr td { font-size: 12px!important; }


/* Provider Admin login */
.provider-number-card { max-width: 450px; margin: 3em auto 0; }
.provider-number-card label { display: block; margin: 0 0 .5em; }
.provider-number-card input[type=text] { font-size: 18px; font-size: 1.125rem; padding: .5em 1em; }
.provider-admin-card { max-width: 600px; margin: 3em auto 0; }


/* Provider Info Card */
.dashboard .provider-info-card { background-color: #4f4f4f; box-shadow: none; }
.dashboard .provider-info-card p,
.dashboard .provider-info-card li { color: #fff; }
.dashboard .provider-info-card h4 { color: #cecece; padding-left: 0; font-size: 20px; font-size: 1.25rem; font-weight: 100; border-bottom: 1px solid #5f5f5f; padding: 0 0 .2em; }
.dashboard .provider-info-card .module-body { margin-bottom: 2.5em; }
.dashboard .provider-info-card .module-body:last-child { margin-bottom: 0; }
.dashboard .provider-info-card li { font-size: 12px; font-size: 1rem; margin-bottom: 0.8em; text-overflow: ellipsis; overflow: hidden; }

.k-combobox .k-dropdown-wrap::before, .k-numeric-wrap::before, .k-picker-wrap::before {
	height: 1.9em!important;
}


	/* == Module 1 == */
	.module .network-referral { overflow-y: auto; height: 275px; }
	.module .item-pad p { padding: 15px 15px 0 15px; margin: 0; }
	#table_div { padding: 20px;}
	.payer-network { margin: 1%; background: #FFF; height: 200px; }
	.payer-top-bar, .payer-sub-bar, .payer-sub-bar ul { list-style: none; margin: 0; padding: 0;}
	.payer-network .payer-content { background: #FFF; padding: 1em; height: 400px; overflow: auto; }
	.network-referral .mobileonly table.stacktable.small-only { width: 100%; border-bottom: 4px solid #CCC; }
	.recent-details { text-align: right; }
	
	
	/* == Tabs == */
    #divStats .grid-row { margin: 0; }
	.dashboard .provider-tabbed-content,
	.dashboard .order-details-card { padding: 0; }
	.dashboard .provider-tabbed-content { height: 100%; }
	.data-tabs .tabs { display: table; table-layout: fixed; width: 100%; border-bottom: 1px solid #ececec; }
	.data-tabs .tabs li { display: table-cell; text-align: center; position: relative; padding: 1em .75em; color: #9e9e9e; line-height: normal; border-left: 1px solid #ececec; background-color: #fcfcfc; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
	.data-tabs .tabs li:first-child { border-left: 0; }
	.data-tabs .tabs li:before { content: ''; height: 4px; width: 100%; position: absolute; left: 0; bottom: -2px; }
	.data-tabs .tabs li:hover,
	.data-tabs .tabs .current { background-color: #fff; color: #2e2e2e; }
	.data-tabs .tabs li:hover:before { background-color: #ececec; }
	.data-tabs .tabs .current:before,
	.data-tabs .tabs .current:hover:before { background-color: #2261AE; }
	.data-tabs .tab-content { display: none; padding: 2em; background-color: #f9f9f9; min-height: 200px; }
	.data-tabs .tab-content.current { display: block; }
	/*.data-tabs .tabs .search-wrapper { padding: 5.5px 5px 5.5px 20px; }
	.data-tabs .tabs span, .data-tabs ul.tabs .search-wrap { display: inline-block; }
	.module .data-tabs .tab-content{ padding: 0 1em 1em; }
	.data-tabs .orders-sub-bar, 
	.data-tabs .orders-top-bar, 
	.data-tabs .orders-sub-bar li ul { list-style: none; margin: 0; padding: 0;}
	.data-tabs .orders-sub-bar li ul li, 
	.data-tabs .orders-top-bar li{ padding: 1.5em 1em; }*/
	.data-tabs .tab-content h3 { margin-top: 0; }
	.btn-view { border-radius: 5px; border: 1px solid #e0e0e0; background: url("../images/icon-viewmore.png") center no-repeat; background-color: #f9f9f9; height: 40px; width: 40px; position: absolute; right: 1.5em; top: 50%; margin-top: -20px; text-indent: -9999em; box-shadow: inset 0 -1px 1px rgba(0,0,0,.05), 0 3px 10px rgba(0,0,0,.05); }
	.btn-view:hover { background-color: #fff; }


	/* == Module 2 == */
	.module-2-stats .item { padding: 1.35em 1.5em 0; width: 100%; }
	.module-2-stats .item-1 { margin-bottom: 25px; }
	.module-2-stats .item-1:last-child { margin: 0px;}
	.module-2-stats .item h1 { line-height: 1; }
	.module-2-stats .curve-mini {overflow: hidden; padding: 0; width: 100%;}
	.module-2-stats .curve-mini span { padding: 0 20px; font-size: 12px; }
	.module-2-pie { text-align: center; }
	.module-2-pie .item { width: 100%; padding: 15px;  }
	.module-2-stats { padding-left: 2em; }
	.module-2-stats h1{ text-align: left; margin: 0; font-weight: 300;}
	.module-2-stats p { font-size: 14px; }
	/*.module-2-stats, .module-2-pie { display: inline-block; vertical-align: middle; float: none; margin: 0; }*/
	.module-2-stats h4 { margin-bottom: 20px;}
	

	/* == Module 3 == */
	.stats-period:before { content:''; height: 10px; width: 10px; display: inline-block; border-radius: 5px; margin-right: 10px; vertical-align: middle; }
	.stats-period-positive:before { content:''; background: #60c84c; }
	.stats-period-negative:before { content:''; background: #f05160; }
	.stats-period-accepted:before { content:''; background: #3498db; }
	.stats-value { float: right;}
	.stats-value-positive{ color: #60c84c;}
	.stats-value-negative{ color: #f05160;}
	.number { position: absolute; left: 50%; top: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 40px; font-size: 2.5rem; margin: 0; }
	.unique-shadow { box-shadow: 0 0 10px rgba(0,0,0,.075); }

	.meter { height: 15px; position: relative; background: #ececec; border-radius: 50em; box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3); overflow: hidden; }
	.meter > span { display: block; height: 100%; background-color: rgb(43,194,83); }
	.animate > span:after { display: none; }
	@-webkit-keyframes move { 0% { background-position: 0 0; } 100% { background-position: 50px 50px; } }

	.animated-wrapper { display: block; position: relative; background:#FFF;}
	.animated-label { height: 1em; padding: .3em; background: rgba(255, 255, 255, .8); position: absolute; display: none; color:#333; }
	
	
	/* == Order Details Module == */
	.order-summary-card,
	.claim-summary-card,
	.payment-summary-card { margin-bottom: 1em; }
	.order-details-list,
	.grid-row--nopad.order-details-list { margin-bottom: 2em; }
	.order-details-list li { border-bottom: 1px solid #ececec; padding: .75em 0; }
	.grid-row--nopad.order-details-list li { padding: .75em 0; }
	.order-details-list li strong { display: block; }
	.contact-tooltip { visibility: hidden; opacity: 0; position: absolute; top: 120%; left: 0; background-color: #fff; box-shadow: 0 2px 5px rgba(0,0,0,.25); padding: 1em 1.5em; width: 300px; margin-top: 20px; -webkit-transition: 250ms; transition: 250ms; }
	.order-details li span:hover > .contact-tooltip { visibility: visible; opacity: 1; top: 100%;}
	.contact-tooltip:before { content: ''; position: absolute; left: 25px; top: -18px; border: 10px solid transparent; border-bottom-color: #fff; }
	.contact-tooltip:after { content: ''; position: absolute; top: -20px; left: 0; width: 100%; height: 20px; }
	.contact-tooltip li { font-size: 14px; font-size: .875rem; }
	.contact-tooltip li:last-child { border-bottom: 0; }
	.items-services-card { margin-top: 2.5em; }
	.items-services-card .items-services-lineitem { margin-bottom: 2em; padding-bottom: 2em; border-bottom: 1px solid #ececec; }
	.items-services-card .items-services-lineitem h4 { font-size: 24px; font-size: 1.5rem; font-weight: 300; line-height: normal; border: 0; margin: 0; padding: 0; }
	.items-services-date { font-size: 14px; font-size: .875rem; color: #6e6e6e; margin-bottom: 0; }
	.items-services-card .details { background-color: #f4f4f4; margin-top: 2em; }
	.items-services-card .details li { font-size: 16px; font-size: 1rem; padding: .75em 1em; }
	.items-services-card .toggleLink { font-size: 16px; font-size: 1rem; margin-top: 1em; }
	
	
	/* == Provider Upload == */
	.supporting-docs-card { position: relative; }
	.dashboard .uploader-card { background-color: #fff; padding: 3em 2em; margin-top: 1.5em; position: relative; }
	.uploader-card img { opacity: .5; }
	.uploader-card label { cursor: pointer; display: block; font-size: 18px; font-size: 1.125rem; margin: 0 0 1em; }
	.uploader-card label:before { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 75%; }
	.uploader-card input[type=file] { padding: .5em 1em; border: 0; font-size: 16px; font-size: 1rem; text-align: center; background-color: #f9f9f9; box-shadow: none; }
	.module .uploader-card input[type=submit] { position: relative; z-index: 2; font-size: 16px; font-size: 1rem; padding: .75em 1.5em; }
	
	
	/* == Appeal Form == */
	.form-header { padding-bottom: 1em; margin: 1em 0; border-bottom: 1px solid #ececec; }
	.grid-row--nopad.appeal-form li { padding: 0 15px 0 0; margin-bottom: 1.25em; border: 0; }
	.appeal-form label { font-weight: bold; display: block; margin-bottom: .5em; }
	.appeal-form .inline { display: inline-block; margin-left: .5em; margin-bottom: 0; }
	.checkbox-list input[type=checkbox] { position: absolute; left: 0; top: 0; }
	.grid-row--nopad.checkbox-list .sixcol--xl { position: relative; padding-left: 1.5em; margin-bottom: .5em; }

.module-2-stats h1 { font-size: 20px; }


	/* == Change Password == */
	.change-pw li { margin-bottom: 1em; }
	.change-pw label { margin: 0; }


/* ==================================
	Dashboard 
================================== */
.dashboard { padding-top: 1.5em; padding-bottom: 1.5em; }
.dashboard .item { background-color: #fff; padding-left: 1.5em; color: #585857; }
.item p:last-child { margin-bottom: 0; }
.dashboard h4 { font-size: 18px; font-size: 1.125rem; color: #585858; margin: 0 0 1.5em; border-bottom: 1px solid #CCC; padding: 0 0 1em; }
.item img { display: block; max-width: 100%; }
#recent-grid tbody span { position: relative; }
#recent-grid tbody #pending-status{ position: absolute; height: 14px; width: 14px; left: -1px; right: 0; top: 0px; display: block; background: #000; margin: 0 auto; }


	/* == Kendo Grid == */
	.k-grid,
	.k-grid table { font-size: 14px; font-size: .875rem; }
	.k-grid-header th.k-header.alignRight { text-align: right; }
	.k-grid-header th.k-header.alignCenter { text-align: center; }
	.k-grid .toolbar { text-align: right; }
	.k-grid .toolbar label,
	.k-grid .toolbar input { display: inline-block; vertical-align: middle; }
	.k-grid .toolbar input { max-width: 300px; padding: .5em .75em; border-radius: 0; cursor: text; margin-left: .5em; }
	.k-grid .k-pager-numbers li { font-size: 14px; font-size: .875rem; }
	/*.k-detail-row .k-grid.k-widget { height: auto; }
	.k-grid-content.k-auto-scrollable { height: 316px; }
	#tab-3 .k-pager-wrap.k-grid-pager.k-widget.k-floatwrap { height: 59px; }
	#tab-3 .k-pager-numbers.k-reset { margin-top: -1px; } 
	.k-filtercell, .k-filtercell .k-widget, .k-filtercell > span { display: inline-block !important; }*/

.flex-direction-nav { display: none; }
.marketing.item.module .slides li img { display: block;
width: 500px;
margin: 0 auto; }

.module input[type="submit"], 
.module button { background: #60c84c; color: #FFF; padding: .75em 1.5em; border: 0; border-radius: 0; margin-top: 1em; font-size: 16px; font-size: 1rem; }
input[type="submit"], input[type="search"], .module button, .data-tabs ul.tabs li { cursor: pointer; }

.fixed-items .item-1 { min-height: 100px; }
.fixed-items .item-2 { min-height: 95px; }
.fixed-items .item-4 { min-height: 330px; }

/* ==================================
	Search Wrapper 
================================== */
.search-wrapper { text-align: center; }
.search-field-wrapper, .masthead .cart { display: inline-block; vertical-align: middle; }
.search-field-wrapper .searchSubmit { display: none; }

/* ==================================
	Icons 
================================== */
.icon{ float:left; width:14px; height:14px; position:relative; display:block; }
.icon:before, .icon:after{ position:absolute; content:""; display:block; }

/* Gear */
.icon-gear:before{ width:14px; height:14px; box-shadow:0 0 0 4px inset; border-radius:16px; border:1px dashed; top:-1px; left:-1px; }

/* Animated Checkmark */
.checkmark-svg,
.checkmark-svg__disabled { display: inline-block; vertical-align: middle; margin-right: .75em; margin-top: -4px; width: 28px; height: 28px; border-radius: 50%; stroke-width: 2; stroke: #fff; stroke-miterlimit: 10; box-shadow: inset 0px 0px 0px #7ac142; animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; }
.checkmark__circle { stroke-dasharray: 166; stroke-dashoffset: 166; stroke-width: 2; stroke-miterlimit: 10; stroke: #7ac142; fill: none; animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards; }
.checkmark__check { transform-origin: 50% 50%; stroke-dasharray: 48; stroke-dashoffset: 48; animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards; display: none; }
.checkmark-svg__disabled { box-shadow: inset 0px 0px 0px #8e8e8e; animation: fill2 .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both; }
.checkmark-svg__disabled .checkmark__circle { stroke: #8e8e8e; }

@keyframes stroke {
  100% { stroke-dashoffset: 0; }
}
@keyframes scale {
  0%, 100% { transform: none; }
  50% { transform: scale3d(1.1, 1.1, 1); }
}
@keyframes fill {
  100% { box-shadow: inset 0px 0px 0px 30px #7ac142; }
}
@keyframes fill2 {
  100% { box-shadow: inset 0px 0px 0px 30px #8e8e8e; }
}



/* -----
  Gridsy Framework
  Creates the container, rows and columns.
----- */

/* Container */
.container { max-width: none; }

/* Grid Row */
.grid-row:before, .grid-row:after { content:''; display: table; }
.grid-row:after { clear: both; }
.grid-row { margin: 0 -15px; }
.grid-row > [class*="col--"],
.grid-row > [class*="colM"],
.grid-row--nopad > [class*="col--"],
.grid-row--nopad > [class*="colM"] { float: left; padding: 0 15px; }
.grid-row--nopad { margin: 0; }

/* Columns */
.onecolM { width: calc((1 / 12) * 100%); }
.twocolM { width: calc((2 / 12) * 100%); }
.threecolM { width: calc((3 / 12) * 100%); }
.fourcolM { width: calc((4 / 12) * 100%); }
.fivecolM { width: calc((5 / 12) * 100%); }
.sixcolM { width: calc((6 / 12) * 100%); }
.sevencolM { width: calc((7 / 12) * 100%); }
.eightcolM { width: calc((8 / 12) * 100%); }
.ninecolM { width: calc((9 / 12) * 100%); }
.tencolM { width: calc((10 / 12) * 100%); }
.elevencolM { width: calc((11 / 12) * 100%); }
.twelvecolM { width: calc((12 / 12) * 100%); }


@media screen and (min-width: 500px) {
	.shift-right { float: right!important; }
  .onecol--small { width: calc((1 / 12) * 100%); }
  .twocol--small { width: calc((2 / 12) * 100%); }
  .threecol--small { width: calc((3 / 12) * 100%); }
  .fourcol--small { width: calc((4 / 12) * 100%); }
  .fivecol--small { width: calc((5 / 12) * 100%); }
  .sixcol--small { width: calc((6 / 12) * 100%); }
  .sevencol--small { width: calc((7 / 12) * 100%); }
  .eightcol--small { width: calc((8 / 12) * 100%); }
  .ninecol--small { width: calc((9 / 12) * 100%); }
  .tencol--small { width: calc((10 / 12) * 100%); }
  .elevencol--small { width: calc((11 / 12) * 100%); }
  .twelvecol--small { width: calc((12 / 12) * 100%); }
}


@media screen and (max-width: 1023px) {
	/* Mobile Menu */
	.large-only, .mobilemenu.mobileonly, .mobilemenu.mobileonly.active { display: none!important; }
	.db-topmenu { padding: 1em 0; position: relative; }
	.navbar-top-links { line-height: normal; }
	.navbar-top-links li { float: left; margin-left: .5em; }
	
	
	.module .item:nth-child(2) { width: 100%; }
	.module div:first-child { margin-bottom: 2%;}
	
	.dashboard .container > .grid-row { margin-bottom: 0; }
	.dashboard .grid-row .module { margin-bottom: 1.5em; }
	
	/* Mobile Menu */
	.pagewrap { left: 0; }
	.pagewrap.shift {  left: -80%; }
	.openmobile { margin: 0; }
	.mobilemenu-dashboard { position: fixed; height: 100%; right: -80%; overflow: auto; z-index: 9; }
	.mobilemenu-dashboard.active { right: 0; }
	.mobilemenu-dashboard ul li a { font-weight: normal; font-size: 16px; font-size: 1rem; position: relative; padding: 1em; border-bottom: 1px solid rgba(0,0,0,.1); }
	.mobilemenu-dashboard ul li a:hover,
	.mobilemenu-dashboard ul li a.active { background-color: rgba(0,0,0,.2); }
	.mobilemenu-dashboard ul li a:not(:only-child):after { content: ''; position: absolute; right: 1em; top: 50%; margin-top: -2.5px; border: 5px solid transparent; border-top-color: rgba(255,255,255,.25); }
	.mobilemenu-dashboard ul ul { background-color: rgba(0,0,0,.1); }
	.mobilemenu-dashboard ul li li a { padding-left: 2em; font-size: 15px; font-size: .938rem; }
}


@media screen and (min-width: 769px) {
	.pagewrap.shift { left: -80%; }
	.onecol--medium { width: calc((1 / 12) * 100%); }
	.twocol--medium { width: calc((2 / 12) * 100%); }
	.threecol--medium { width: calc((3 / 12) * 100%); }
	.fourcol--medium { width: calc((4 / 12) * 100%); }
	.fivecol--medium { width: calc((5 / 12) * 100%); }
	.sixcol--medium { width: calc((6 / 12) * 100%); }
	.sevencol--medium { width: calc((7 / 12) * 100%); }
	.eightcol--medium { width: calc((8 / 12) * 100%); }
	.ninecol--medium { width: calc((9 / 12) * 100%); }
	.tencol--medium { width: calc((10 / 12) * 100%); }
	.elevencol--medium { width: calc((11 / 12) * 100%); }
	.twelvecol--medium { width: calc((12 / 12) * 100%); }
	
	.mobileonly, .mobilemenu-dashboard { display: block!important; }
}


@media screen and (min-width: 1024px) {
	.pagewrap { position: relative; z-index: 10; }
	.mobileonly, .mobile-logo,
	.openmobile.mobileonly, .mobilemenu { display: none !important; }
	.container { padding: 0 15px; }
	
	
	/* Top Header */
	.db-topmenu li { margin-left: 1em; padding-left: 1em; font-size: 16px; font-size: 1rem; }
	
	
	/* Side Menu */
	.db-sidemenu{ position: fixed; display: block; left: 0; width: 100%; top: 86px; background-color: #354455; background-color: rgba(21,44,82,.9); z-index: 4; text-align: center; box-shadow: 0 0 5px rgba(0,0,0,.5); }
	.db-sidemenu li { display: inline-block; letter-spacing: 1px; margin: 0 .75em; text-transform: uppercase; font-size: 14px; font-size: .875rem; line-height: 2; }
	.db-sidemenu li a { display: block; color: #fff; text-decoration: none; padding: 1em; }
	.db-sidemenu li > .active,
	.db-sidemenu li a:hover { background: rgba(0,0,0,.1); }
	.network-referral .mobileonly { display: block !important; }
	
	
	/* Secondary Nav ----- 
	.search-wrapper .searchField { background: url("/images/icon-search.png") right 7px center no-repeat; width: 10px; -ms-transition: width 300ms; -webkit-transition: width 300ms; transition: width 300ms; position:relative; z-index: 2; height: 37px; font-weight: 300; -webkit-appearance:none; padding: 6.5px 30px 6.5px 2px; color: #000; font-size: 14px;}
	.search-wrapper .searchSubmit { display: none; }
	.search-wrapper .searchField,
	.search-wrapper .searchField:focus { border: 0; box-shadow: none; border-radius: 0; }
	.search-wrapper .searchField:focus { width: 300px; }
	input::-webkit-input-placeholder, input:-moz-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input.searchField, select.searchField, textarea.searchField {color: #fff !important; letter-spacing: 1px;}
	textarea:focus, input:focus{outline: none;}*/
	
	
	/* Content */
	.dashboard { padding: 175px 0 0; }
	
	.onecol--large { width: calc((1 / 12) * 100%); }
	.twocol--large { width: calc((2 / 12) * 100%); }
	.threecol--large { width: calc((3 / 12) * 100%); }
	.fourcol--large { width: calc((4 / 12) * 100%); }
	.fivecol--large { width: calc((5 / 12) * 100%); }
	.sixcol--large { width: calc((6 / 12) * 100%); }
	.sevencol--large { width: calc((7 / 12) * 100%); }
	.eightcol--large { width: calc((8 / 12) * 100%); }
	.ninecol--large { width: calc((9 / 12) * 100%); }
	.tencol--large { width: calc((10 / 12) * 100%); }
	.elevencol--large { width: calc((11 / 12) * 100%); }
	.twelvecol--large { width: calc((12 / 12) * 100%); }
	.openmobile.mobileonly, .mobilemenu { display: none!important;}
    #divStats .threecol--large { width: 25%; }
    #divStats .ninecol--large { width: 74.5%; }
	
	.module-2-stats p { font-size: 16px; }
	.module-2-stats h1 { font-size: 30px; }
	
		
	/* == Order Details Module == */
	.order-details-list { margin-bottom: 2em; }
	.order-details-list li { border-bottom: 1px solid #ececec; padding: .75em 0; line-height: normal; }
	.order-details-list li strong { float: left; width: 35%;  }
	.order-details-list li span { float: right; width: 60%; }
}


@media screen and (min-width: 1280px) {
	.network-referral .mobileonly { display: none !important; }
	.container { padding: 0 30px; }
	
	.onecol--xl { width: calc((1 / 12) * 100%); }
	.twocol--xl { width: calc((2 / 12) * 100%); }
	.threecol--xl { width: calc((3 / 12) * 100%); }
	.fourcol--xl { width: calc((4 / 12) * 100%); }
	.fivecol--xl { width: calc((5 / 12) * 100%); }
	.sixcol--xl { width: calc((6 / 12) * 100%); }
	.sevencol--xl { width: calc((7 / 12) * 100%); }
	.eightcol--xl { width: calc((8 / 12) * 100%); }
	.ninecol--xl { width: calc((9 / 12) * 100%); }
	.tencol--xl { width: calc((10 / 12) * 100%); }
	.elevencol--xl { width: calc((11 / 12) * 100%); }
	.twelvecol--xl { width: calc((12 / 12) * 100%); }
	
	/* Referral Statistics */
	.module-2-stats { margin-top: 2em; }
	
	/* Order Details Module */
	.order-details-list li strong { width: 25%; }
	.order-details-list li span { width: 70%;}
	.items-services-card .items-services-lineitem h4 { padding-right: 250px; }
	.items-services-card .toggleLink { position: absolute; right: 0; top: 7px; }
}
