﻿/* Member Login */
fieldset.floatLeft, fieldset.floatRight { margin: 0 2% 0 0; width: 48%; }
fieldset.floatRight { background: #EEE; border-bottom: 1px solid #DDD; border-right: 1px solid #E0E0E0; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; padding: 2% 4%; width: 35%; }
fieldset { border:0; }
fieldset.floatLeft, fieldset.floatRight { margin: 0 2% 0 0; width: 48%; }
ul.accountMenuLogin { list-style: none; margin: 0; padding: 0; }
ul.accountMenuLogin li { display: block; margin: 0; }
ul.accountMenuLogin li label { display: block; margin: 0 0 3px; }

.hint { font-size: 12px; font-size: .75rem; }

/* Account Login box*/
.account-login ul { margin:0; padding: 0; list-style: none!important; }
.account-login ul li { display: block; margin: 0 0 10px; }
.account-login ul li label { display: block; margin: 0 0 2px; }
.account-login ul li input.text:focus { border: 1px solid #09F; outline: none; box-shadow: 0 0 4px #bddaff; }
.account-login ul li input.submit { padding: 5px 0; margin: 0; }
.account-login ul li h3 { font-size: 14px; margin: 15px 0 0; color: #000; }
.account-login ul li p { font-size: 1em; }
.account-login ul li a {display:block; }
.account-login ul li a.block { font-size: .9em; margin: 3px 0; }

/* Update Information */ 
ul.accountInformation { padding: 0; list-style: none!important; }
ul.accountInformation li { padding: 5px; }
                               
/* CSS Document */
.pbAsset table td, .pbAsset table th {font-size:120%;}

/* 5. Change Password */
.password-reqs { position: absolute; bottom: 90%; left: 0; width: 100%; background-color: #2e2e2e; background-color: rgba(50,50,50,.95); padding: 1.5em; visibility: hidden; opacity: 0; -webkit-transition: 500ms; transition: 500ms; }
.password-reqs.active { visibility: visible; opacity: 1; bottom: 100%; }
.password-reqs:before { content: ''; position: absolute; left: 50%; bottom: -20px; border: 10px solid transparent; border-top-color: #2e2e2e; border-top-color: rgba(50,50,50,.9); }
.password-reqs-title { color: #fff; margin-bottom: .5em; }
.password-reqs li { color: #c0c0c0; margin-bottom: .5em; font-size: 13px; font-size: .813rem; line-height: normal; }

/* Forms library key */
ul.formsKey { display: block; background:#efefef; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; padding:1em; height:auto; border:1px solid #ccc; margin:0 0 5px 0; overflow:hidden;}
ul.formsKey li {margin-right:10px; line-height:20px; float:left; list-style:none;}

/* Tables */
table.formsTable{border:1px solid #cccccc; margin:0 0 5px 0;}
table.formsTable td {padding:5px;}
table.formsTable tr {border-bottom:1px dotted #ccc;}
tr.formsCategory  {background-color:#ddd;}
table.formsTable tr.odd {background-color:#f6f3f3;}
/*table .formsTable tr.odd:hover, table .formsTable tr.even:hover {background-color:#eee;}*/
table.formsTable tr.even {background-color:#fff;}
.sortCategory {padding:0 0 .25em 0; border-bottom:1px dotted #ccc; text-align:left; height:2.5em; margin-bottom:1em;}

/* PDF document links */
table.formsTable a[href$='.pdf'], ul.formsKey li span.PDFdoc {
background:transparent url(/members//images/file_pdf.png) center left no-repeat;
display:inline-block;
padding-left:30px;
line-height:25px;
}
/* Word Document Links */
table.formsTable a[href$='.doc'], table.formsTable a[href$='.rtf'], table.formsTable a[href$='.wps'], table.formsTable a[href$='.txt'], ul.formsKey li span.WordDoc {
background:transparent url(/members//images/file_doc.png) center left no-repeat;
display:inline-block;
padding-left:30px;
line-height:25px;
}
/* Excel Documents links */
table.formsTable a[href$='.xls'], table.formsTable a[href$='.csv'], table.formsTable a[href$='.xlw'], table.formsTable a[href$='.xlt'], ul.formsKey li span.ExcelDoc {
background:transparent url(/members//images/file_xls.png) center left no-repeat;
display:inline-block;
padding-left:30px;
line-height:25px;
}
/* PowerPoint Documents links */
table.formsTable a[href$='.ppt'], ul.formsKey li span.PPTdoc{
background:transparent url(/members//images/file_ppt.png) center left no-repeat;
display:inline-block;
padding-left:30px;
line-height:25px;
}
table.formsTable a.noIcon[href$='.pdf'], table.formsTable a.noIcon[href$='.doc'], table.formsTable a.noIcon[href$='.xls'], table.formsTable a.noIcon[href$='.ppt']{background-image:none; padding:0; display:inline;}

table.formsTable .onlineForm, ul.formsKey li span.onlineForm {
background:transparent url(/members//images/browser.png) center left no-repeat;
display:inline-block;
padding-left:30px;
line-height:25px;
}

.modal {background-color:#fff; display:none; width:375px; padding:15px; text-align:left; border:2px solid #333; opacity:0.8; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc;}
.modal h2 {background:url(../images/info.png) 0 50% no-repeat; margin:0px; padding:10px 0 10px 45px; border-bottom:1px solid #333; font-size:20px;}
.close{width:60px; text-decoration:none; padding:4px 2px; margin:10px auto; border:1px solid #b2c2cb; cursor:pointer; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/btn_bg_delete.gif) bottom repeat-x;}
.close:hover {border-color:Orange;}

#myaccount ul {
    margin: 0 !important;
    padding: 0 !important;
}
#myaccount li {
    list-style-image: none;
    list-style-type: none;
    margin: 5px 0px;
}
#myaccount label {
    display: block;
    font-size: 16px;
}
#myaccount label strong {
    color: #778899;
    position: relative;
    top: -1px;
}
#myaccount label em {
    color: #666666;
    font-size: 11px;
    font-style: normal;
}
#myaccount .text {
    border: 1px solid #CCCCCC;
    color: #445566;
    letter-spacing: 1px;
    padding: 5px;
    width: 100%;
}
#myaccount select {
    border: 1px solid #CCCCCC;
    padding: 4px;
    width: 94%;
}
#myaccount label span {
    color: #B8128F;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    top: 4px;
}
#myaccount .double label {
    float: left;
    width: 50%;
}
#myaccount .double .text {
    width: 93%;
}
#myaccount .triple label {
    float: left;
    width: 32%;
}
#myaccount .triple .text {
    width: 93%;
}
#myaccount .clearfix {
    clear: left;
    padding-top: 10px;
}
#myaccount .right {
    float: right;
}

body .modal {
    background-color: #FFFFFF;
    border: 2px solid #333333;
    display: none;
    padding: 15px;
    text-align: left;
    width: 350px;
}
.modal {
    background-color: #FFFFFF;
    border: 2px solid #333333;
    display: none;
    opacity: 0.8;
    padding: 15px;
    text-align: left;
    width: 375px;
}

div.memberMenu {
    float: left;
    height: auto;
    width: 100%;
	background:#231f20;
}
div.memberMenu ul {
    line-height: 0;
    margin: 0;
    padding: 0;
}
div.memberMenu ul li {
    list-style: none outside none;
}
div.memberMenu ul li a {
    color: white;
    display: block;
    padding: 11px 15px;
    text-decoration: none;
}
div.memberMenu ul li a.oddBall {
    background: #098CDE;
}
div.memberMenu ul li a:hover {
    background: #152D53;
    margin: 0 -1px;
}
h2.eventsh2 {
    background: url("/images/icon-h2-events.png") no-repeat scroll 95% 50% #4D4D4D;
    color: white;
    margin: 0;
    padding: 11px 13px 10px;
    text-transform: uppercase;
}
p.eventsAll {
    background: none repeat scroll 0 0 #4D4D4D;
    bottom: -1px;
    color: white;
    left: -1px;
    line-height: 0;
    margin: 0;
    padding: 15px 10px;
    position: absolute;
}
p.eventsAll a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}
p.eventsAll a:hover {
    text-decoration: underline;
}
.eventsTitle {
    line-height: 100%;
    margin: 0;
}

.k-grid tr td {
    font-size: 11px!important;
}
