﻿.password-reqs { position: absolute; bottom: 90%; left: 0; width: 100%; background-color: #2e2e2e; background-color: rgba(50,50,50,.95); padding: 1.5em; visibility: hidden; opacity: 0; -webkit-transition: 500ms; transition: 500ms; }
.password-reqs.active { visibility: visible; opacity: 1; bottom: 100%; }
.password-reqs:before { content: ''; position: absolute; left: 50%; bottom: -20px; border: 10px solid transparent; border-top-color: #2e2e2e; border-top-color: rgba(50,50,50,.9); }
.password-reqs-title { color: #fff; margin-bottom: .5em; }
#wizard .password-reqs li { color: #c0c0c0; margin-bottom: .5em; font-size: 13px; font-size: .813rem; line-height: normal; min-height: 0; }