﻿/* scrollable root element */
#wizard {width:100%; position:relative; margin:0 auto;}
/* single item */
#wizard .page { min-width: 600px; width:100%; max-width:960px; float:left; padding:0 10px 0 0;}

/* input fields */
#wizard li {list-style-type:none; list-style-image:none; margin-bottom:25px; min-height: 75px}
#wizard .twelvecol { min-height: 0; }
#wizard label {font-size:13px; display:block;}
#wizard label strong {color:#789; position:relative; top:-1px;}
#wizard li em {font-size:12px; color:#666; font-style:normal; display: block;}
/*#wizard .text {width:90%; padding:5px; border:1px solid #ccc; color:#456; letter-spacing:1px;}
#wizard input.text:focus, #wizard select:focus { border: 1px solid #09F; outline: none; box-shadow: 0 0 4px #bddaff; }
#wizard select {border:1px solid #ccc; width:94%; padding:4px;}
#wizard label span {color:red; font-weight:bold; position:relative; top:4px; font-size:20px;}
#wizard .double label {width:50%; float:left;}
#wizard .triple label {width:33%; float:left;}
#wizard .double .text {width:93%;}
#wizard .clearfix {clear:left;	padding-top:10px;}
#wizard .right {float:right;}*/
/* validation error message bar */
#drawer {background:#fff url(/images/overlay/h80.png) repeat-x scroll 0 0; _background-color:#fff; overflow:visible; position:fixed; left:0; top:0; text-align:center; padding:15px; font-size:18px; border-bottom:2px solid #789; width:100%; display:none; z-index:2;}
#wizard #status {overflow:hidden;}
#status li {list-style-type:none; list-style-image:none; float:left;  margin:0px 5px 0px 0px;font-family:'zurich_xcn'; font-size: 22px; line-height:1em; color:#ccc!important; text-transform:uppercase; text-decoration:none; padding:15px 20px 7px 20px!important; background: #9B0000 url(/images/bg-333DarkSpark.png); display:block; float:left; -webkit-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; margin-top:10px; margin-bottom:35px; border:none;}
#status li.active {font-family:'zurich_xcn'; font-size: 26px; line-height:1em; color:#fff!important; text-transform:uppercase; text-decoration:none; padding:15px 80px 3px 80px!important; background: #9B0000 url(/images/bg-redDarkSpark.png); display:block; float:left; -webkit-border-radius: 7px 7px 0 0; border-radius: 7px 7px 0 0; margin-top:10px; margin-bottom:35px; border:none;}

button.next, button.prev {font-family:'zurich_xcn'; font-size: 18px; line-height:.8em; color:#fff!important; text-transform:uppercase; text-decoration:none; padding:7px 10px!important; background: #9B0000 url(/images/bg-redDarkSpark.png); display:block; float:left; -webkit-border-radius: 7px; border-radius: 7px; margin-top:10px; margin-bottom:35px; cursor: pointer; border:none;}
button.next:hover, button.prev:hover {background:#600 url(/images/bg-333DarkSpark.png); margin-top:11px; margin-bottom:34px;}

/* error container */
#errors {background-color:#163356; color:#fff; width:450px; padding:20px; margin:5px auto; display:none; -moz-border-radius:5px; -webkit-border-radius:5px;}
/* title */
#errors h2 {margin:-5px 0; color:yellow;}
