body.Locations .main #map_canvas img, body.locations .main #map_canvas img {
    max-width: none;
}
body.Locations .left-sidebar, body.locations .left-sidebar {
    margin: 0 2% 0 0;
}
body.Locations .left-sidebar h2, body.locations .left-sidebar h2 {
    background: none repeat scroll 0 0 transparent;
    color: #707070;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 5px;
    padding: 0;
    text-transform: none;
}
.hint-text {
    color: #808080;
    font: 12px/16px Arial,Helvetica,sans-serif;
}
label.loclabel {
    color: #676767;
    display: block;
    font: bold 12px/16px Arial,Helvetica,sans-serif;
    margin: 20px 0 5px;
}
input.locsearch {
    -moz-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 50em 50em 50em 50em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1) inset;
    color: #707070;
    font-size: 13px;
    margin: 0 0 30px;
    padding: 5px 10px;
    width: 100%;
}
ul.location-list {
    height: 440px;
    list-style: none outside none;
    margin: 10px 0;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
}
ul.location-list li {
    border-bottom: 1px solid #EEEEEE;
    display: block;
}
ul.location-list li a {
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    text-decoration: none;
}
ul.location-list li a:hover {
    background: none repeat scroll 0 0 #F8F8F8;
    text-decoration: none !important;
}
ul.location-list li span {
    display: block;
}
ul.location-list li span.location-title {
    color: #01709D;
    font-size: 17px;
	line-height: normal;
}
ul.location-list li span.location-address {
    color: #707070;
    font-size: 12px;
	line-height: normal;
    margin: 7px 0;
}
ul.location-list li span.location-other {
    color: #707070;
    font: 11px/16px Arial,Helvetica,sans-serif;
}
ul.location-list li span.type {
    background: none repeat scroll 0 0 #E6F5FF;
    border: 1px solid #ADCDE3;
    border-radius: 2px 2px 2px 2px;
    color: #1E4F72;
    display: inline;
    font: bold 10px Arial,Helvetica,sans-serif;
    padding: 3px 7px;
    text-transform: uppercase;
}
#map_canvas {
    border: 5px solid #CFCFCF;
    max-width: 98%;
}
#mapToolTip img { max-width: 100%; }
#mapToolTip h2 {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 10px;
    padding: 0 0 10px;
	width: 400px;
}
body.Locations .main #map_canvas #mapToolTip .fourcol img, body.locations .main #map_canvas #mapToolTip .fourcol img {
    max-width: 100%;
}
#mapToolTip .locationHours p {
    margin: 0;
}
#mapToolTip ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#mapToolTip ul li, #mapToolTip p {
    color: #505050;
    font-size: 12px;
}
#mapToolTip p strong {
    color: #232323;
}
#mapToolTip a {
    background: none repeat scroll 0 0 #F0F0F0;
    border: 1px solid #D0D0D0;
    border-radius: 3px 3px 3px 3px;
    color: #404040;
    display: block;
    font: bold 11px/18px Arial,Helvetica,sans-serif;
    margin: 20px 0 5px;
    padding: 7px 0;
    text-align: center;
    text-decoration: none;
	width: 90%;
}
#mapToolTip a:hover {
    background: none repeat scroll 0 0 #F9F9F9;
}
.gm-style #mapToolTip img { max-width: 100%; }