.close-button, .required-switch, .fb-duplicate-helper { display: none; }

.obDisclosure {
    border: 1px solid #666666;
    clear: both;
    display: block;
    height: 250px;
    margin: 0.5em 0;
    overflow: auto;
    padding: 1em;
}