.pb-dont-show-me{ visibility:hidden;}
.content.framework{ left:200px; padding:0;margin:0;}
.content.framework .table_head{ display:none; }
.content.framework .table_foot{ display:none; }
.content.framework .title-table .odd td,.content.framework  .title-table .even td{background-color:white;}

.content.framework .odd, .content.framework .even { background: transparent; }
.content.framework .odd td{ background: transparent; border:0;} 
.content.framework .even td{ background: transparent; border:0;} 

ul.vpanel-table { display: block; list-style: none; margin: 25px 0 0; padding: 0; overflow: hidden; border-bottom: 1px solid #CCC; }
ul.vpanel-table li { border:1px solid transparent; border-radius: 5px; float: left; width: 100%; margin: 0px; position: relative; }
ul.vpanel-table li.ui-sortable-helper { box-shadow: 0 0 7px rgba(20,180,247,1); }
ul.vpanel-table li div.con { padding: 10px; border-bottom: 1px solid #EEE; background: #FFF; }
ul.vpanel-table li li div.con { border-bottom: 1px solid #DDD; }
ul.vpanel-table li:last-child .con { border: 0; }
div.left, div.right { float: left; }
ul.vpanel-table li .left { display: block; background: url("/VPanel/images/bg-movable.png") left 9px no-repeat; padding-left: 25px; width: 75%; }
ul.vpanel-table li .right { position: absolute; right: 10px; top: 11px; }
ul.vpanel-table li.head { float: none; width: auto; font-size: 13px; font-weight: 600; -webkit-text-stroke: .5px; color: #343434; text-transform: uppercase; padding: 10px; border-bottom: 1px solid #CCC; }
ul.vpanel-table li.head .left { background: none; }
ul.vpanel-table li.home-page .left { background: none; }
ul.vpanel-table li h3 { font-size: 14px; font-weight: 600; color: #454545; -webkit-text-stroke: .5px; margin: 0; line-height: normal; }
ul.vpanel-table li h3 a{ text-decoration:none; }
ul.vpanel-table li h3 a:hover{ text-decoration:underline; }
ul.vpanel-table li span { font-size: 11px; font-weight: 600; -webkit-text-stroke: .5px; color: #8e8e8e; text-transform: uppercase; }
ul.vpanel-table li li span { color: #767676; }
ul.vpanel-table li ul li h3 { line-height: 18px !important; }
ul.vpanel-table li ul li span { color: #767676;  text-shadow: 1px 1px rgba(255,255,255,.5); }

ul.vpanel-table li a.button { display: none; float: left; text-transform: uppercase; text-decoration: none; margin: 5px 0 0 5px; position:relative; right:0; font-size: 11px; line-height: normal; }
ul.vpanel-table li > .con:hover a.button { display: block; }

ul.vpanel-table li a.icon-cancel-confirm { -webkit-animation: pulse .5s 0s infinite ease; -moz-animation: pulse .5s 0s infinite ease; -ms-animation: pulse .5s 0s infinite ease; -o-animation: pulse .5s 0s infinite ease; animation: pulse .5s 0s infinite ease; }
@-webkit-keyframes pulse { from {-webkit-box-shadow: 0 0 5px 2px rgba(255,0,0,1); } to { -webkit-box-shadow: 0 0 5px 2px rgba(255,0,0,.25);} }
@-moz-keyframes pulse { from {-moz-box-shadow: 0 0 5px 2px rgba(255,0,0,1); } to { -moz-box-shadow: 0 0 5px 2px rgba(255,0,0,.25);} }
@-ms-keyframes pulse { from {box-shadow: 0 0 5px 2px rgba(255,0,0,1); } to { box-shadow: 0 0 5px 2px rgba(255,0,0,.25);} }
@-o-keyframes pulse { from {box-shadow: 0 0 5px 2px rgba(255,0,0,1); } to { box-shadow: 0 0 5px 2px rgba(255,0,0,.25);} }
ul.vpanel-table li a.icon-cancel { -webkit-transition: width .7s; }

ul.vpanel-table li ul.subpages { float: left; width: 100%; background: #F4F4F4; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; padding:0; margin: 0; list-style: none; }
ul.vpanel-table li { padding: 0; height: auto; border: 0; }
ul.vpanel-table li ul li h3 { font-size: 13px; line-height: 24px; margin: 0; }
ul.vpanel-table li ul.subpages li { display: block; width: 100%; background: transparent; margin: 0; }
ul.vpanel-table li ul.subpages li .con { background: transparent; box-shadow: none; }
ul.vpanel-table li ul li div.right { top: 15px; }
.browserIE7 ul.vpanel-table li ul li div.left { padding: 0; width: 80%; }
ul.vpanel-table li ul li:last-child .con { border-bottom: 0; }

.pagetitle { float: left; position: relative; z-index: 100; width: 100%; background: #F4F4F4; border-bottom: 1px solid #DDD; border-top: 1px solid #FFF; padding: 15px 0; }
.pagetitle .container { float: left; margin: 0 0 0 200px; }
.r .pagetitle .container { margin: 0 0 0 30px; width: 960px; }
.pagetitle h1 { float: left; font: 400 25px/30px "Myriad Pro", Helvetica, Arial, sans-serif; color: #434343; margin: 0; }
.pagetitle span { float: left; width: 100%; font: normal 13px/18px "Myriad Pro", Helvetica, Arial, sans-serif; color: #656565; }
.pagetitle .header { float: left; width: 55%; }
.pagetitle .header span{  }
.pagetitle span.current { font-weight: bold; color: #000; }
.pagetitle span a { color: #06F; text-decoration: none; font-weight: normal; }
.pagetitle span a.inactive { color:#878787; font-weight: bold;}
.pagetitle span a:hover { text-decoration: underline; }
.pagetitle span a.inactive:hover { text-decoration:none; cursor:default;}
.pagetitle span small { color: #878787; font-weight: normal; font-size: 13px; margin-left: 2px; }
.pagetitle span span.spacer { float: none; margin: 0 7px; color: #d0d0d0; width: auto; }

ul.vpanel-table li div.con.removeborder { border: 0; }
ul.vpanel-table li div.trigger { cursor: pointer; }
ul.vpanel-table li.inactive > .con{ opacity: .7; -moz-opacity: .7; -khtml-opacity: .7; filter: alpha(opacity=70); cursor: ; }
ul.vpanel-table li.inactive .con { background: url("/VPanel/images/bg-inactive.jpg") left top repeat; }

ul.toolbar { float: right; height: 40px; list-style: none; margin: 5px 0 0; padding: 0; }
ul.toolbar li { float: left; }
ul.toolbar li a { float: left; height: 43px; text-indent: -9999em; background: url("/VPanel/images/bg-toolbar.png") left top no-repeat; }
ul.toolbar li a.save { width: 87px; background-position: 0 0; }
ul.toolbar li a.preview { width: 102px; background-position: -87px 0; }
ul.toolbar li a.publish { width: 98px; background-position: -189px 0; }
ul.toolbar li a.revert { width: 4px; background-position: -413px 0; }
ul.toolbar li a.settings { width: 105px; background-position: -287px 0; }

ul.toolbar li a.save:hover { background-position: 0 -43px; }
ul.toolbar li a.preview:hover { background-position: -87px -43px; }
ul.toolbar li a.publish:hover { background-position: -189px -43px; }
ul.toolbar li a.revert:hover { background-position: -413px -43px; }
ul.toolbar li a.settings:hover { background-position: -287px -43px; }

ul.toolbar li.current a.save { background-position: 0 -86px; }
ul.toolbar li.current a.preview { background-position: -87px -86px; }
ul.toolbar li.current a.publish { background-position: -189px -86px; }
ul.toolbar li.current a.revert { background-position: -413px -86px; }
ul.toolbar li.current a.settings { background-position: -287px -86px; }

/* Add New Page List */
.pagetitle div.add-pages:hover ul.add-list { display: block; }
.pagetitle ul.add-list li { display: block; width: auto; height: auto; border-bottom: 1px solid #EEE; }
.pagetitle ul.add-list li:last-child { border: 0; }
.pagetitle ul.add-list li a { display: block; background: transparent; color: #545454; padding: 5px 10px 5px 35px; font: bold 13px/24px Arial, Helvetica, sans-serif; text-decoration: none; }
.pagetitle ul.add-list li a.add-page { background: url("/VPanel/images/icon-addpage.png") 5px 8px no-repeat; }
.pagetitle ul.add-list li a.add-doc { background: url("/VPanel/images/icon-adddocument.png") 5px 8px no-repeat; }
.pagetitle ul.add-list li a.add-link { background: url("/VPanel/images/icon-addlink.png") 5px 8px no-repeat; }
.pagetitle ul.add-list li a:hover { color: #06C; text-decoration: underline; }



/* Add New Page List in row */
.vpanel-table ul.add-list { display: none; float: left; background: #69a850; border-radius: 3px; border: 1px solid #58a041; color: #FFF;  padding: 8px 10px; text-decoration: none; text-transform: uppercase; margin: 5px 0 0 6px; position: relative; cursor: pointer; font-size: 11px; font-weight: 600; line-height: normal; }
ul.vpanel-table  ul.add-list li, ul.vpanel-table li ul.subpages ul.add-list li { width:auto;border:none;list-style:none; float:left;height: auto; border-right: 1px solid #6B9152; padding:0 4px 0 4px;}
.vpanel-table ul.add-list li:last-child,.vpanel-table ul.add-list li:first-child { border: 0; }
.vpanel-table ul.add-list li a { display: block; color: #fff;  text-decoration: none; }
.vpanel-table ul.add-list li a:hover { color: #FFF; text-decoration: underline; }




/* More obvious movable? */
a.nubs { display: block; width: 13px; height: 14px; position: absolute; cursor: move; left: 10px; top: 18px; }
ul.vpanel-table li ul li a.nubs { top: 21px; left: 18px; }
div.unpublishedChanges { left: 340px; top: 15px; display: block; position: absolute; font-size: 10px; }
div.unpublishedChanges img { height: 16px; width: 16px; }
div.secureLock { left: 260px; top: 15px; display: block; position: absolute; font-size: 10px; }
div.secureLock img { height: 16px; width: 16px; }
 
 
/* VPANEL (template stuff) CKEDITOR etc
----------------------------------------------*/
.shared-editor{
	width:1000px;
}

ul.textarea-list { margin:0;padding:0;}
ul.textarea-list > li{ list-style:none; float:left;  margin:0;padding:0;}
ul.textarea-list > li label{ text-align:center; display:block;width:100%;margin-left:auto;margin-right:auto; padding:0;margin:0;}
ul.textarea-list textarea{}





.template-list{border-top:20px solid white;}
.template-list { margin: 0; margin-left: 10px;}
.template-list > li {list-style: none;float: left;width: 120px;height: 90px;border: 1px solid #EEE;margin: 0px 3px 20px 2px;padding: 0;position: relative;cursor: pointer;}
.template-list ul.rad-graphix{ margin:0;padding:10px 10px 15px 10px; }
.template-list ul.rad-graphix > li{ border-radius:3px;display:none;list-style:none; margin:0;padding:0;height:5px;background:#fafafa;border:1px solid #d0d0d6; }
.template-list li.current-template   { border-color:#d7d7d7; background-color:#e7e7e7;}
.template-list li.current-template ul.rad-graphix > li  {   background-color:#ffffff;}
.template-list span{display:block;width:100%;text-align:center;position:relative;color:#b0b0b0;font-size:11px;font-weight:light;top:7px;}
.template-list li.current-template span{color:#555;}
.template-list .template-left-column ul.rad-graphix > li.one1{ display:block; }
.template-list .template-left-column ul.rad-graphix > li.two2{ height:40px;display:block; float:left; width:30%; margin:5px 5px 0px 0px;}
.template-list .template-left-column ul.rad-graphix > li.three3{height:40px;display:block; float:left; width:60%; margin:5px 0px 0px 0px;}
.template-list .template-right-column ul.rad-graphix > li.one1{ display:block; }
.template-list .template-right-column ul.rad-graphix > li.two2{ height:40px;display:block; float:left; width:60%; margin:5px 5px 0px 0px;}
.template-list .template-right-column ul.rad-graphix > li.three3{height:40px;display:block; float:left; width:30%; margin:5px 0px 0px 0px;}
.template-list .template-one-column ul.rad-graphix > li.one1{ display:block; }
.template-list .template-one-column ul.rad-graphix > li.two2{ }
.template-list .template-one-column ul.rad-graphix > li.three3{height:40px;display:block; float:left; width:98%; margin:5px 0px 0px 0px;}
.template-list .template-split-column ul.rad-graphix > li.one1{ display:block; }
.template-list .template-split-column ul.rad-graphix > li.two2{ height:40px;display:block; float:left; width:45%; margin:5px 5px 0px 0px;}
.template-list .template-split-column ul.rad-graphix > li.three3{height:40px;display:block; float:left; width:45%; margin:5px 0px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.one1{ display:block; }
.template-list .template-three-column ul.rad-graphix > li.two2{ height:40px;display:block; float:left; width:15%; margin:5px 5px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.three3{height:40px;display:block; float:left; width:53%; margin:5px 0px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.four4{height:40px;display:block; float:left; width:15%; margin:5px 0px 0px 5px;}
.template-list .template-form-builder { background:url("/VPanel/images/icon-form-builder-tiny.png") 21px 2px no-repeat; }
.template-list .template-form-builder ul.rad-graphix  { height:59px; }

.template-sidebar{}
.template-one-column{}