/* Structure */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html { -webkit-text-size-adjust: none; }
body { font-size: 14px; font-size: .875rem; }
img { max-width: 100%; }

/* Content */
.content { padding: 30px 0; }


/* Frontside Sidebar */
.sidebar .module { margin-bottom: 25px; }
ul.blogtabs { list-style: none; margin: 0; padding: 0; }
ul.blogtabs li { float: left; width: 33.3333333333333333333333%; text-align: center; font-size: 14px; font-weight: 600; -webkit-text-stroke: .5px; }
ul.blogtabs li a { display: block; background: #9eb2c0; padding: 20px 0; text-decoration: none; color: #FFF; }
ul.blogtabs li a:hover { background: #8b9eab; }
ul.blogtabs li a.current { background: #FFF; color: #3498db; }
.sidebar-panels { background: #FFF; }
.sidebar-panels > .panel { padding: 25px; }
.sidebar-panels > .panel ul { list-style: none; margin: 0; padding: 0; }
.sidebar-panels > .panel ul li { border-bottom: 1px solid #EEE; padding: 10px 0; }
.sidebar-panels > .panel ul li a { text-decoration: none; }
.sidebar-panels > .panel ul li:first-child { padding-top: 0; }
.sidebar-panels > .panel ul li:last-child { border: 0; padding-bottom: 0; }
/* Featured Blogs */
.hot-articles h2 { margin: 0; padding: 20px 15px; background: #FFF; border-bottom: 1px solid #EEE; font-weight: 300; color: #475055; }
ul.featured-blogs { list-style: none; margin: 0; padding: 10px 0; background: #FFF; }
ul.featured-blogs li { padding: 10px 15px; }
ul.featured-blogs li img { display: block; }
ul.featured-blogs li h3 { font-size: 14px; line-height: 18px; color: #5e5e5e; margin: 0; }
ul.featured-blogs li h3 a { text-decoration: none; }
ul.featured-blogs li h3 span { font-size: 11px; margin: .25em 0 0; }
ul.featured-blogs li h3 span a { color: #8e8e8e; }
ul.featured-blogs li h3 span a:hover { text-decoration: underline; }
.lightGrey { background: #f9f9f9; }


/* Frontside Featured Post */
.featured-post { background: #FFF; }
.featured-post section { padding: 30px 30px 10px; }
.featured-post header.article-header { margin: 0 0 10px; }
.featured-post header.article-header h1 { font-weight: 300; }
p.categories a:hover { text-decoration: underline; }
.featured-post footer { padding: 0 30px 30px; }

/* Other Blog Posts List */
.other-posts { margin-top: 50px; }
.other-posts ul { list-style: none; margin: 0; padding: 0; }
.other-posts ul li { margin: 0 0 10px; background: #FFF; position: relative; }
.other-posts ul li .post-details { padding: 30px; }
.other-posts ul li h1 { font-weight: 300; margin: 0 0 .5em; line-height: 28px; }
.other-posts ul li h1 a { text-decoration: none; }
.other-posts ul li p.categories { margin-bottom: 15px; }
.other-posts ul li p { margin: 0; }
.other-posts ul li .img { position: absolute; right: 0; top: 0; bottom: 0; overflow: hidden; }
.other-posts ul li .img img { max-width: none; max-height: 150%; margin-top: -25%; margin-left: -35%; }


/* Single Post Page */
article.post { background: #FFF; }
article.post > .article-header { padding: 30px; }
#twitter-widget-0 { width: 80px !important; }
.article-header h1 { margin: 0 0 5px; }
.article-header h1 a { text-decoration: none; color: #348BDC; }
.article-header h1 a:hover { text-decoration: underline; }
p.categories, p.date, p.tags { -webkit-text-stroke: .5px; font-size: 12px; }
.social-toolbar { margin-top: 10px; border-radius: 3px; }
.social-toolbar ul { list-style: none; margin: 0; padding: 0; }
.social-toolbar ul li { display: inline-block; vertical-align: middle; font-size: 11px; -webkit-text-stroke: .5px; font-weight: 600; }
.social-toolbar ul li a { display: block; line-height: 21px; padding: 3px 10px 3px 7px; border-radius: 3px; border: 1px solid #DDD; text-decoration: none; background: #ffffff; background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); zoom: 1; box-shadow: inset 1px 1px 0 #FFF; color: #5e5e5e; }
.social-toolbar ul li a:hover { background: #EEE; border-color: #CCC; box-shadow: inset 0 0 5px rgba(0,0,0,.1); }
.social-toolbar ul li a i { display: inline-block; vertical-align: middle; background: url("/images/icon-socials.png") 0 0 no-repeat; width: 15px; height: 15px; margin-right: 2px; margin-top: -1px; background-size: 75% auto; }
.social-toolbar ul li.comment a i { background-position: 0 2px; }
.social-toolbar ul li.facebook a i { background-position: 0 -26px; }
.social-toolbar ul li.twitter a i { background-position: 0 -53px; }
.social-toolbar ul li.linkedin a i { background-position: 0 -81px; }
.social-toolbar ul li.google a i { background-position: 0 -108px; }
.social-toolbar ul li.pinterest a i { background-position: 0 -136px; }
.social-toolbar ul li.print a i { background-position: 0 -163px; }
.social-toolbar ul li.email a i { background-position: 0 -191px; }
article.post .text-content { padding: 30px; }
article.post > .article-footer { padding: 30px; border-top: 1px solid #EEE; }
article.post > .article-footer p { margin: 0; }
#comments { margin-top: 50px; }


/* VPanel Table for Post List */
table.table { border: 1px solid #DDD; -webkit-text-stroke: .5px; margin-top: 30px; width: 100%; table-layout: fixed; font-size: .813rem; }
.table tr td { border-bottom: 1px solid #EEE; padding: 10px 5px; vertical-align: middle; }
.table tr:nth-child(even) td { background: #F9F9F9; }
.table thead tr td { background: #EEE; font-size: 11px; font-weight: bold; text-transform: uppercase; color: #4e4e4e; }
.table input.post-name { border: 0; width: 100%; background: transparent; }
.table input.post-name:focus { background: #EEE; box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); }
.table select { border: 0; background: transparent; }
.table select:focus { box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); background: #EEE; }
.table input[type="date"] { -webkit-appearance: none; border: 0; background: transparent; text-align: center; }
.table input[type="date"]:focus { background: #EEE; box-shadow: inset 1px 1px 3px rgba(0,0,0,.1); }
.table input[type=date]::-webkit-inner-spin-button { -webkit-appearance: none; opacity: 0; }
.table input[type="date"]:focus::-webkit-inner-spin-button, .table input[type=date]:focus::-webkit-calendar-picker-indicator { -webkit-appearance: auto; opacity: 1; }


/* VPanel Blog Post Sidebar Modules */
.page-title-section { margin-bottom: 1.5%; }
.page-title-section h2 { margin: .5em 0 0; }
.page-title-section .buttons a { margin-left: 5px; }
.settings .module { background: #F9F9F9; border-radius: 3px; overflow: hidden; margin-bottom: 25px; }
.settings .module h3 { margin: 0; background: #2e3641; color: #FFF; padding: 15px; font-size: 14px; cursor: pointer; position: relative; -webkit-transition: .25s; -moz-transition: .25s; -o-transition: .25s; -ms-transition: .25s; transition: .25s; }
.settings .module h3:hover { background: #3a424e; }
.settings .module h3 span.arrow { width: 12px; height: 8px; display: block; position: absolute; right: 15px; top: 18px; background: url("/vpanel/modules/blog/images/module-arrow.png") right center no-repeat; -webkit-transition: .25s; -moz-transition: .25s; -o-transition: .25s; -ms-transition: .25s; transition: .25s; }
.settings .module h3.open span.arrow { transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); }
.settings .module .body { padding: 15px; -webkit-text-stroke: .5px; }
.settings .tagsinput input { width: 100% !important; }
.settings .tagsinput span.tag { border-radius: 2px; margin-right: 3px; margin-bottom: 3px; padding: 3px 5px; color: #FFF; font-size: 10px; text-transform: uppercase; background: #ED732A; line-height: 14px; font-weight: 600; display: inline-block; }
.settings .button.mini { padding: 2px 5px; margin-left: 5px; }
/* Publishing */
.publishing ul, .categories ul { list-style: none; margin: 0; padding: 0; }
.publishing ul li { border-bottom: 1px solid #EEE; padding: 7px 0; font-size: 13px; }
.publishing ul li:first-child { padding-top: 0; }
.publishing ul li:last-child { padding-bottom: 0; border: 0; }
.settings .module .body b { line-height: 21px; font-weight: 600; }
/* Categories */
.categories ul { margin-bottom: 15px; }
.categories ul li { font-size: 13px; }
.categories input[type="text"], .tags input[type="text"] { font-size: 13px; padding: 5px; width: 70%; }
.categories input[type="submit"], .tags input[type="submit"] { width: 25%; margin: 0 0 0 2%; vertical-align: top; padding: 4px 0; }
/* Tags */
.tags .tagsinput input { padding: 4px; font-size: 13px; }
#TagsDiv { margin-bottom: 15px; }
/* Featured Image */
.featured-image .button { margin: 10px 0 0; padding: 4px 8px; }


/* VPanel Post Fields */
input.post-title { width: 100%; padding: 10px; font-size: 16px; }
span[contenteditable="false"] { border: 1px solid transparent; }
span[contenteditable="true"] { border: 1px solid #c0c0c0; }
p.permalink { margin: 5px 0 10px; li
    ne-height: 24px; font-size: 12px; color: #7e7e7e; }
p.permalink a.button { line-height: normal; padding: 3px 5px; font-size: 11px; margin-left: 10px; }
textarea.post-content { height: 300px; padding: 10px; }

/* SEO Tabs */
.metainfo { margin-top: 30px; }
ul.tabs { list-style: none; margin: 25px 0 0; padding: 0; }
ul.tabs li { float: left; }
ul.tabs li a { border-radius: 5px 5px 0 0; border: 1px solid transparent; display: block; padding: 10px 20px; font: bold 12px/18px "Open Sans", Arial, sans-serif; color: #8e8e8e; text-decoration: none; outline: none; }
ul.tabs li a:hover { background: #F9F9F9; color: #5e5e5e; border-bottom: 0; }
ul.tabs li a.current { border-color: #DDD; border-bottom: 1px solid #FFF; color: #2e3641; background: #FFF; }
.panels > .panel { border: 1px solid #DDD; border-radius: 0 0 5px 5px; padding: 30px; margin-top: -1px; }
.panels > .panel > .section { padding-bottom: 20px; border-bottom: 1px solid #EEE; margin-bottom: 20px; }
.panels > .panel > .section:last-child { padding: 0; margin: 0; border: 0; }
.panel label { font-weight: bold; display: block; margin-bottom: 10px; }
span.green { border-radius: 3px; background: #69b138; border: 0; padding: 0 4px; }
span.red { border-radius: 3px; background: #ce4343; border: 0; padding: 0 4px; }
span.red:hover, span.green:hover { background: none; }
/* Search Results Preview */
.search-result a.search-link { color: #1a0dab; text-decoration: underline; font: normal 18px/21px Arial, sans-serif; }
.search-result p.search-url { color: #006621; font: normal 13px/16px Arial, sans-serif; margin: 0 0 5px; }
.search-result p.search-description { margin: 0; color: #545454; font: normal 13px/18px Arial, sans-serif; }
/* Keywords, title, description */
p.small { font-size: 11px; color: #6e6e6e; margin: 5px 0 0; line-height: 14px; }
.tagsinput span.tag { border-radius: 2px; margin-right: 3px; margin-bottom: 3px; padding: 3px 5px; color: #FFF; font-size: 10px; text-transform: uppercase; background: #4A8DD4; line-height: 14px; font-weight: 600; display: inline-block; -webkit-text-stroke: 0; }
.tagsinput span.tag a { color: rgba(255,255,255,.5); text-decoration: none; font-size: 7px; margin-left: 10px; font-weight: bold; }
.tagsinput span.tag a:hover { color: #FFF; }
input.keyword-input, input.seo-title { width: 65%; }
.tagsinput input.not_valid { border-color: #D34345; box-shadow: 0 0 5px rgba(219,62,65,1); }
ul.keyword-checklist { list-style: none; margin: 1em 1.5em 0; padding: 0; }
ul.keyword-checklist li { padding: 5px 0 5px 25px; font-size: 12px; }
/* Post Analysis */
.analysis ul { list-style: none; margin: 0; padding: 0; }
.analysis ul li { padding: 10px 0 10px 40px; border-bottom: 1px solid #EEE; }
.analysis ul li.bad, ul.keyword-checklist li.bad { background: url("/vpanel/modules/blog/images/icon-bad.png") left center no-repeat; }
.analysis ul li.decent { background: url("/images/icon-decent.png") left center no-repeat; }
.analysis ul li.good, ul.keyword-checklist li.good { background: url("/vpanel/modules/blog/images/icon-good.png") left center no-repeat; }
/* Facebook SEO */
input.share-title { width: 100%; padding: 7px; }
.facebook-seo input.button { padding: 3px 8px; margin: 0; }


/* VPress Modal */
.vpress-modal { background: #FFF; position: fixed !important; top: 20% !important; width: 500px !important; left: 50% !important; margin-left: -250px; position: fixed; border: 0 !important; border-radius: 0 !important; box-shadow: 0 10px 15px -10px rgba(0,0,0,.5) !important; }
.vpress-modal .rwTitleBar { background: #21aee6; border-radius: 0 !important; cursor: default !important; }
.vpress-modal .rwTitleWrapper { padding: 15px 25px !important; line-height: normal; }
.vpress-modal .rwTitleWrapper h6 { padding: 0!important; color: #FFF !important; }
.vpress-modal .rwTitleWrapper .rwCommands { width: 20px; height: 20px; top: 15px; right: 15px; }
.vpress-modal .rwTitleWrapper input.rwCloseButton { width: 20px; height: 20px; background: url("/images/close-white.png") center no-repeat; }
.vpress-modal .rwContent { border: 0 !important; padding: 25px !important; height: 80% !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

.caption-text {
    color: #909090;
    display: block;
    font: italic 11px/16px Arial,Helvetica,Verdana,sans-serif;
    text-align: center;
}

/* Typography 
----------------------------------------*/
body, p, ul, table, ol, dl, input, textarea, button, select { font-family: "Open Sans", Arial, Helvetica, sans-serif; color: #3e3e3e; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; -webkit-text-stroke: .5px; }
h1 { color:#162b3a; font-size: 24px; margin:0 0 1em; font-weoght: 300; }
h2 { color:#2e2e2e; font-size: 20px; margin:0.5em 0;}
h3 { color:#5e5e5e; font-size: 16px; margin:0.5em 0; }
h4 { color:#000000; font-size: 1.0em; margin:0.5em 0; }
h5 { color:#070707; font-size: 0.5em; margin:0.5em 0; }
h6 { color:#162b3a; font-size: 0.2em; margin:0.5em 0; }

/* Text Elements */
abbr, acronym { border-bottom: 1px dotted #000; cursor:help; }
del { color: #000; }
blockquote { margin: 1.5em; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
hr { color:#CCC; margin:20px; }
p { font-size: 14px; font-size: .875rem; line-height:1.6em; margin: 0 0 1em; }

/* Lists */
ul, ol, dl { font-size: 14px; font-size: .875rem; margin: 0 1.5em 1.5em; line-height:1.1em; list-style-position:outside; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
dl dt { font-weight: bold; }
dl dd { margin-left: 1.5em; }
b em, em b, strong em, em strong { font-weight: bold; font-style: italic; }
b, strong { font-weight: bold; }
li li { font-size: 14px; font-size: .875rem; }
.nomargin { margin: 0; }

/* Tables */
table { font-size: 14px; font-size: .875rem; }
table p { font-size: 14px; font-size: .875rem; }
table li { font-size: 14px; font-size: .875rem; }

/* Links */
a { color: #348BDC; text-decoration: underline; }
a:link { text-decoration: underline; color: #348BDC; }
a:visited { text-decoration: underline; color: #348BDC; }
a:hover { text-decoration: none; color: #343434; }
a:active { text-decoration: underline; }
a.noLink , a.nolink:hover, a.nolink:visited { text-decoration:none; color:#707070; cursor:text; font-weight:bold; }

.mobileonly { display: none; }



/* Media Queries (remove any that you don't need)
----------------------------------------- */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .mobileonly { display: block !important; }
.container { width: 90%; }
[class*="col"] { width: 100%; }

a.logo img { display: block; margin: 0 auto; }

.copyright { text-align: center; }
.copyright p { float: none !important; }
.footer h3 { color: white; }
.footer h3 a.top { color: #AAA; }
.footer ul.footernav { display: none; }

.footer .mobile-nav { display: block; overflow:hidden; color:white; min-height:470px; position:relative; }
.footer .mobile-nav ul { position:absolute; opacity:1; -webkit-transition: all 300ms ease-in-out; transition: all 170ms ease-in-out; -webkit-transform-style: preserve-3d; -webkit-transform:rotate3d(0,0,0,0deg);-webkit-transform-origin:0% 0%;width:100%; list-style: none; margin: 0; padding: 0; }
.footer .mobile-nav ul.root {  }
.footer .mobile-nav ul.current { left:0; opacity:1;}	
.footer .mobile-nav ul.left { left: -120%; opacity:0; }
.footer .mobile-nav ul.right { left: 120%; opacity:0; }
.footer .mobile-nav ul li { cursor:pointer; position:relative; border-bottom:1px solid #343434; -webkit-transition: all 170ms ease-out; transition: all 170ms ease-in-out; -webkit-transform-style: preserve-3d;-webkit-transform:rotate3d(0,0,0,0deg);-webkit-transform-origin:0% 0%;	}
.footer .mobile-nav ul li a { display:inline-block; width:98%; color: #AAA; text-decoration:none;  padding: 10px 12px; }
.footer .mobile-nav ul li.parent a { text-indent:0; padding: 10px 12px; font-style:italic; font-size:105%; }
.footer .mobile-nav ul li.head { }
.footer .mobile-nav ul li.head a { height:36px; padding:21px 0px 0px 0px; display:inline-block; width:98%; color: #FFF; text-decoration:none; font-size:18px; font-style:italic;  margin:0;border:0;}
.footer .mobile-nav ul li.head a:hover { text-decoration:none;}
.footer .mobile-nav ul li:hover {background: #2A2A2A;}
.footer .mobile-nav ul li .forward-arrow { color:black; font-size:17px; position:absolute; right:0px;top:0;height:100%; width:57px;z-index:999;} 
.footer .mobile-nav ul li .backward-arrow { text-transform:uppercase; color:#FFF; font-size:17px; white-space:nowrap; position:absolute; left:0px;top:0;height:100%; width:87px; z-index:9999;} 
.footer .mobile-nav ul li .forward-arrow div{ height:20px;text-align:center;position:absolute; top:0;bottom:0;left:0;right:0; margin:auto;} 
.footer .mobile-nav ul li .backward-arrow div{ height:20px;text-align:center;position:absolute; top:0;bottom:0;left:0;right:0; margin:auto;}

.contactform li { width: 100%; }

}

div.buttons { margin-top: 0px; margin-bottom: 2%;}

.k-widget.k-window.infoDialog {
    top: 100px !important;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .contactform li { width: 50%; }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container { width: 96%; }
}

@media only screen and (device-width: 768px) {
}
