﻿.faq-wrapper h2 { background: url("/images/icon-expand.png") left center no-repeat; 
 margin: 0; padding: 1.2em 2em 1.2em; border-bottom: 1px solid #ECECEC;  font-weight:600; font-size: 16px; cursor: pointer; -webkit-transition: 250ms; transition: 250ms; }
.faq-wrapper h2.active { padding: 1em; background: #003976; color: #FFF; }
.faq-content { background: #F9F9F9; padding: 2em 2em 1em; }