@charset "utf-8";
/* CSS Document */
body.sidebar-hidden .content { left:0px; padding-left:30px; }
body.sidebar-hidden .content.framework { left:0px; padding-left:0px; }
body.sidebar-hidden .template-container { padding-left:0px; width:96%; max-width:1020px;padding-left:30px; }
body.sidebar-hidden .template-container .shared-editor{  width:100%; }
body.sidebar-hidden .template-container .textarea-list li{   }
body.sidebar-hidden .template-container .textarea-list li.one-quarter{ width:25%;   }
body.sidebar-hidden .template-container .textarea-list li.two-thirds{ width:67%;   }
body.sidebar-hidden .template-container .textarea-list li.one-third{ width:33%;   }
body.sidebar-hidden .template-container .textarea-list li.split{ width:50%;   }
body.sidebar-hidden .template-container .textarea-list li.three-thirds{ width:100%;   }
body.sidebar-hidden .template-container .vpanel-table{ max-width:890px; width:90%; }
 .settingsContainer{  clear:both;}
body.sidebar-hidden  .settingsContainer{ margin-left:0px; clear:both;}
body.sidebar-hidden  .settingsContainer.global-settings{ margin-left:30px;}
body.sidebar-hidden .settingsContainer.sc-right-column{ left:730px;}
body.sidebar-hidden .settingsContainer ul.revision-history{ height:200px; }
body.sidebar-hidden .pagetitle .container { margin-left:30px;}
body.sidebar-hidden .continue { left:30px;}
div.style_vt.sidebar-hidden *{
 display:none;

}
body div.framework div.style_vt .collapse-sidebar-button{display:none;}
div.style_vt.sidebar-hidden .collapse-sidebar-button{  display:block; }


.collapse-sidebar-button {
    background: url("../images/sb-close.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    left: 15px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    text-indent: -9999em;
    top: 68px;
    width: 24px;
    z-index: 999999999;
}
a.collapse-sidebar-button:hover {
    opacity: 0.8;
}
.sidebar-hidden a.collapse-sidebar-button {
    background: url("../images/sb-open.png") no-repeat scroll left top transparent;
    cursor: pointer;
    display: block;
    height: 24px;
    left: 15px;
    opacity: 1;
    position: absolute;
    text-indent: -9999em;
    top: 68px;
    width: 24px;
    z-index: 9999;
}
.sidebar-hidden a.collapse-sidebar-button:hover {
    opacity: 0.8;
}
* {outline:none; outline:0;}
body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;}
table, form * {font-family:Arial, Helvetica, sans-serif; font-size:12px;}
h1 {font-size:18px; margin:0 0 15px 0; color:#29529e;}

/* Header & Navigation */
.topheader {height:64px; background-image:url(../images/bg_head.jpg); background-position:top left; background-repeat:repeat-x;}
.nav {width:108px; position:relative; top:30px; float:left; text-align:center;}
.topheader .nav a.tab { font-size:11px; line-height:10px;  display:block; font-weight:normal; height:20px; padding:14px 6px 0 6px; text-decoration:none; background-image:url(../images/tab.gif); background-position:top; background-repeat:no-repeat; color:#ffffff;}
.topheader .nav a.tab:hover {display:block; font-weight:bold; height:24px; padding:10px 0 0 0; text-decoration:none; background-image:url(../images/tab_on.gif); background-position:top; background-repeat:no-repeat; color:#525252; text-decoration:underline;}
.topheader .nav a.on {height:24px; padding:10px 0 0 0; color:#525252; background-image:url(../images/tab_on.gif); background-position:top; background-repeat:no-repeat; font-weight:bold;}
.subnav {height:28px; background-image:url(../images/bg_subnav.gif); background-position:top left; background-repeat:repeat-x; padding:0 0 0 200px; overflow:hidden;}
.sub {float:left; text-align:center; height:100%; width:auto;}
.subnav .sub a.subbtn {display:block; height:100%; padding:7px 11px 0 11px; margin:0 auto; font-weight:bold; text-decoration:none; color:#525252; white-space:nowrap;}
.subnav .sub a.subbtn:hover {height:100%; padding:7px 10px 0 10px; margin:0 auto; border-left:1px solid #a8a8a7; border-right:1px solid #a8a8a7; background-image:url(../images/bg_subnav_on.gif); background-repeat:repeat-x;}
.subnav .sub a.on {height:100%; padding:7px 10px 0 10px; margin:0 auto; border-left:1px solid #a8a8a7; border-right:1px solid #a8a8a7; background-image:url(../images/bg_subnav_on.gif); background-repeat:repeat-x;}
.subnav .sub a.subbtn {display:inline-block;}
.helpbar {height:25px; background-image:url(../images/bg_helpbar.gif); background-position:top left; background-repeat:repeat-x;}

.menu h5 {font-size:11px; margin:4px 0 4px 0; line-height:14px;}

/* Aux Navigation */
.auxnav {position:absolute; top:74px; left:22px; width:140px; z-index:100;}
.statusbar {width:100%; text-align:center; height:60px; font-size:11px !important ; padding:2px 0 0 0; overflow:hidden;}
.inprogress, .active, .nonactive {background-position:center;background-repeat:no-repeat;}
.inprogress {background-image:url(../images/bg_status_inprogress.gif);}
.active {background-image:url(../images/bg_status_active.gif);}
.nonactive {background-image:url(../images/bg_status_nonactive.gif);}
.updatebox {min-height:78px; background-color:#eaeaea; background-image:url(../images/bg_updatebox.gif); background-position:bottom center; background-repeat:no-repeat; text-align:center; font-size:11px; padding:6px 6px;}

.marquee {width:124px; margin:auto;}
.marquee a, .marquee a:visited, .marquee a:active {text-decoration:none; color:#ffffff;}
.marquee a:hover {text-decoration:underline;}

.statustext {color:#FFFFFF;}
.statustext h2 {font-size:14px; margin:7px 0 2px 0; line-height:14px;}

/* Content */
.content {position:relative; left:200px; width:800px; padding:18px 0 0 0; margin:2px 0 0 0; line-height:18px;}
.continue {position:relative; left:200px; width:800px; border-top:1px solid #ababab;}
.continue_rule {height:6px; width:100%; background-color:#ababab; margin:0 0 8px 0;}
.tipBubble {background-image:url(../images/icon_contact_bubble.gif); background-position:0 3px; background-repeat:no-repeat; padding:0 0 0 20px; line-height:20px;}

ul.services, ul.information {list-style-image:url(../images/MenuBarRight.gif); list-style-position:outside; font-weight:bold;}

/* H Tags & Font Elements */
h1 {font-size:18px; margin:0 0 15px 0; color:#29529e;}
h2 {font-size:16px; margin:0 0 7px 0;}
h3 {font-size:14px; margin:0 0 7px 0;}
h6 {font-size:13px;	margin:5px 0 0 0;}

.blue {color:#29529e;}
.light_blue {color:#0099ee;}
.white {color:#ffffff;}

.success {background-image:url(../images/bg_success.gif); background-color:#e1f9c1;}
.alert {background-image:url(../images/bg_alert.gif); background-color:#fff6f6;}
.prompt {background-image:url(../images/bg_prompt.gif); background-color:#ffffff;}
.success, .alert, .prompt {padding:10px 5px 10px 43px; background-position:left; background-repeat:no-repeat; border-top:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1;}

.back {float:left;}
.forward {float:right;}
.margin_right {margin-right:5px;} /* FOR BUTTONS */
.inline {display:inline;}
.block {display:block;}
.clearFloat {clear:both;}
.button {cursor:pointer;}
.hilite {background-color:#FFFF00;}
.odd, .odd2 {background-color:#f7f7f7;}
.even, .even2 {background-color:#ffffff;}
.hrule {height:1px; border-top:1px solid #999999; margin:4px 0 4px 0;}
.selectService {padding:5px; background-color:#f7f7f7; border-bottom:1px solid #999999; margin:0;}
.assetOverview {padding:10px; border-bottom:1px solid #999999; margin:0;}
.thumb {border:1px solid #dfdfdf;}
.center {text-align:center;}

/* Form styles */
form, Form {margin:0; padding:0;}
.form_input {font-size:11px; color:#5a5b5c; padding:2px;}
.table_input {border:1px solid #e6e6e6;}
.formoutput {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #444; border: 1px #999 solid; padding-left: 5px;}
textarea, input {font-family:Arial, Helvetica, sans-serif; font-size:12px; padding:2px;}
select {font-family:Arial, Helvetica, sans-serif; font-size:12px;}
option {padding:0 2px 0 2px; margin:2px 0 2px 0;}
.entryTable {font-family: Arial, Helvetica, sans-serif; font-size: 10px; background-color: #DDDDDD;}

#contentOrder, #contentOrder2 {float: left; width: 550px;}
#contentOrder li, #contentOrder2 li {list-style: none; margin: 0 0 4px 0; padding: 5px; background-color: #0099CC; border: #CCCCCC solid 1px; color: #fff; cursor: move;}
#contentResults, #contentResults2 {width: 500px; margin: 0 0 0 40px; padding:5px; background-color:#336600; color:#FFFFFF;}

/* Table styles */
.th {padding:10px 0 5px 10px;}
.odd td {background-color:#f7f7f7; border-bottom:1px solid #cecece;}
.even td {background-color:#fcfcfc; border-bottom:1px solid #cecece;}
.inactive td {color:#999999;}
.inactiveOption {color:#999999;}
h3.inactiveCategory a, .inactiveCategory {color:#898989;}
.table_head {height:1px; width:100%; background-color:#9f9f9f; margin:0;}
.table_foot {height:0px; width:100%; background-color:#7f7f7f; margin:0px 0 10px 0;}

.titleorderTables {border:1px solid #039; /*#C00*/; padding:2px;}
.titleorderTables td {padding:3px !important;}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

/* Image styles */
.ImgFrame {padding: 3px; border: 1px solid #999999; background-color:#FFFFFF}

/* error message */
.error {height:15px; background-color:#FFFE36; font-size:11px; border:1px solid #E1E16D; padding:4px 10px; color:#000; display:none; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-border-radius-bottomleft:0; -moz-border-radius-topleft:0; -webkit-border-bottom-left-radius:0; -webkit-border-top-left-radius:0; -moz-box-shadow:0 0 6px #ddd; -webkit-box-shadow:0 0 6px #ddd;}
.error p {margin:0;}
.error2 {height:15px; background-color:#FFFE36; font-size:11px; border:1px solid #E1E16D; padding:4px 10px; color:#000; display:block; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-border-radius-bottomleft:0; -moz-border-radius-topleft:0; -webkit-border-bottom-left-radius:0; -webkit-border-top-left-radius:0; -moz-box-shadow:0 0 6px #ddd; -webkit-box-shadow:0 0 6px #ddd;}

.info, .valid, .warning, .errors, .validation {border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center; width: 600px}
.info {color: #00529B; background-color: #BDE5F8; background-image: url(../images/Info.png);}
.valid {color: #4F8A10; background-color: #DFF2BF; background-image:url(../images/ValidGreen.png);}
.warning {color: #9F6000; background-color: #FEEFB3; background-image: url(../images/Attention.png);}
.errors {color: #D8000C; background-color: #FFBABA; background-image: url(../images/Cancel.png);}
.validation {color: #D63301; background-color: #FFCCBA; background-image: url(../images/RemoveRed.png);}

/* Overlay */
.modal {background-color:#fff; display:none; width:375px; padding:15px; text-align:left; border:2px solid #333; opacity:0.8; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow: 0 0 50px #ccc; -webkit-box-shadow: 0 0 50px #ccc;}
.modal h2 {background:url(../images/info.png) 0 50% no-repeat; margin:0px; padding:10px 0 10px 45px; border-bottom:1px solid #333; font-size:20px;}

.simple_overlay {display:none; z-index:10000; background-color:#333; min-width: 250px; min-height:200px; border:1px solid #666; -moz-box-shadow:0 0 90px 5px #000; -webkit-box-shadow: 0 0 90px #000; margin-left: auto; margin-right: auto;}
.simple_overlay .close {background-image:url(../images/overlay/close.png); position:absolute; right:-25px; top:-35px; cursor:pointer; height:35px; width:35px; border: 0;}

.scrollable {position:relative; overflow:hidden; width: 580px; height:105px; border:1px solid #ccc; background:url(../images/overlay/h300.png) repeat-x;}
.scrollable .items {width:20000em; position:absolute; clear:both;}
.items div {float:left; width:580px;}
/* single scrollable item */
.scrollable img {float:left; margin:20px 5px 20px 21px; background-color:#fff; padding:2px; border:1px solid #ccc; width:100px; height:75px; -moz-border-radius:4px; -webkit-border-radius:4px;}
/* active item */
.scrollable .active {border:2px solid #000; position:relative; cursor:default;}

/* this makes it possible to add next button beside scrollable */
.scrollable {
	float:left;	
}

/* prev, next, prevPage and nextPage buttons */
a.browse {background:url(../images/overlay/hori_large.png) no-repeat; display:block; width:30px; height:30px; float:left; margin:40px 10px; cursor:pointer; font-size:1px;}
/* right */
a.right 		{ background-position: 0 -30px; margin-right: 0px;}
a.right:hover 	{ background-position:-30px -30px; }
a.right:active 	{ background-position:-60px -30px; } 
/* left */
a.left			{ margin-left: 0px; } 
a.left:hover  	{ background-position:-30px 0; }
a.left:active  	{ background-position:-60px 0; }

/* up and down */
a.up, a.down	{background:url(../images/overlay/vert_large.png) no-repeat; float: none; margin: 10px 50px;}
/* up */
a.up:hover  	{ background-position:-30px 0; }
a.up:active  	{ background-position:-60px 0; }
/* down */
a.down 			{ background-position: 0 -30px; }
a.down:hover  	{ background-position:-30px -30px; }
a.down:active  	{ background-position:-60px -30px; } 
/* disabled navigational button */
a.disabled {visibility:hidden !important;} 	

.apple_overlay {display:none; background-image:url(../images/overlay/white.png); width:640px; padding:35px; font-size:11px;}
/* default close button positioned on upper right corner */
.apple_overlay .close {background-image:url(../images/overlay/close.png); position:absolute; right:5px; top:5px; cursor:pointer; height:35px; width:35px;}
/* black version of the overlay. simply uses a different background image */
div.apple_overlay.black {background-image:url(../images/overlay/transparent.png); color:#fff;}
div.apple_overlay h2 {margin:10px 0 -9px 0; font-weight:bold; font-size:14px;}
div.black h2 {color:#fff;}

#triggers {margin-top:10px; text-align:center;}
#triggers img {background-color:#fff; padding:2px; border:1px solid #ccc; margin:2px 5px; cursor:pointer; -moz-border-radius:4px; -webkit-border-radius:4px;}

.thumbPtr { cursor:pointer; }

/* Buttons & Links */
a {color:#29529e;}
a:visited {color:#525252;}
a:hover {text-decoration:none;color:#525252;}

a.btn_submissions, a.btn_blue {font-weight:bold; color:#525252; background-position:center; background-repeat:repeat-x; display:inline-block; padding:0 5px; text-decoration:none; text-align: center; }
a.btn_submissions {background-image:url(../images/btn_bg_edit.gif); border:1px solid #a7cd2c;}
a.btn_submissions:hover {border:1px solid #718c19; color:#000000;}
a.btn_edit, a.btn_delete, a.btn_product, a.btn_blue {font-weight:bold; color:#525252; background-position:center; background-repeat:repeat-x; display:inline-block; padding:0 5px; text-decoration:none; width: 40px; text-align: center; }
a.btn_edit {background-image:url(../images/btn_bg_edit.gif); border:1px solid #a7cd2c;}
a.btn_edit:hover {border:1px solid #718c19; color:#000000;}
a.btn_blue { background-image: url("../images/btn_bg_blue.gif") !important; border: 1px solid #33A1DE !important; }
a.btn_blue:hover { border: 1px solid #003333 !important; color: #000000 !important; }
a.btn_delete {background-image:url(../images/btn_bg_delete.gif); border:1px solid #ec6c33;}
a.btn_delete:hover {border:1px solid #872b17; color:#000;}
a.btn_product {background-image:url(../images/btn_bg_edit.gif); border:1px solid #a7cd2c;}
a.btn_product:hover {border:1px solid #718c19; color:#000000;}

.btn_add {width:257px; height:31px; background-image:url(../images/btn_bg_add.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; float:right;}
.btn_add a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:8px 0 6px 7px;}
.btn_add a:hover {color:#29529e; background-image:url(../images/btn_bg_add_over.gif);}
.btn_continue {width:157px; height:33px; background-image:url(../images/btn_bg_continue.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; float:right;}
.btn_continue a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:6px 0 6px 7px;}
.btn_continue a:hover {color:#29529e;}
.btn_view {width:157px; height:33px; background-image:url(../images/btn_bg_view.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; margin:10px 0 0 0; float:right;}
.btn_view a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:6px 0 6px 7px;}
.btn_view a:hover {color:#29529e; background-image:url(../images/btn_bg_view_over.gif);}
.btn_modify {width:157px; height:33px; background-image:url(../images/btn_bg_modify.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; margin:10px 0 0 0; float:right;}
.btn_modify a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:6px 0 6px 7px;}
.btn_modify a:hover {color:#29529e;}
.btn_save {width:157px; height:33px; background-image:url(../images/btn_bg_save.gif); background-position:top left; background-repeat:no-repeat; margin:0; float:right;}
.btn_save:hover {background-image:url(../images/btn_bg_save_over.gif);}
.btn_save input {background-color:transparent; font-family:Arial; font-size:12px; font-weight:bold; color:#525252; text-decoration:none; text-align:left; cursor:pointer; width:152px; height:28px; border:0; margin:0; padding:2px 0 0 6px;}
.btn_save input:hover {color:#29529e;}
.btn_back {width:157px; height:33px; background-image:url(../images/btn_bg_back.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; float:left;}
.btn_back a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:8px 0 6px 25px;}
.btn_back a:hover {color:#29529e; background-image:url(../images/btn_bg_back_over.gif);}
.btn_link {width:157px; height:33px; background-image:url(../images/btn_bg_link.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; float:left;}
.btn_link a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:8px 0 6px 25px;}
.btn_link a:hover {color:#29529e; background-image:url(../images/btn_bg_link_over.gif);}

.submit{width:60px; text-decoration:none; padding:4px 2px; margin:10px auto; border:1px solid #b2c2cb; cursor:pointer; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/btn_bg_edit.gif) bottom repeat-x;}
.submit:hover {border-color:Orange;}

.close{width:60px; text-decoration:none; padding:4px 2px; margin:10px auto; border:1px solid #b2c2cb; cursor:pointer; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/btn_bg_delete.gif) bottom repeat-x;}
.close:hover {border-color:Orange;}

.session { margin-right:0 !important; }
.buttons {margin:10px; clear:both; }
.buttons ul { list-style-type:none;}
.buttons ul li {  display:inline; float:right; font-size:smaller; padding:0; margin:0; line-height:normal; margin-left:10px; }

div.button { padding-left:15px; cursor:pointer; padding:0 15px 8px; border:1px solid #cccccc; font-weight:bold; /* behavior.htc file for ie */ border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; background: -webkit-gradient(linear, left top, left 15, from(#fbfbfb), color-stop(50%, #fbfbfb), to(#dfdfdf)); background: -moz-linear-gradient(top, #fff, #dfdfdf 35px);}
div.button img { position:relative; left:-4px; top:4px;}
div.button:hover {background: -webkit-gradient(linear, left top, left 15, from(#fcfad5), color-stop(50%, #fcfad5), to(#dfdfdf)); background: -moz-linear-gradient(top, #fcfad5, #dfdfdf 35px);}
div.button[disabled] {}

.help-tip{ width:15px; margin-left:20px; }
.help-tip-content {	background:white;width:280px; z-index: 99999; border: 1px solid #BBB; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:absolute; top:0; left:0; padding: 10px 15px 10px 15px; font-size: 11px;	box-shadow: 0 4px 7px 3px rgba(0,0,0,.08), inset 0 1px 0 #FFF, inset 0 -1px 0 #FFF;}

ul.indexListing {
    float: left;
    list-style: none outside none;
    margin: 0 0 15px;
    padding: 0;
    width: 100%;
}
ul.indexListing li {
    background-image: -moz-linear-gradient(center top , #F7F7F7 0%, #EEEEEE 100%);
    border: 1px solid #DEDEDE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 -1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.3);
    float: left;
    list-style: none outside none;
    margin: 5px;
    padding: 15px 0;
    text-align: center;
    width: 20%;
}
ul.indexListing li:hover {
    background: -moz-linear-gradient(center top , #F9F9F9 0%, #F7F7F7 100%) repeat scroll 0 0 transparent;
}
ul.indexListing li:active {
    background: -moz-linear-gradient(center top , #EAEAEA 0%, #E0E0E0 100%) repeat scroll 0 0 transparent;
    border: 1px solid #BBBBBB;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
ul.indexListing a {
    display: none;
}
ul.indexListing li a img {
    margin: 0 auto 10px;
}
ul.indexListing li a {
    display: block;
    text-decoration: none;
}
ul.indexListing li img {
    display: block;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    width: 48px;
}

/* Kendo Grid Styles */
div.detailTemplate { border: 1px solid #F0713A; padding: 6px 10px; background-color: #EEEEEE }

/* Image Area Select */
.imgareaselect-border1 { background: url('/vpanel/images/animates/border-anim-v.gif') repeat-y left top;
}

.imgareaselect-border2 {
    background: url('/vpanel/images/animates/border-anim-h.gif') repeat-x left top;
}

.imgareaselect-border3 {
    background: url('/vpanel/images/animates/border-anim-v.gif') repeat-y right top;
}

.imgareaselect-border4 {
    background: url('/vpanel/images/animates/border-anim-h.gif') repeat-x left bottom;
}

.imgareaselect-border1, .imgareaselect-border2,
.imgareaselect-border3, .imgareaselect-border4 {
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-handle {
    background-color: #fff;
	border: solid 1px #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-outer {
	background-color: #000;
    filter: alpha(opacity=50);
	opacity: 0.5;
}

.imgareaselect-selection {
}

@charset "UTF-8";

/* SpryMenuBarVertical.css - Revision: Spry Preview Release 1.4 */

/* Copyright (c) 2006. Adobe Systems Incorporated. All rights reserved. */

/*******************************************************************************

 LAYOUT INFORMATION: describes box model, positioning, z-order

 *******************************************************************************/

/* Custom Div to center ul within */

.menu {
	margin:10px 0 0 0;
	padding:0 0 5px 0;
	border:1px solid #999;
	text-align:center;
	background-color:#EEE;
}

/* The outermost container of the Menu Bar, a fixed width box with no margin or padding */
ul.MenuBarVertical
{
	margin: auto;
	padding: 0;
	list-style-type: none;
	font-size: 11px;
	cursor: default;
	width: 124px;
}
/* Set the active Menu Bar with this class, currently setting z-index to accomodate IE rendering bug: http://therealcrisp.xs4all.nl/meuk/IE-zindexbug.html */
ul.MenuBarActive
{
	z-index: 1000;
}
/* Menu item containers, position children relative to this container and are same fixed width as parent */
ul.MenuBarVertical li
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	position: relative;
	text-align: left;
	cursor: pointer;
	width: 100%;
}
/* Submenus should appear slightly overlapping to the right (95%) and up (-5%) with a higher z-index, but they are initially off the left side of the screen (-1000em) */
ul.MenuBarVertical ul
{
	margin: -5% 0 0 95%;
	padding: 0;
	list-style-type: none;
	font-size: 100%;
	width:200px;
	position: absolute;
	z-index: 1020;
	cursor: default;
	left: -1000em;
	top: 0;
}
/* Submenu that is showing with class designation MenuBarSubmenuVisible, we set left to 0 so it comes onto the screen */
ul.MenuBarVertical ul.MenuBarSubmenuVisible
{
	left: 0;
}
/* Menu item containers are same fixed width as parent */
ul.MenuBarVertical ul li
{
	width:100%;
}

/*******************************************************************************

 DESIGN INFORMATION: describes color scheme, borders, fonts

 *******************************************************************************/

/* Outermost menu container has borders on all sides */
ul.MenuBarVertical
{
	border: 1px solid #ccc;

}
/* Submenu containers have borders on all sides */
ul.MenuBarVertical ul
{
	border: 1px solid #ccc;
	background-color:#f6f6f6;
	padding:4px;
}
/* Menu items are a light gray block with padding and no text decoration */
ul.MenuBarVertical a
{
	display: block;
	cursor: pointer;
	background-color: #FFF;
	padding: 0.5em 0.75em;
	color: #333;
	text-decoration: none;
	border:1px solid #f6f6f6;
}

/* CUSTOM Menu item for inactive users */
ul.MenuBarVertical a.inactive {
	color:#999999;
}

/* Menu items that have mouse over or focus have a blue background and white text */
ul.MenuBarVertical a:hover, ul.MenuBarVertical a:focus
{
	background-color: #cfe3fe;
	border:1px solid #525252;
}
/* Menu items that are open with submenus are set to MenuBarItemHover with a blue background and white text */
ul.MenuBarVertical a.MenuBarItemHover, ul.MenuBarVertical a.MenuBarItemSubmenuHover, ul.MenuBarVertical a.MenuBarSubmenuVisible
{
	background-color: #cfe3fe;
}

/*******************************************************************************

 SUBMENU INDICATION: styles if there is a submenu under a given menu item

 *******************************************************************************/

/* Menu items that have a submenu have the class designation MenuBarItemSubmenu and are set to use a background image positioned on the far left (95%) and centered vertically (50%) */
ul.MenuBarVertical a.MenuBarItemSubmenu
{
	background-position: 95% 50%;
}

/* Menu items that are open with submenus have the class designation MenuBarItemSubmenuHover and are set to use a "hover" background image positioned on the far left (95%) and centered vertically (50%) */
/* Removed Hover Effect 
ul.MenuBarVertical a.MenuBarItemSubmenuHover
{
	background-image: url(/images/MenuBarRightHover.gif);
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
*/

/*******************************************************************************

 MENU SEARCH FIELD STYLE: 

 *******************************************************************************/

.menusearch {
	width:120px;
}

ul.MenuBarVertical iframe
{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarVertical li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
		background: #FFF;
	}
}

.inactive {
	color:#ffffff;
}
