@charset "utf-8";
/* CSS Document */

* {outline:none; outline:0;}
body {margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;}
table, form * {font-family:Arial, Helvetica, sans-serif; font-size:12px;}
h1 {font-size:18px; margin:0 0 15px 0; color:#29529e;}

.header_gray {height:64px; background-image:url(../images/bg_head_gray.jpg); background-position:top left; background-repeat:repeat-x;}
.content {position:relative; left:200px; width:750px; padding:18px 0 0 0; margin:2px 0 0 0; line-height:18px;}
.continue {position:relative; left:200px; width:750px; border-top:1px solid #ababab;}
.continue_rule {height:6px; width:100%; background-color:#ababab; margin:0 0 8px 0;}
.tipBubble {background-image:url(../images/icon_contact_bubble.gif); background-position:0 3px; background-repeat:no-repeat; padding:0 0 0 20px; line-height:20px;}
.none {display: none;}

/* error message */
.error {height:15px; background-color:#FFFE36; font-size:11px; border:1px solid #E1E16D; padding:4px 10px; color:#000; display:none; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-border-radius-bottomleft:0; -moz-border-radius-topleft:0; -webkit-border-bottom-left-radius:0; -webkit-border-top-left-radius:0; -moz-box-shadow:0 0 6px #ddd; -webkit-box-shadow:0 0 6px #ddd;}
.error p {margin:0;}
.error2 {height:15px; background-color:#900; font-size:11px; border:1px solid #E1E16D; padding:4px 10px; color:#FF9; display:block; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-border-radius-bottomleft:0; -moz-border-radius-topleft:0; -webkit-border-bottom-left-radius:0; -webkit-border-top-left-radius:0; -moz-box-shadow:0 0 6px #ddd; -webkit-box-shadow:0 0 6px #ddd;}

/* Overlay */
.modal { position: fixed; background: #fff; display:none; width: auto; left: 38%; top: 25%; overflow-y: auto; padding: 25px; text-align:left; border-radius: 5px; z-index: 999; }
.modal h2 { margin-top: 0; }
.modal a.close { position: absolute; width: 24px; height: 24px; cursor: pointer; right: 15px; top: 15px; display: block; background: url("/VPanel/images/close.png") no-repeat; text-indent: -9999em; }
.overlay-mask { display: none; position: fixed; background: #545454; background: rgba(75,75,75,.75); left: 0; top: 0; width: 100%; height: 100%; z-index: 16; }

/* Buttons */
.btn_back {width:157px; height:33px; background-image:url(../images/btn_bg_back.gif); background-position:top left; background-repeat:no-repeat; text-decoration:none; float:left;}
.btn_back a {font-weight:bold; color:#525252; text-decoration:none; display:block; padding:8px 0 6px 25px;}
.btn_back a:hover {color:#29529e; background-image:url(../images/btn_bg_back_over.gif);}

.btn_save {width:157px; height:33px; background-image:url(../images/btn_bg_save.gif); background-position:top left; background-repeat:no-repeat; margin:0; float:right;}
.btn_save:hover {background-image:url(../images/btn_bg_save_over.gif);}
.btn_save input {background-color:transparent; font-family:Arial; font-size:12px; font-weight:bold; color:#525252; text-decoration:none; text-align:left; cursor:pointer; width:152px; height:28px; border:0; margin:0; padding:2px 0 0 6px;}
.btn_save input:hover {color:#29529e;}

.submit{width:60px; text-decoration:none; padding:4px 2px; margin:10px auto; border:1px solid #b2c2cb; cursor:pointer; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/btn_bg_edit.gif) bottom repeat-x;}
.submit:hover {border-color:Orange;}

.close{width:60px; text-decoration:none; padding:4px 2px; margin:10px auto; border:1px solid #b2c2cb; cursor:pointer; font-weight:bold; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background:url(../images/btn_bg_delete.gif) bottom repeat-x;}
.close:hover {border-color:Orange;}
