input.parsley-error, 
select.parsley-error,
textarea.parsley-error { border-color: #D35052; box-shadow: 0 0 5px rgba(225,91,93,.3); }
.parsley-errors-list { display:none; }
.parsley-errors-list.filled { display:block;list-style: none; margin: 0; padding: 0; clear: both; }
.parsley-errors-list li { color: #CB5456; margin: 0; line-height: normal; padding: 5px 0 0; font-size: 11px; font-size: .668rem; font-weight: bold; }