@charset "utf-8";
/* CSS Document */
.body {font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.topheader, .subnav, .helpbar, .auxnav, .continue { display:none; }
#toPrint {width:100%}
.content { width:100%; margin:0; float:none; left:0!important; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
table { width:100%; margin:0; float:none; left:0; font-family:Arial, Helvetica, sans-serif; font-size:11px;}
.titleorderTables {width:100%}
textarea, input {font-size:11px; font-family:Arial, Helvetica, sans-serif; }
.form {width:100%;}
.formoutput { font-size: 11px; font-family: Arial, Helvetica, sans-serif; color: #444;}

