@import url("entypo.css");

/* Reset
------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}
a.pointer { cursor: pointer; }
a.default-pointer { cursor: default; }
/* Global
------------------------------ */
.absolute {position:absolute;}
.relative {position:relative;}
.fixed {position:fixed;}
.nopadding {padding:0; }
.floatRight {float:right;}
.floatLeft {float:left;}
.alignCenter {text-align:center;}
.block {display:block;}
.inline {display:inline; }
.none { display:none; }
.clearfloat { clear:both; height:0;font-size: 1px;line-height: 0px;}

.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol { margin-right: 2%; float: left; }
.onecol { width: 6.5%; }
.twocol { width: 15%; }
.threecol { width: 23.5%; }
.fourcol { width: 32%; }
.fivecol { width: 42.5%; }
.sixcol { width: 49%; }
.sevencol { width: 55.5%; }
.eightcol { width: 66%; }
.ninecol { width: 74.5%; }
.tencol { width: 83%; }
.elevencol { width: 91.5%; }
.twelvecol { width: 100%; float: left; }
.last { margin-right: 0px; }

.clearfix:before, .clearfix:after, bav.subnav:before, nav.subnav:after { content: ""; display: table; }
.clearfix:after, nav.subnav:after { clear: both; }
.clearfix, nav.subnav { zoom: 1; }

.help-tip{ width:15px; margin-left:20px; }
.help-tip-content {    background:white;width:280px; z-index: 99999; border: 1px solid #BBB; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; position:absolute; top:0; left:0; padding: 10px 15px 10px 15px; font-size: 11px;    box-shadow: 0 4px 7px 3px rgba(0,0,0,.08), inset 0 1px 0 #FFF, inset 0 -1px 0 #FFF;}

/* KENDO */
.k-ff { overflow: inherit !important; } 
html .k-grid tr:hover {
  background: transparent;
}

/* CKEDITOR */
.cke_dialog { min-width: 350px!important; }
.cke_dialog_contents { min-width: 350px!important; }
.cke_dialog_ui_button { min-width: 110px!important; }

/* Structure
------------------------------ */
* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
html, body { min-height: 100%; }
body { background: #ebebeb; font: normal 13px/24px "Lato", Arial, Helvetica, sans-serif; color: #505050; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; -webkit-text-smoothing: antialiased; }
.container { width: 96%; margin: 0 auto; min-width: 768px; max-width: 1200px; }


/* Login */
.login { background: none repeat scroll 0 0 #FFFFFF; border-radius: 10px 10px 10px 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: block; margin: 5% auto 0; padding: 3% 3% 2%; width: 90%; max-width: 400px; }
.login h1 { font-size: 24px; font-weight: normal; line-height: normal;}
.login ul { list-style: none outside none; margin: 0; padding: 0; }
.login ul li { margin: 0 0 10px;}
.login ul li:last-child {margin: 0;}
.login ul li label {color: #707070;display: block;font-size: 14px;margin: 0 0 3px;}
.login ul li input {border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;color: #505050;display: block;font-size: 15px;padding: 5px;width: 100%;}
.login ul li input.text:focus {border: 1px solid #89CAE8;}
.login ul li.cbox label {display: inline;line-height: 30px;}
.login ul li.cbox input {display: inline;margin: 0 5px 0 0;width: auto;}
.login input#txtEmail { margin-bottom: 1em; }
.login ul.form { margin-bottom: 1.5em; }
.login input[type="submit"] {cursor: pointer; padding: .75em 2em; border: 0 none; cursor: pointer; font-weight: 600; }
.login ul.form + input[type="submit"] { margin-bottom: 1.25em; }

/* Overlay */
.modal { position: fixed; background: #fff; display:none; width: 350px; left: 50%; top: 15%; overflow-y: auto; padding: 2.5em; text-align:left; border-radius: 5px; z-index: 999; margin-left: -175px; }
.modal h2 { margin-top: 0; }
.modal a.close { position: absolute; width: 24px; height: 24px; cursor: pointer; right: 15px; top: 15px; display: block; background: url("/VPanel/images/close.png") no-repeat; text-indent: -9999em; }
.modal input.close { border: 0; border-radius: 0; color: #C00 !important; background: none; padding: .75em 1em; font-weight: bold; font-size: 13px; float: right; }
.modal input.close:focus { padding: .75em 1em; outline: none; border: 0; box-shadow: none; }
.overlay-mask { display: none; position: fixed; background: #545454; background: rgba(75,75,75,.75); left: 0; top: 0; width: 100%; height: 100%; z-index: 16; }



/* Header
------------------------------ */
.utility-bar { background: #0d445e; height: 60px; position: relative; z-index: 1000; }
.utility-bar a.logo { float: left; margin: 15px 0; }
.utility-bar a.logo img { display: block; max-width: 100%; max-height: 30px; }
.utility-bar ul { list-style: none; margin: 0; padding: 0; float: right; }
.utility-bar ul li { float: left; position: relative; margin: 0 0 0 25px; }
.utility-bar ul li a { display: block; text-decoration: none; color: #FFF; line-height: 30px; -webkit-text-stroke: .5px; }
.utility-bar a:before, .utility-bar a:after { color: #FFF; font-size: 16px; display: inline; vertical-align: top; opacity: .75; font-weight: normal !important; line-height: 30px; -webkit-text-stroke: 0; }
.utility-bar a:before { margin-right: 15px; }
.utility-bar a:after { margin-left: 15px; padding-left: 15px; border-left: 1px solid rgba(255,255,255,.4); }
.utility-bar a.userinfo { padding: 15px 0; }
.utility-bar a.icon-down-custom:after { content:"\e758"; }
.utility-bar a.logout { padding: 0 10px; border-radius: 3px; margin: 15px 0; text-transform: uppercase; font-size: .938em; }
.utility-bar a.logout:hover { opacity: 1; }
/* Account Sub Menu */
.utility-bar ul ul { display: none; position: absolute; top: 100%; left: 0; background: #FFF; padding: 15px; width: 225px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; box-shadow: 0 5px 10px rgba(0,0,0,.25); }
.utility-bar ul li:hover ul { display: block; }
.utility-bar ul li.full { border-bottom: 1px solid #EEE; padding: 0 0 10px; float: none; width: 100%; line-height: 36px; font-size: 14px; margin: 0 0 10px; -webkit-text-stroke: .5px; }
.utility-bar ul li.full a.button { padding: 0 10px; font-size: 12px; font-weight: bold; }
.utility-bar ul li li { margin: 0; float: none;  }
.utility-bar ul li li a { color: #909090; line-height: 30px; font-size: 13px; }
.utility-bar ul li li a:before, .utility-bar ul li li a:after {margin-right: 7px;color: #909090; }
.utility-bar ul li li a:hover { color: #303030; }

/* Navigation
----------------------------- */
.navigation { background: #FFF; box-shadow: 0 0 7px -1px rgba(0,0,0,.25);  }
.navigation ul { list-style: none; margin: 0; padding: 0; }
.navigation ul li { font-size: 12px; font-weight: bold; text-transform: uppercase; text-align: center; float: left; width: 10%; line-height: normal; }
.navigation ul li a { text-decoration: none; padding: 15px 0; display: block; color: #0d445e; border-right: 1px solid #E6E6E6; border-bottom: 2px solid #fff; -webkit-text-stroke: .5px; }
.navigation ul li:last-child a { border-right: 0; }
.navigation ul li a:hover { background: #FFF; border-bottom: 2px solid #FFF; }
.navigation ul li a[class*="icon-"]:before { font-size: 20px; line-height: 28px; display: block; color: #0d445e; transition: 1s; -webkit-transition: 1s; -moz-transition: 1s; -o-transition: 1s; -ms-transition: 1s; margin-bottom: 3px; }
.navigation ul li a[class*="icon-"]:hover:before { color: #6dbcdb; transform: rotateY(360deg); -webkit-transform: rotateY(360deg); -moz-transform: rotateY(360deg); -o-transform: rotateY(360deg); -ms-transform: rotateY(360deg); }

/* Actives */
.navigation ul li a.active, body[class*="administrator-default"] .navigation ul li:nth-child(1) a, 
body[class*="administrator-catalog-"] .navigation ul li:nth-child(2) a, 
body[class*="administrator-contentmanagement-"] .navigation ul li:nth-child(3) a,
body[class*="administrator-resources-"] .navigation ul li:nth-child(4) a,
body[class*="administrator-messages-"] .navigation ul li:nth-child(5) a,
body[class*="administrator-plugins-"] .navigation ul li:nth-child(6) a, 
body[class*="administrator-user-"] .navigation ul li:nth-child(7) a, 
body[class*="administrator-settings-view-all-locations"] .navigation ul li:nth-child(8) a, 
body[class*="administrator-settings-configure"] .navigation ul li:nth-child(9) a { color: #0d445e; border-bottom: 2px solid #6dbcdb; }

body[class*="administrator-default"] .navigation ul li:nth-child(1) a[class*="icon-"]:before, 
body[class*="administrator-catalog-"] .navigation ul li:nth-child(2) a[class*="icon-"]:before, 
body[class*="administrator-contentmanagement-"] .navigation ul li:nth-child(3) a[class*="icon-"]:before, 
body[class*="administrator-resources-"] .navigation ul li:nth-child(4) a[class*="icon-"]:before, 
body[class*="administrator-messages-"] .navigation ul li:nth-child(5) a[class*="icon-"]:before, 
body[class*="administrator-plugins-"] .navigation ul li:nth-child(6) a[class*="icon-"]:before, 
body[class*="administrator-user-"] .navigation ul li:nth-child(7) a[class*="icon-"]:before, 
body[class*="administrator-settings-view-all-locations"] .navigation ul li:nth-child(8) a[class*="icon-"]:before, 
body[class*="administrator-settings-configure"] .navigation ul li:nth-child(9) a[class*="icon-"]:before { color: #6dbcdb; transform: none; -webkit-transform: none; -moz-transform: none; -o-transform: none; -ms-transform: none; }


/* Page Information 
----------------------------- */
section.title { margin: 3% 0 0; line-height: normal; }
h1.page-title { float: left; margin: 2px 0 0; }
h1.page-title:before { margin-right: 15px; background: #6dbcdb; color: #FFF; border-radius: 3px; font-size: 16px; text-align: center; padding: 5px 7px; vertical-align: 10%; }
p.page-desc { float: left; font-size: 13px; line-height: 30px; color: #808080; margin: 2px 0 0 25px; padding: 0 0 0 25px; border-left: 1px solid #CCC; -webkit-text-stroke: .5px; }
section.title input[type=search] { float: right; border-radius: 3px; -webkit-appearance: none; border: 0; padding: 10px; width: 25%; margin: 0; border: 1px solid #CCC; }
.title .tutorials {text-decoration: none; color: #787878; font-size: 0; }
.title .tutorials:hover { color: #0d445e; }
.title .tutorials:before { font-size: 30px; }


/* Content
----------------------------- */
section.maincontent { margin: 3% 0 4%; }
section.maincontent .container { border: 1px solid #CCC; border-radius: 5px; background: #FFF; overflow: hidden; position: relative; }
.home.subcontent { padding: 3% 3% 3% 1%; width: 73%; float: left; }
.subcontent { float: left; width: 86%; padding: 3% 3% 3% 1%; min-height: 550px; }
.subcontent .subcontent { padding: 0; min-height: 0; }
.fullcontent { padding: 3%; }

/* Subnav
----------------------------- */
ul.subnav { list-style: none; margin: 0 0 5%; padding: 0;}
ul.subnav li { float: left; width: 20%; }
ul.subnav li a { display: block; color: #909090; text-decoration: none; font-weight: bold; padding: 17px 15px 15px; text-align: center; }
ul.subnav li a:hover { color: #6dbcdb; }
ul.subnav li a:before { display: block; font-weight: normal; font-size: 18px; margin: 0 0 10px; opacity: .75; }
ul.subnav li a.active { color: #FFF; border-radius: 3px; background: #6dbcdb; }


/* Aside
----------------------------- */
aside, nav.subnav { float: left; height: 100%; padding: 2.5%; width: 25%; margin-right: 2%; background: /*#f7fafc*/ url("../images/blue-shadow.png") right center no-repeat; background-size: 20px 100%; }
aside h2 { margin: 0; }
aside p.url { font-size: 12px; margin: 3px 0 0; }
aside a.logout { border-radius: 3px; display: block; margin: 30px 0 0; padding: 6px 0; text-transform: uppercase; }
aside ul { list-style: none; margin: 20px 0 0; padding: 0; }
aside ul li { font-size: 13px; font-weight: 600; line-height: 24px; position: relative; -webkit-text-stroke: .5px; }
aside ul li h3 { display: block; margin: 0 0 10px; font-weight: bold; font-size: 15px; }
aside ul li h3:before { margin-right: 10px; color: #707070; }
aside ul li a { text-decoration: none !important; display: block; padding: 3px 0; border-bottom: 1px solid #EFEFEF; }
aside ul li:last-child a { border: 0; }
aside ul li a span { border-radius: 3px; padding: 0 5px; background: #393; color: #FFF; text-align: center; font-weight: bold; font-size: 9px; line-height: 18px; display: block; position: absolute; right: 0; top: 6px; -webkit-text-stroke: 0; }


/* Subnav
----------------------------- */
nav.subnav { width: 12%; padding: 2%; }
nav.subnav ul { list-style: none; margin: 0; padding: 0; -webkit-text-stroke: .5px; }
nav.subnav ul li a { line-height: normal; display: block;text-decoration: none; font-size: 12px; padding: 15px 0; margin-bottom: 10px; font-weight: bold; text-transform: uppercase; text-align: center; color: #909090; }
nav.subnav ul li a:before { display: block; text-align: center; font-size: 24px; margin: 0 0 5px; }
nav.subnav ul li a:hover { color: #0d445e; }
nav.subnav ul li a.active { color: #FFF; border-radius: 3px; background: #6dbcdb; }
nav.subnav ul li a.icon-Pages:before { content: "\1f4c4"; }
nav.subnav ul li a.icon-File:before { content: "\e711"; }
nav.subnav ul li a.icon-Assets:before { content: "\1f680"; }
nav.subnav ul li a.icon-Recycle:before { content: "\2615"; }
nav.subnav ul li a.icon-System:before { content: "\f357"; }
nav.subnav ul li a.icon-Url:before { content:"\2699"; }
nav.subnav ul li a.icon-Templates:before { content: "\e74e"; }

/* Quick Contact
----------------------------- */
.contact { padding: 2% 0; background: #0b3a50; }
.contact h4 { -webkit-text-stroke: .5px; font-size: 21px; color: #FFF; font-weight: 300; max-width: 75%; margin: 8px 0 0; }
.contact a { font-size: 14px; padding: 10px 15px; border: 0; }


/* Footer
----------------------------- */
.copyright { background: #0d445e; padding: 3% 0; -webkit-backface-visibility: hidden; }
.copyright h5 { color: #ffd65d; font-weight: bold; text-transform: uppercase; font-size: 11px; margin: 0 0 5px; }
.copyright ul li { display: block; line-height: 26px; }
.copyright ul li a { color: rgba(255,255,255,.75); text-decoration: none; display: block; font-size: 13px }
.copyright ul li a:hover { color: #FFF; text-decoration: underline; }
.copyright ul.split li:nth-child(1) { width: 100%; }
.copyright ul.split li { float: left; width: 50%; }


/* Graphs
----------------------------- */
.stats { margin-bottom: 50px; }
.stats ul { list-style: none; margin: 20px 0 0; padding: 0; }
.stats ul li { padding: 10px 0; font-size: 11px; font-weight: bold; border-bottom: 1px solid #EEE; }
.stats ul li span { float: right; color: #0d445e; }
h2.heading { margin: 0 0 15px 0; }
h2[class*="icon-"]:before { margin-right: 15px; font-size: 18px; opacity: .5; }


/* Messages Table
----------------------------- */
ul.table, ul.pages { list-style: none; margin: 3% 0 0; padding: 0; }
ul.table li, ul.pages li { margin: 0 0 3px; background: #F8F8F8; border: 1px solid #D9D9D9; border-radius: 3px; }
ul.table li:hover, ul.pages li:hover, ul.pages li.active { background: #FFF; border: 1px solid #6dbcdb; }
ul.table li.unread { background: #FFF; }
ul.table li div, ul.pages li div { display: inline-block; vertical-align: middle; padding: 12px 10px; font-size: 12px; color: #606060; line-height: normal; }
ul.table li.unread div { font-weight: bold; color: #000; }
ul.table li div.checkbox { width: 5%; text-align: center; }
ul.table li div.checkbox input { margin: 0 auto; display: block; }
ul.table li div.reply, ul.table li div.remove { line-height: 24px; width: 6%; text-align: center; }
ul.table li div.reply a { text-decoration: none; color: #404040; font-size: 16px; display: block; border-radius: 3px; }
ul.table li div.reply a:hover { color: #FFF; background: #589ce8; }
ul.table li div.subject { width: 12%; }
ul.table li div.name { width: 15%; font-weight: bold; }
ul.table li div.desc { width: 44%; }
ul.table li div.date { width: 10%; text-align: center; }


/* PageBuilder Table
----------------------------- */
.modify-title { margin-bottom: 30px; }
.modify-title h2 { margin: 0; }
.modify-title .buttons { margin: 0; }
.pagebuttons a.button { margin-left: 10px; }
.pagebuttons a.button:before { font-size: 1.25em; }
ul.pages li { padding: 12px 0; background: #FCFCFC; }
ul.pages li div { padding: 0 10px; }
ul.pages div.edit { width: 5%; text-align: center; font-size: 16px; filter: alpha(opacity=0); transition: .25s; -moz-transition: .25s; -webkit-transition: .25s; -ms-transition: .25s; -o-transition: .25s; }
ul.pages li:hover > div.edit { opacity: 1; filter: alpha(opacity=1); }
ul.pages li.inactive { filter: alpha(opacity=70); opacity: .7; }
ul.pages div.edit a { text-decoration: none; display: block; border-radius: 3px; cursor: pointer; }
ul.pages div.edit a:hover { background: #69a850; color: #FFF; }
ul.pages div.page { width: 25%; font-weight: bold; font-size: 14px; line-height: 28px; -webkit-text-stroke: .5px; }
ul.pages div.page a { text-decoration: none; line-height: normal; }
ul.pages div.page a:hover { text-decoration: underline; }
ul.pages div.permalink { width: 26%; word-break: break-all; -webkit-text-stroke: .5px; }
ul.pages div.permalink input { border: 0; outline: 0; background: transparent; padding: 3px; font-size: 12px; color: #707070; margin: 0; width: 100%; cursor: pointer; border-radius: 0; }
ul.pages div.permalink input:hover { border-bottom: 1px solid #C0C0C0; }
ul.pages div.permalink input:focus { background: transparent; color: #404040; border-bottom: 1px solid #808080; cursor: text; box-shadow: none; }
ul.pages div.subpages { cursor: pointer; width: 13%; text-align: center; text-transform: uppercase; -webkit-text-stroke: .5px; }
ul.pages div.subpages:hover { text-decoration: underline; }
ul.pages div.published, ul.pages div.remove { width: 5%; text-align: center; font-weight: normal; font-size: 16px; }
ul.pages div.published { width: 10%; }
ul.pages div.modified { width: 13%; text-align: center; line-height: normal; -webkit-text-stroke: .5px; }
ul.pages div a span { display: block; font-size: 11px; text-transform: uppercase; color: #707070; text-decoration: none; font-weight: normal; }
ul.pages div.published a { display: block; margin: 0 auto; width: 10px; height: 10px; border-radius: 50em; cursor: pointer }
ul.pages div.published a.active { background: #69a850; }
ul.pages div.published a.inactive { background: #C0C0C0; }
/* Second Tier */
ul.pages li.subpages { display: none; margin: 0 0 0 2%; background: 0; padding: 0; border: 0; }
ul.pages li.subpages:hover { border: 0; background: none; } /* Cancel hover */
ul.pages ul { list-style: none; margin: 0; padding: 0; }
ul.pages li.subpages > ul li {  max-height: 57px; }
ul.pages li.inactive .published a { background: #C0C0C0; }


/* Save/Publish Notifications */
.notify { position:fixed; left: 0; top: 0; width: 100%; display: block; z-index: 1500; }
.notify a.msg { background: #69a850; padding: 20px 0; color: #FFF; text-transform: uppercase; text-decoration: none; font-weight: 600; font-size: 14px; box-shadow: 0 0 10px rgba(0,0,0,.5); text-align: center; display: block; }
.notify a.error { background: #dd4b4b; padding: 20px 0; color: #4F4000; text-transform: uppercase; text-decoration: none; font-weight: 600; font-size: 14px; box-shadow: 0 0 10px rgba(0,0,0,.5); text-align: center; display: block; }
.notify a.warning { background: #FFBF38; padding: 20px 0; color: #4F4000; text-transform: uppercase; text-decoration: none; font-weight: 600; font-size: 14px; box-shadow: 0 0 10px rgba(0,0,0,.5); text-align: center; display: block; }



/* Edit/Add Pages
----------------------------- */
ul.layout-list { margin: 0 31px; }
div.layout-choice { min-height: 345px; }
.parent-pages { min-height: 291px; max-height: 660px;}
div.revision-history { max-height: 291px; }
div.revision-history-scroll {  max-height: 160px; overflow-y:scroll!important;}
.page-settings, .layout-choice, div.revision-history, .seo-settings, .parent-pages { border: 1px solid #DDD; border-radius: 3px; overflow: hidden; margin-bottom: 25px; }
.header { background: #F0F0F0; border-bottom: 1px solid #DDD; }
.header h3 { padding: 15px 20px; margin: 0; -webkit-text-stroke: .5px; }
.title-table td { padding: 10px 0 20px; text-align: left; line-height: normal; }
.title-table td input[type="text"] { width: 75%; }
ul.edit-page { list-style: none; margin: 0; padding: 0; }
ul.edit-page li { padding: 10px 0; }
ul.edit-page li label { display: block; font-size: 14px; color: #404040; }
ul.edit-page li input:not([type="submit"]), ul.edit-page li select, ul.edit-page li textarea { width: 100%; padding: 7px; }
ul.edit-page li select { width: 40%; }
ul.edit-page li textarea { height: 200px; }
ul.textarea-list { list-style: none; margin: 0; padding: 0; }
ul.textarea-list li { float: left; }
ul.textarea-list li.two-thirds { width: 67%; }
ul.textarea-list li.one-third { width: 33%; }
ul.textarea-list li.one-quarter{ width:25%;   }
ul.textarea-list li.split { width:50%;   }
ul.textarea-list li.three-thirds{ width:100%;   }
/*.template-container .vpanel-table { max-width: 100%; width:90%; }*/
img.help-tip { max-width: 16px; }

ul.field-list { list-style: none; margin: 0; padding: 0; }
ul.field-list li { padding: 7px 20px; border-bottom: 1px solid #EEE; }
ul.field-list li:nth-child(even) { background: #F9F9F9; }
ul.field-list li label { -webkit-text-stroke: .5px; }
ul.field-list li label.mainlabel { width: 150px; display: inline-block; }
ul.field-list li label.wider { display: inline-block; width: 100px; }

ul.category-list { list-style: none; padding: 15px; margin: 0; overflow-y: auto; max-height: 300px; }
ul.category-list ul { list-style: none; margin: 0; padding: 0; }
ul.category-list ul ul { margin-left: 1.5em; }
ul.category-list li { margin-bottom: 2px; -webkit-text-stroke: .5px; }
ul.category-list li.top > label.select-category { display: block; padding: 0 0 5px; margin: 0 0 5px; border-bottom: 1px dashed #CCC; }
ul.category-list li label { display: block; }
ul.category-list li.inactive > label { color: #b4b4b4; background: url("/vpanel/images/bg-inactive.jpg") left top repeat; }

/*ul.revision-history{ max-height:220px; padding:0;} */
ul.revision-history li { list-style:none; position:relative; border-bottom: 1px solid #EEE; font-size: 12px; }
ul.revision-history li label{ display:block;    float:none; font-weight:normal; margin-bottom:4px;cursor:pointer;}
ul.revision-history li.inactive label{ color:black; }
ul.revision-history li.inactive > label{ color:#b4b4b4; background: url("/VPanel/images/bg-inactive.jpg") left top repeat; }
ul.revision-history ul.children{ margin:0; padding-left:16px;}
ul.revision-history li.top > label{ border-bottom:1px dashed #efefef;margin-bottom:14px;}
ul.revision-history li.top  > ul{ padding-left:0px;}
ul.revision-history li span{ padding-right:4px; }
ul.revision-history li .date{ float:left; width: 200px;}
ul.revision-history li .user{float:left; width: 130px; }
ul.revision-history li .serial{float:left; width: 90px; }
ul.revision-history > li  { padding: 0 0 6px 5px;clear:both;height:28px;width:96%;}
ul.revision-history li.current  { background:#d9d9d9; }
ul.revision-history li.current a { }
ul.revision-history li ul{   padding:0;margin:0; position:absolute;right:0px;}
ul.revision-history li ul li {padding:0;margin:0;float:left; margin-right:4px; border: 0;}
ul.revision-history li ul li a{ text-decoration:none; padding: 2px 4px 3px 4px; background:black; border-radius:3px; border:1px solid #c7c7c7; background: #feffff; /* Old browsers */ background: -moz-linear-gradient(top, #feffff 0%, #ededed 33%, #cecece 91%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(33%,#ededed), color-stop(91%,#cecece)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #feffff 0%,#ededed 33%,#cecece 91%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #feffff 0%,#ededed 33%,#cecece 91%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #feffff 0%,#ededed 33%,#cecece 91%); /* IE10+ */ background: linear-gradient(top, #feffff 0%,#ededed 33%,#cecece 91%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */ font-size:11px; color:#555; -webkit-box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, .7); box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, .7);}
ul.revision-history li ul li a:hover{ border-color:#999;}

table#grid td a.button { padding: 5px 7px; font-size: 12px; margin-left: 5px; }
.toolbar #txtSearch { vertical-align: middle !important;}

/* Choose a Template
----------------------------- */
.template-list{border-top:20px solid white;}
.template-list { margin: 0; margin-left: 15px;}
.template-list > li {list-style: none;float: left;width: 120px;height: 90px;border: 1px solid #EEE;margin: 0px 3px 20px 2px;padding: 0;position: relative;cursor: pointer;}
.template-list ul.rad-graphix{ margin:0;padding:10px 10px 15px 10px; }
.template-list ul.rad-graphix > li{ border-radius:3px;display:none;list-style:none; margin:0;padding:0;height:5px;background:#fafafa;border:1px solid #d0d0d6; }
.template-list li.current-template { border-color:#d7d7d7; background-color:#e7e7e7;}
.template-list li.current-template ul.rad-graphix > li {   background-color:#ffffff;}
.template-list span{display:block;width:100%;text-align:center;position:relative;color:#b0b0b0;font-size:11px;font-weight:light;top:7px;}
.template-list li.current-template span{color:#555;}
.template-list .template-left-column ul.rad-graphix > li.one1 { display:block; }
.template-list .template-left-column ul.rad-graphix > li.two2 { height:40px;display:block; float:left; width:30%; margin:5px 5px 0px 0px;}
.template-list .template-left-column ul.rad-graphix > li.three3 {height:40px;display:block; float:left; width:60%; margin:5px 0px 0px 0px;}
.template-list .template-right-column ul.rad-graphix > li.one1 { display:block; }
.template-list .template-right-column ul.rad-graphix > li.two2 { height:40px;display:block; float:left; width:60%; margin:5px 5px 0px 0px;}
.template-list .template-right-column ul.rad-graphix > li.three3 {height:40px;display:block; float:left; width:30%; margin:5px 0px 0px 0px;}
.template-list .template-one-column ul.rad-graphix > li.one1 { display:block; }
.template-list .template-one-column ul.rad-graphix > li.two2 { }
.template-list .template-one-column ul.rad-graphix > li.three3 {height:40px;display:block; float:left; width:98%; margin:5px 0px 0px 0px;}
.template-list .template-split-column ul.rad-graphix > li.one1 { display:block; }
.template-list .template-split-column ul.rad-graphix > li.two2 { height:40px;display:block; float:left; width:45%; margin:5px 5px 0px 0px;}
.template-list .template-split-column ul.rad-graphix > li.three3 {height:40px;display:block; float:left; width:45%; margin:5px 0px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.one1 { display:block; }
.template-list .template-three-column ul.rad-graphix > li.two2 { height:40px;display:block; float:left; width:15%; margin:5px 5px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.three3 {height:40px;display:block; float:left; width:53%; margin:5px 0px 0px 0px;}
.template-list .template-three-column ul.rad-graphix > li.four4 {height:40px;display:block; float:left; width:15%; margin:5px 0px 0px 5px;}
.template-list .template-form-builder { background:url("/VPanel/images/icon-form-builder-tiny.png") 21px 2px no-repeat; }
.template-list .template-form-builder ul.rad-graphix { height:59px; }


/* Messages
----------------------------- */
.message, .okMessage, .error2 { border-radius: 3px; padding: 5px 10px; font-size: 13px; margin: 1em 0; color: #FFF; font-weight: bold; }
.message[class*="icon-"]:before { font-size: 18px; margin-right: 15px; vertical-align: top; }
.success, .okMessage { background: #69a850; }
.error, .error2 { background: #dd4b4b; color: #FFF !important; }
.warning { background: #ffbf38; color: #404040; }
.help { background: #399eeb; }
.okMessage p { color: #FFF; margin: 0; }
.message ul li { margin: 0 !important; }
div.message a.close { position: absolute; width: 24px; height: 24px; cursor: pointer; right: 10px; top: 25%; display: block; background: url("/images/close-white.png") no-repeat; text-indent: -9999em; }

#contentOrder, #contentOrder2 {float: left; width: 550px;}
#contentOrder li, #contentOrder2 li {list-style: none; margin: 0 0 4px 0; padding: 5px; background-color: #0D445E; border: #CCCCCC solid 1px; color: #fff; cursor: move;}
#contentResults, #contentResults2 {width: 500px; margin: 0 0 0 40px; padding:5px; background-color:#0D445E; color:#FFFFFF;}


/* Filters */
ul.filters { margin: 0 0 3%; }
ul.filters.nomargin { margin: 0; }
ul.filters li b { display: block; }
ul.filters li { min-height: 60px; margin-bottom: 1%; }
ul.filters li.twelvecol { min-height: 0; }


/* Maintenance Tables */
table.grid-display { width: 100% }
table.grid-display > tr th { font-weight: bold; padding: 7px 15px; }
table.grid-display > tbody > tr > td { padding: 7px 15px; border-bottom: 1px solid #EEE; vertical-align: middle; line-height: normal; }
table.grid-display td td { border: 0; background: transparent !important; }
table.grid-display tr:nth-child(odd) td { background: #EBEBEB; }
table.grid-display .tipBubble { font-size: .913em; color: #808080; margin-top: 10px; }
table.grid-display tr td > a { padding: 4px 8px; }
table.grid-display tr:hover > td a { opacity: 1; }
table.grid-display a.button:before { margin: 0; }
table.grid-display a.remove { color: #B00; text-decoration: none; font-size: 1.25em; }


/* Resources/Plugins */
.assetOverview .btn_view { float: right; margin-top: 23px; }
.assetOverview .assetOverview, .fullcontent .assetOverview { border-bottom: 1px solid #EEE; padding: 10px 20px; }
.assetOverview h2 { font-size: 16px; -webkit-text-stroke: .5px; }
.assetOverview h2, .assetOverview span, .fullcontent .assetOverview span { margin: .5em 0 0; display: block; max-width: 80%; }
.assetOverview p { margin-bottom: .5em; }
.assetOverview .assetOverview.odd, .fullcontent .assetOverview.even { background: #F9F9F9; }
.assetOverview.nodesc .btn_view { margin-top: 8px; }
.assetOverview.nodesc h2 { float: left; }
#assetListWindow {
    overflow: "auto";
    max-height: 550px;
    line-height: 25px;
}

input[readonly="readonly"] {
    background: #f2f2f2 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;    
}
input[readonly="readonly"]:focus {
    border: 1px solid #ccc !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
}

/* System info */
ul.system-info { list-style: none; margin: 0; padding: 0; -webkit-text-stroke: .5px; }
ul.system-info ul { list-style: none; margin: 1em 1.5em 3em; }
ul.system-info li h3 { border-bottom: 1px solid #EEE; padding: 0 0 .5em; }


/* Overlays */
.simple_overlay { display: none; background: #202020; border-radius: 5px; padding: 1%; left: 0; box-shadow: 0 0 25px rgba(0,0,0,.5); }
.simple_overlay a.vPlayer { width: 520px; height:330px; display: block; margin: 0 auto; }
.simple_overlay a.close { position: absolute; display: block; right: -10px; top: -10px; background: url("../images/close.png") left top no-repeat; width: 30px; height: 30px; cursor: pointer; }


/* Joyride */
.tip-content { display: none; }
.joyride-tip-guide { position: absolute; background: #0d445e; box-shadow: 0 3px 15px rgba(0,0,0,.75); display: none; width: 300px; z-index: 1010; font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, Arial, Lucida, sans-serif; font-weight: normal; border-radius: 5px; }
.joyride-nub { border: inset 8px; position: absolute; left: 25px; }
.joyride-nub.top { border-top-style: solid; border-color: #063044; border-top-color: transparent !important; border-left-color: transparent !important; border-right-color: transparent !important; top: -16px; }
.joyride-nub.right { left: auto; right: -16px; top: 21px; border-left-style: solid; border-color: #063044; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; }
.joyride-nub.bottom { border-top-style: solid; border-color: #0d445e; border-bottom-color: transparent !important; border-left-color: transparent !important; border-right-color: transparent !important; bottom: -16px; left: 146px; }
.joyride-nub.left { left: -16px; top: 21px; border-right-style: solid; border-color: #063044; border-top-color: transparent !important; border-left-color: transparent !important; border-bottom-color: transparent !important; }
.joyride-tip-guide h2 { background: #063044; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 15px; margin: 0; color: #ffd65d; font-size: 16px; font-weight: bold; }
.joyride-tip-guide p { color: #FFF; font-size: 15px; line-height: 18px; padding: 15px; margin: 0; }
.joyride-next-tip { display: block; max-width:75px; text-align: center; outline: none; margin: 5px 15px 20px; }
.joyride-close-tip { font-weight: 900; font-size: 11px; display: block; width: px; height: px; position: absolute; color: #FFf !important; text-decoration: none !important; top: 15px; right: 15px; width: 25px; height: 25px; border-radius: 50%; background: rgba(0,0,0,.2); text-align: center; line-height: 24px; }

/* Typography
----------------------------- */
body, p, table, li, input, textarea, select, blockquote, span, h1, h2, h3, h4, h5 { -webkit-font-smoothing: antialiased; -webkit-text-rendering: optimizeLegibility; font-family: "Lato", Arial, sans-serif; }
h1, h2, h3, h4, h5 { font-weight: normal; }
h1 { font-size: 26px; font-weight: 600; color: #303030; margin: 0 0 1em; }
h2 { font-size: 21px; font-weight: bold; color: #0d445e; margin: .5em 0; }
h3 { font-size: 18px; font-weight: bold; color: #303030; margin: .5em 0 .25em; }
h4 { font-size: 16px; font-weight: normal; color: #505050; margin: .5em 0 .25em; }
p { color: #505050; margin: 0 0 1em; }
p.intro { color: #707070; }
a, a:link, a:visited { color: #0a5b81; text-decoration: underline; }
a:hover { color: #303030; text-decoration: none; }
em, i { font-style: italic; }
b, strong { font-weight: bold; }
.strike { text-decoration: line-through; color: #f05d38; }

ol { list-style: inside decimal; margin: 1.5em; }
ul { list-style: inside disc; margin: 1.5em; }
/* Tooltip Styling */
.tooltip { border-radius: 3px; background: #0d445e; color: #fff; padding: 5px 10px; font-size: 11px; text-transform: uppercase; font-weight: bold; line-height: normal; }


/* Buttons
----------------------------- */
.button, .joyride-next-tip { border-radius: 3px; text-decoration: none !important; font-weight: bold; font-size: 1em; font-weight: bold ; padding: 7px 10px; text-align: center; line-height: normal;cursor: pointer; }
.button-slim { border-radius: 3px; text-decoration: none !important; font-weight: bold; font-size: .875em; font-weight: bold ; padding: 3px 6px; text-align: center; line-height: normal;cursor: pointer; }
.k-grid .button-slim { margin-right: 3px; text-transform: uppercase; }
.green { background: #69a850; border: 1px solid #58a041; color: #FFF !important; }
.green:hover { background: #76ba5a; }
.red { background: #dd4b4b; border: 1px solid #aa2f2f; color: #FFF !important; }
.red:hover { background: #ef6363; }
.blue { background: #21aee6; border: 1px solid #0098d5; color: #FFF !important; }
.blue:hover { background: #41b8e8; }
.yellow, .joyride-next-tip { background: #ffd65d; border: 1px solid #d4ab34; color: #514217 !important; }
.yellow:hover, .joyride-next-tip:hover { background: #ffdd79; }
.silver { background: #F9F9F9; border: 1px solid #C0C0C0; color: #505050 !important; }
.silver:hover { background: #FFF; border: 1px solid #AAA; }
.button[class*="icon-"]:before, .button-slim[class*="icon-"]:before { margin-right: 10px; opacity: .75; }

div.buttons { margin-top: 2%; margin-bottom: 2%; }
div.buttons.top { margin-top: 0; }
div.buttons a.floatLeft { margin-right: 10px; }
div.buttons b.floatLeft { margin-right: 10px; }
div.buttons a.floatRight { margin-left: 10px; }
div.buttons b.floatRight { margin-left: 10px; }


/* Telerik CSS 
----------------------------- */
.rgMasterTable tr td { line-height: normal; }
.RadDropDownList .rddlInner { height: 23px!important; }
.RadGrid_MetroTouch, .RadGrid_MetroTouch .rgMasterTable, .RadGrid_MetroTouch .rgDetailTable, .RadGrid_MetroTouch .rgGroupPanel table, .RadGrid_MetroTouch .rgCommandRow table, .RadGrid_MetroTouch .rgEditForm table, .RadGrid_MetroTouch .rgPager table { font-family: "Lato",Arial,sans-serif!important; font-size: 14px!important; line-height: 25px!important; font-weight: normal !important;}
.RadGrid_MetroTouch .rgRow a, .RadGrid_MetroTouch .rgAltRow a, .RadGrid_MetroTouch tr.rgEditRow a, .RadGrid_MetroTouch .rgFooter a, .RadGrid_MetroTouch .rgEditForm a { color: #707070; text-decoration: none; }

.RadGrid div { display: inline }
.RadGrid .rgWrap, .RadGrid .rgWrap div { display: inline-block; }
.RadComboBoxDropDown_MetroTouch .rcbItem, .RadComboBoxDropDown_MetroTouch .rcbHovered { font-weight: normal !important; }
.RadGrid div.edit { width: 5%; text-align: center; font-size: 16px; }
.RadGrid li:hover > div.edit { opacity: 1; filter: alpha(opacity=1); }
div.edit a, div.remove a, div.view a { display: inline-block; text-decoration: none; border-radius: 3px; cursor: pointer; width: 25px; color: #707070 !important; line-height: 24px; }
div.edit a:hover { background: #69a850; color: #FFF !important; }
div.remove { text-align: center; font-size: 18px; }
div.remove a:hover { color: #FFF !important; background: #c74949; }
div.view { text-align: center; font-size: 18px; width: 25px; }
div.view a:hover { color: #FFF !important; background: #21aee6; }
.RadTabStrip .rtsLevel1 .rtsTxt, .RadTabStripVertical .rtsLevel1 .rtsTxt { font-weight: normal; font-family: "Lato", Arial, Helvetica, sans-serif; }


/* Inputs
----------------------------- */
input[type="email"], input[type="text"], input[type="tel"], input[type="url"], input[type="date"], input[type="number"], select, textarea, input[type="password"] { border-radius: 3px; background: #FFF; border: 1px solid #CCC; padding: 5px; font-size: 14px; max-width: 100%; width: 300px; }
textarea { width: 100%; /*height: 250px;*/ }
input:not([type="submit"]):focus, select:focus, textarea:focus { border: 1px solid #6ebefc; outline: none; box-shadow: 0 0 5px #b5dfff; }

/* Notifications
----------------------------- */
ul.account-settings { 
    margin: 20px 0 0 important!;
}
ul.account-settings  li {
    border-bottom: 1px solid #eee;
    padding: 3px;
    text-align: right;
}
ul.account-settings li h3 { text-align: left; }

ul.account-settings li strong {
    float: left;
    font-weight: 600;
}

ul.account-settings li span {
    font-size: 12px;
    font-weight: normal !important;
}

.message {
    font-size: 13px;
    width: 100%;
    padding: 1em;
    margin: 0 0 2em;
}

.notification {
    background-position: 10px 3px !important;
    background-repeat: no-repeat !important;
    border: 1px solid;
    position: relative;
    width: 99.8%;
}
.notification p {
    line-height: 1.5;
    margin: 0;
    color: inherit;
}
.attention {
    background: #fffbcc url("../../Images/exclamation.png") no-repeat scroll 10px 11px;
    border-color: #e6db55;
    color: #666452;
}
.information {
    background: #73bedb;
    color: #1b495b;
    border: 0;
}
.information a { color: #1b495b; }
.message input.xButton { position: absolute; right: 12px; top: 12px; outline: none; box-shadow: none; cursor: pointer; }
.message p .red { background: none; color: #aa2f2f !important; border: 0; }
.msg-title { border-radius: 3px; background: rgba(0,0,0,.5); padding: .25em .75em; font-size: 12px; text-transform: uppercase; margin-right: .75em; color: #FFF; }


/* User Information */
.account-settings, .account-settings ul { list-style: none; margin: 0; padding: 0; }
.account-settings .role:after { content: "|"; color: #c0c0c0; margin: 0 .35em; }
.account-settings .role:last-child:after { display: none; }


/* Tabbed Content */
.content-tabs .panel { display: none; }
.content-tabs .panel .cke { width: 100% !important; }


@media only screen and (device-width: 768px) {
    /* Targeting iPads in both views */
    .overlay { background-position: 120% 50px; padding-right: 50%; }
}

@media only screen and (min-width: 767px) and (max-width: 959px) {
    body.administrator-default aside { display: none; }
	body.administrator-default .subcontent { width: 100%;padding: 3%; }
	.container { min-width: 0; }
	.navigation ul li { width: 12.5%; }

	nav.subnav { position: relative; width: 100%; background: none; padding: 3% 3% 0; }
	nav.subnav ul li { width: 20%; float: left; }
	nav.subnav ul li a { padding: 5px; }
	.subcontent { padding-left: 3%; width: 100%; }
	ul.pages li.subpages > ul li { max-height: none; }

	.contact a { margin-top: 10px; }

	h2.heading { font-size: 16px; }
	#ctl00_MainContentPlaceHolder_SideContentRadEditor { min-width: 225px !important; width: 225px !important;}
	#ctl00_MainContentPlaceHolder_ContentRadEditor { min-width: 0 !important; width: auto !important; }
	ul.table li div.desc { width: 35%; }
	ul.table li div.date { width: 18%; text-align: center; }
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
    .overlay { font-size: 14px; }
	.overlay.updatelogo { background: #FFF url("../images/upload-logo.png") 120% 50px no-repeat; }
	.overlay.location { background: #FFF url("../images/confirm-location.png") 120% 50px no-repeat; }
	.overlay.images { background: #FFF url("../images/add-images.png") 120% 50px no-repeat; }
	.overlay.products { background: #FFF url("../images/product-categories.png") 130% 50px no-repeat; }
	.overlay.writing { background: #FFF url("../images/writing-content.png") 120% 50px no-repeat; }
	.overlay .holder { padding-right: 45%; }
	.overlay ul.progress li { margin-right: 25px; }
	.overlay a.timeline-button { padding: 5px 10px; }
}

@media print {
	.masthead, .title, .contact, .subnav, .buttons { display: none !important; }
	.maincontent { margin: 0; }
	.maincontent > .container { border: 0!important; box-shadow: none; }
	.subcontent { padding: 0; float: none; width: 100%; }
	.print-section { display: inline-block; vertical-align: top; width: 47%; margin-right: 2.5%; margin-bottom: 2em; }
	.grid-display td { padding: .75em 0 !important; }
	.grid-display tr > td:first-child { text-align: left !important; }
}