/* Reset browser styles */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,main,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Global Classes */
.clearfloat{clear:both;height:0;font-size:1px;line-height:0}
.clearfix:after,.clearfix:before{content:"";display:table}
.clearfix:after{clear:both}
.overFlow{overflow:auto}

/* Structure Globals */
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html{-webkit-text-size-adjust:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
.container{width:90%;margin: 0 auto}
html,body { height:100%;min-height:100%; }

/* Notifications */
.message,.notification{border-radius:3px;padding:10px;font-size:14px;font-size:.875rem;margin:0 0 1rem;color:#FFF}
.message p{color:#FFF;margin:0;font-size:14px;font-size:.875rem}
.success,.valid{background:#D5FFCE;border-color:#9ADF8F;color:#556652!important;font-size:14px;font-size:.875rem}
.success h1,.valid h1{margin-top:1px;font-size:16px;font-size:1rem;color:#556652!important}
.error,.invalid{background:#c54747}
.warning{background:#e99a29}
.info{background:#4d9ed6}

/* error message */
input[type=date],input[type=email],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{border:1px solid #CCC;padding:.75em 1em;width:100%;margin:0;color:#454554;font-size:16px;font-size:1rem}
input[type=date]:focus,input[type=email]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #09F;box-shadow:0 0 5px rgba(0,153,255,.5)}
textarea{width:100%;height:100px}.none{display:none}
input[type="submit"],button{-webkit-appearance:none}
.required:after { content: ' *'; color: #900; font-weight: bold; }


/* Page Structure */
body { background: #9ad1ed url("//cdn.forbin.com/Forbin/site-login/bg-login.jpg") center no-repeat; background-size: cover; font-family: Helvetica, Arial, sans-serif; font-size: 14px; font-size: .875rem; }
.table { display: table; width: 100%; height: 100%; }
.cell { display: table-cell; vertical-align: middle; }
header { margin-bottom: 2em; text-align:center; }
.form-box { padding: 2.5em; background: #FFF; box-shadow: 0 5px 25px rgba(0,0,0,.75); max-width: 400px; margin: 0 auto; }
.form-box li { margin: 0 0 1.5em; }
.form-box label { font-weight: bold; font-size: 13px; text-transform: uppercase; color: #454545; display:block; margin: 0 0 5px; }
.form-box input[type=submit] { display:block; margin: .5em auto 2em; border: 0; background: #1577BD; font-size: 14px; color: #FFF; padding: .75em 2.5em; font-weight: bold; cursor: pointer; }
footer { text-align: center; }
footer p { font-size: 11px; color: #787878; margin: 0; }