/* Joyride */
.tip-content { display: none; }
.joyride-tip-guide { position: absolute; background: #0d445e; box-shadow: 0 3px 15px rgba(0,0,0,.75); display: none; width: 300px; z-index: 1010; font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, Arial, Lucida, sans-serif; font-weight: normal; border-radius: 5px; }
.joyride-nub { border: inset 8px; position: absolute; left: 25px; }
.joyride-nub.top { border-top-style: solid; border-color: #ffd65d; border-top-color: transparent !important; border-left-color: transparent !important; border-right-color: transparent !important; top: -16px; }
.joyride-nub.right { left: auto; right: -16px; top: 21px; border-left-style: solid; border-color: #063044; border-top-color: transparent !important; border-right-color: transparent !important; border-bottom-color: transparent !important; }
.joyride-nub.bottom { border-top-style: solid; border-color: #0d445e; border-bottom-color: transparent !important; border-left-color: transparent !important; border-right-color: transparent !important; bottom: -16px; left: 146px; }
.joyride-nub.left { left: -16px; top: 21px; border-right-style: solid; border-color: #063044; border-top-color: transparent !important; border-left-color: transparent !important; border-bottom-color: transparent !important; }
.joyride-tip-guide h2 { background: #ffd65d; border-top-left-radius: 5px; border-top-right-radius: 5px; padding: 15px; margin: 0; color: #ffd65d; font-size: 16px; font-weight: bold; }
.joyride-tip-guide p { color: #FFF; font-size: 15px; line-height: 18px; padding: 15px; margin: 0; }
.joyride-next-tip { display: block; max-width:75px; text-align: center; outline: none; margin: 5px 15px 20px; }
.joyride-close-tip { font-weight: 900; font-size: 11px; display: block; width: px; height: px; position: absolute; color: #FFf !important; text-decoration: none !important; top: 15px; right: 15px; width: 25px; height: 25px; border-radius: 50%; background: rgba(0,0,0,.2); text-align: center; line-height: 24px; }